[2017-05-31 11:04] GiedriusM opened #6 "Issues with build steps"
Some things I've noticed while building.

First, I think ctags is not needed to build this.

Second, nodejs bower package is needed, so
[code]
should be added.

Third, bower seems to be deprecated: `npm WARN deprecated bower@1.8.0: ..psst! While Bower is maintained, we recommend yarn and webpack for new front-end projects! Please read our blog for more.`

Fourth, the service names do not match, i.

[2017-05-31 11:23] bukepo commented on #6
1. `ctags` is needed when doing `distcheck`.
2. Added, thanks.
3. Thanks, we are also investigating `yarn`.
4. updated, thanks.

[2017-05-31 20:35] jwhui commented on #6
@GiedriusM, thanks for your feedback!  It seems most of the issues you raised have been addressed.  If you agree, would you mind closing this issue and possibly opening a new one to track the deprecated bower issue?

[2017-05-31 23:49] DuaneEllis-TI opened #8 "without ctags installed - build does not work"
While the scripts check for CTAGs to be present... (exuberant ctags)

if CTAGs is not actually present, the build does not work very well.

Short term:
   Configure should fail if ctags are not present
Long term:
   It needs a fix.

[2017-06-01 03:59] bukepo commented on #8
Yes, `ctags` is required now. We'll improve the configure scripts. Thanks.

[2017-06-01 07:05] GiedriusM opened #9 "Deprecated bower package"
npm WARN deprecated bower@1.8.0: ..psst! While Bower is maintained, we recommend yarn and webpack for new front-end projects! Please read our blog for more.

[2017-06-02 16:29] jwhui commented on #8
Short term fix provided by #11.

[2017-06-02 16:29] #8 closed

[2017-06-03 07:41] jamesblasco opened #15 "Android Things Support"
It would be a great oportunity to support  borderrouter project in a raspberry pi builded with Android Things image. Android Things is a platform based on Linux kernel that makes easy to create iot devices which can communicate easily with each other  and with other platforms such as android phones, windows or ios

[2017-06-04 21:36] DuaneEllis-TI opened #17 "make -j problems building from scripts"
Here:

https://github.com/openthread/borderrouter/blob/master/script/_otbr#L50

In the scripts directory, make is invoked with the number of processors for the "-j" parameter.

On a reduced target such as a Beagle Bone runs out of memory when compiling things.

* RaspberryPi => 1GIG ram
* BeagleBone => 512MEG ram.

for example:
[code]

[2017-06-04 22:03] DuaneEllis-TI opened #18 "build on a clean Raspberry PI fails using the 'one script' method"
Using a FRESH raspbian image, on a RaspberryPI 3 B+ using this image:
[code]
The error message I get is this (in contrast, the Beagle Bone Black) goes past this step.
perhaps, when these docs where written the NodeJS package was already installed?
And thus the script skipped over this part?
[code]

[2017-06-04 23:14] DuaneEllis-TI opened #19 "Radvd?"
What is the plan for "off-platform" (ie: off raspberry pi, or beagle bone) devices to find a route to the thread network? What I mean is this:

Consider the following:
* The Thread Network has on-network prefix (T)
* My home office network has prefix (H) [in my case provided by AT&T Uverse
* Thus my BBB (or raspberry pi) has two interfaces with address (H) and (T).

My cellphone, and laptop only h

[2017-06-04 23:37] DuaneEllis-TI opened #20 "Static links to images should be relative to the REPO not pointing elsehere"
This occurs with the main readme.md file.

Specifically the large block diagram, the link points to:
(note: I have to mangle the LINK otherwise the ISSUE tracker treats this as a real link)
-> OTBR Architecture ->
 _HTTPS_://gist.githubusercontent.com/Vyrastas/0489e2c081c0444c2462dcee54962cb7/raw/100a8a08f1e9103672017f0f05eac6f85cb8e31a/otbr-arch-borderagent_2x.png

Image links currently links poi

[2017-06-04 23:38] DuaneEllis-TI opened #21 "It would be good to have a commissioning example."
Not sure where this goes - but in the total system level documentation these things are missing:

a) How to use the Thread Commissioning app to configure the border router it self.

b) How to "de-commission" the Border Router - sort of "factory reset" back to not-commissioned state.

c) starting with the commissioned border router, but it is a singleton. Example should show how to configure a CLI

[2017-06-05 01:09] jwhui commented on #19
This is a topic that the Thread Group's Border Router Best Practices Effort is trying to address.

RAs are certainly a possible solution, but it does not provide a complete solution for all IPv6 environments.  In particular, RAs will not work in environments that employ IPv6 Router Advertisement Guards [RFC 6105](https://tools.ietf.org/html/rfc6105).  Furthermore, RAs only address the "route propa

[2017-06-05 02:23] DuaneEllis-TI commented on #19
I think putting the RADAV in place with clear warnings/documentation etc that says: SUBJECT TO CHANGE is important

otherwise, cute little example applications are not going to work.

This could/should be done when BR forms a network, and the on-network prefix is known.

[2017-06-05 02:40] DuaneEllis-TI commented on #17
Wow - I have not hit this type of problem in a very long time.

It's not really the "-j" option, the BBB does not have enough ram to compile the web_service.cpp file in its present form. End of story, full stop.

The issue really comes down to the BBB having 512K of RAM vrs 1GIG for the Raspberry PI.
Enabling virtual swap space is not really viable here.

At this point, I've split the file up into

[2017-06-05 07:09] bukepo opened #22 "Reuse macro defined in wpantund instead of literal or redefine them"

[2017-06-05 07:55] lanyuwen commented on #9
We also observed the build process would be broken when the local clock was not configured properly and bower wanted to pull angular resource through https. A potential solution would be maintaining needed angular resource within the repository (i.e., put those angular files under third_party/angular).

[2017-06-05 07:57] lanyuwen opened #23 "Add nat64 configurations on Web UI"

[2017-06-05 13:16] DuaneEllis-TI opened #26 "web service, alternate port number?"
Some embedded platforms already have a WEB service running on Port 80...

The beagle bone is one of them,  it would be nice if the border router web interface
could be easily configured, or fail over to some other port, for example 8080?

[2017-06-05 13:19] DuaneEllis-TI commented on #17
More detail, these three functions seem to be the beasts from a compiler memory point of view.

void WebServer::HandleHttpRequest()
void WebServer::WebServer() <- The constructor
void WebServer::~WebServer() <- The destructor

[2017-06-05 15:27] bukepo commented on #18
I think #24 will solve this issue.

[2017-06-05 16:31] jwhui commented on #19
I agree.  @bukepo, can you look into using RADVD to advertise the Thread network's prefix?

[2017-06-05 17:20] DuaneEllis-TI commented on #18
How do you think #24 will solve this?  I do not see a change to the OneScript files that are giving the error.

[2017-06-05 19:56] jwhui commented on #15
Thanks for this request!  As FYI, this border router project initially targets Linux platforms and has been demonstrated on a Raspberry Pi 3 running Raspbian Jesse Lite.  We plan on supporting more platforms, and Android Things would be a great target.  We'll keep this on the backlog.

[2017-06-06 00:37] bukepo commented on #18
I'm sorry, I think we should fix the issue in that PR. @LeZhang2016 could you please remove line 58~64 in [script/bootstrap](https://github.com/openthread/borderrouter/blob/master/script/bootstrap) in #24

[2017-06-06 01:52] bukepo commented on #19
OK. I will look into it soon.

[2017-06-06 03:14] bukepo opened #28 "Web GUI functional test"
I think we should add some basic functional tests for web. To make this happen, I think we should have the following changes,

1. support set listening port at runtime instead of hard coded 80.
2. support set location of front-end files at runtime instead of fixed at compiling time.
3. document HTTP APIs.

[2017-06-06 03:56] LeZhang2016 opened #29 "Include Doxygen for all public methods"

[2017-06-07 05:29] jwhui commented on #9
Resolved by #24.

[2017-06-07 05:29] #9 closed

[2017-06-07 05:30] jwhui commented on #18
Resolved by #24.

[2017-06-07 05:30] #18 closed

[2017-06-07 13:30] bukepo opened #35 "NAT64 wiki"
Added wiki page for NAT64 configuration. [NAT64](https://github.com/openthread/borderrouter/wiki/NAT64)

@lanyuwen @jwhui

[2017-06-07 14:28] beriberikix commented on #28
Angular also has a bunch of native constructs for both [Unit](https://docs.angularjs.org/guide/unit-testing) and [e2e](https://docs.angularjs.org/guide/e2e-testing) testing. See also [karma](http://karma-runner.github.io/).

[2017-06-08 01:21] LeZhang2016 commented on #28
@beriberikix , Thanks a lot for your suggestion, i will investigate the test methods you proposed.:-)

[2017-06-09 22:16] DuaneEllis-TI opened #39 "bug: bash vrs dash issues"
The LIBCOAP package seems to not play nicely when your shell=dash (the default on some debian platforms) specifically it cannot find the compiler.

The solution is to document that the developer must switch the system shell to bash

[2017-06-10 12:23] beriberikix commented on #39
Any idea why it is dependent on ba bash?

[2017-06-10 13:19] bukepo commented on #39
I tried
[code]
It runs successfully. Could you please share more details? @DuaneEllis-TI

[2017-06-12 13:05] DuaneEllis-TI commented on #39
Its not the border router or wpantund.

It is libcoap has major failures on BeagleBone, it is not during the the configure step, it is during the build step that fails.

BTW - have you timed how long things take? In total, I'm seeing about 1hr 15min to perform the bootstrap step, followed by another 1hr or so to do the setup step.

Thus, the cycle time to complete this process takes a while...

[2017-06-12 13:07] DuaneEllis-TI commented on #17
I can provide a solution to this when I get some other things lined up.
Basically all that is required is to enable a SWAPFILE ...
I'm adding a script to the "script" folder to do that.

[2017-06-13 00:29] DuaneEllis-TI commented on #19
@bukepo - Any update on this?

-Duane.

[2017-06-13 01:43] bukepo commented on #39
Thanks, I tried with dash, it builds successfully. I'm looking forward to the log output.

[2017-06-13 01:54] bukepo commented on #19
Yes, I did some research, but I cannot get enough time to get it done. I might be able to submit PR this week.

[2017-06-13 15:29] DuaneEllis-TI opened #42 "USB Devices @ BOOT"
I think this is more of a "development board problem" then an actual product problem.

Many development boards use a USB Serial port for communications to the NCP. Actual physical products will probably reduce cost, and use a dedicated hardware serial port, or SPI interface.

At boot - different platforms enumerate USB interfaces at different rates, and depending upon if a USB hub is present, and

[2017-06-13 16:21] DuaneEllis-TI opened #43 "NAT64/NAT44 documentation issue"
Hmm - Examples and such generally assume the border router is usable in a 192.168.0.0/16 range

Some routers only provide (default to) a 192.168.0.0/24 range.

Example: DLINK : http://support.dlink.com/emulators/dir601/100NA/lan.html

Others require two sub ranges, Range (A) for the normal access and Range(B) for the guest network range (while others do this another way)

Example: CradelPoint (3G

[2017-06-14 02:25] campbellwray opened #44 "Can't find /etc/wpantund.conf"
I have just installed borderrouter on my Raspberry Pi which was previously running wpantund, I followed the installation guide in the wiki and it appears to have worked (can access the web interface), except I cannot connect to the NCP device, my assumption is that this is because wpantund is connecting to the wrong serial device.

The README states that I can configure wpantund with the file`/etc

[2017-06-14 02:29] CampbellWray commented on #44
Probably important to note, I am running wpantund 0.07.01 as it is the latest stable release, maybe the config file was introduced after this release?

[2017-06-14 02:31] bukepo commented on #44
Did you install wpantund in with sysconfdir=/usr/local? If so, the file would be /usr/local/etc/wpantund.conf.
You probably should configure wpantund with --sysconfdir=/etc.

refer https://github.com/openthread/wpantund/blob/master/INSTALL.md#wpantund-installation-guide

[2017-06-14 02:52] CampbellWray commented on #44
That appears to be the issue, is there any difference between it being in /usr/local and /etc, is there any advantage in reinstalling it?

[2017-06-14 03:38] CampbellWray commented on #44
So I have reinstalled wpantund and it is now working using `/etc/wpantund.conf` as the config file. I can launch it from the command line using `sudo wpantund` and it works with no issues

When I try to use `sudo systemctl start wpantund otbr-agent otbr-web` to start the processes both `otbr-agent` and `otbr-web` launch fine but not `wpantund`, this can be seen here:

[code]

Are there any suggest

[2017-06-14 03:42] bukepo commented on #44
I'm not sure if you installed wpantund at `/usr/sbin`. I will update the wiki.
You can also use the following included scripts to setup a border router.

[code]

[2017-06-14 03:51] CampbellWray commented on #44
No I didn't install it in /usr/sbin, I am not sure how to do that so let me know when you have updated the wiki so I can do that.

[2017-06-14 09:22] campbellwray commented on #44
@bukepo I have made some progress with the border router, it all seems to be working properly now.

[2017-06-14 09:22] #44 closed

[2017-06-14 16:31] DuaneEllis-TI opened #45 "BUG - in scripts/bootstrap"
In this commit:  PR:  "enable raspbian check #41"

Introduced problems to the bootstrap script

For example, line 40 reads:
[code]
That does not work.

[2017-06-14 17:14] jwhui commented on #45
Thanks for reporting this issue.  PR coming soon.

[2017-06-14 18:06] DuaneEllis-TI opened #47 "INFO: RaspberryPi V2- Jessie Lite is an ARMv6L, not an ARMv7 image."
Update3:  For those who find this via google searches..

Look carefully at your RPi - the difference between the Pi2 vrs Pi3 is subtle, and the numbering is small and sometimes blurry. Raspberry PI v2 is an armv6 platform, not an armv7 - default build tools are currently not included for armv6, only armv7.

update1 a bit more context, this fails in the libcoap step)

a) Update 2 (adding items a,b,

[2017-06-14 18:55] jwhui opened #48 "Display status of services on web ui"
It would be useful to display the status of important services (e.g. up/down), such as wpantund.

[2017-06-14 19:19] jwhui commented on #47
It appears that you are using a platform not supported by the existing pre-built GNU autotools.  Can you indicate which platform you are using?

At the same time, you can use the [build](https://github.com/openthread/borderrouter/blob/master/third_party/nlbuild-autotools/repo/tools/packages/build) script to setup pre-build GNU autotools for your platform.

[2017-06-14 19:38] DuaneEllis-TI commented on #47
FYI - I updated the original bug description with more details.

The image I am using come from here: https://www.raspberrypi.org/downloads/raspbian/

[2017-06-14 19:47] jwhui commented on #47
I believe we are using the same Raspbian image (2017-04-10), but on different hardware.  On my RPI3B:

[code]

The easiest way to support armv6l is by running the nlbuild-autotools `build` script as I mentioned above on your target hardware.  I would do it myself, but do not currently have an RPI with armv6l.

[2017-06-14 20:23] DuaneEllis-TI commented on #47
yea, I'm building this now - what I thought - was a PI-3 is really a PI-2 .... they look nearly identical, with just few changes... and super tiny text  with a blurry model number :-(

[2017-06-15 03:23] DuaneEllis-TI opened #49 "mDNS averts do not start when network is restored"
steps to reproduce:

1. Start/Form a network.
2. Exit/halt the border router.
3. Restart the border router.
4. On android app - no adverts appear.
5. form a network, you seem to need to change something so change the panid, and networkname
6. Now the border router is advertized

Expected operation:  When BR restarts, the BR should automatically start the mDNS advertising.

Also -(related) from a u

[2017-06-15 03:28] DuaneEllis-TI commented on #47
Confirmed: That was the problem.

Might be helpful to update the docs and state more explicit that the Raspberry PI-2 has known problems,
they are:

1)   Lack of the NL tools for arvmv6 - you solution worked (took an hour or more to build ... but it worked)

2)  RPi-2 does not have enough RAM to build the border router

Solution is to enable a larger swap space (ie: 1 gig) it comes standard with a

[2017-06-15 03:52] #45 closed

[2017-06-15 03:54] jwhui commented on #47
Thanks for following up.  Regarding the lack of NL tools, we'll investigate a way to default to on-host GNU autotools, if available.

[2017-06-15 21:36] beriberikix commented on #47
I'm assuming we can x-compile for armv6, so let's make sure to note that somewhere whenever we have the docs in place.

[2017-06-15 21:36] beriberikix commented on #47
I'm assuming we can x-compile for armv6, so let's make sure to note that somewhere whenever we have the docs in place.

[2017-06-15 21:44] beriberikix commented on #42
/cc @darconeous for your thoughts

[2017-06-15 22:08] DuaneEllis-TI commented on #42
BTW - My dirty internal hack is this:

in the super socket open method:
    I have a simple for(;;) loop - limited to (hardcoded) 20 iterations around
   the lower level C 'open' function.
    If it fails, I call sleep(1second), and try again...
    If it succeeds, I continue on

only after this has failed 20 times, and thus at most 20 seconds - does wpantund die.

this seems to work very nicely.

[2017-06-15 22:29] jwhui commented on #47
@DuaneEllis-TI, I'm preparing a PR that allows nlbuild-autotools to use on-host GNU autotools binaries.  This should address the specific issue you ran into here.

@beriberikix, this issue is related to building on host rather than cross-compiling.

[2017-06-15 23:24] beriberikix commented on #47
Ah, I see. Would it still be useful to have a way to x-compile  not on the host? Ex. CI or a build farm?

[2017-06-16 04:28] #47 closed

[2017-06-19 07:45] bukepo opened #55 "connection is NULL"
Jun 19 07:44:41 raspberrypi otWeb[32554]: connection is NULL.

[2017-06-20 08:50] LeZhang2016 opened #58 "otbr should not publish the Thread Network info when the status of wpantund is 'offline'"

[2017-06-20 08:55] LeZhang2016 opened #59 "Web UI should check the input content"

[2017-06-21 03:13] lanyuwen opened #62 "Document: Thread Commissioning Demonstration with OpenThread and Border Router"
We need a document to describe how to perform Thread Commissioning with OpenThread and OpenThread Border Router.

Content may cover these steps:
- Build and program NCP device
- Build an OpenThread Border Router with a RPi 3B
- Form a Thread network with OpenThread Border Router
- Install ThreadGroup Commissioning App
- Scan and select Border Router through Commissioning App
- Build and program a

[2017-06-26 20:00] jwhui commented on #26
Fixed by #67.

[2017-06-26 20:00] #26 closed

[2017-06-26 20:00] jwhui commented on #48
Fixed by #67.

[2017-06-26 20:00] #48 closed

[2017-06-26 20:00] jwhui commented on #49
Fixed by #67.

[2017-06-26 20:00] #49 closed

[2017-06-26 20:00] jwhui commented on #55
Fixed by #67.

[2017-06-26 20:00] #55 closed

[2017-06-28 05:46] bukepo commented on #39
@DuaneEllis-TI is there any update on this issue?

[2017-07-06 02:52] LeZhang2016 commented on #59
PR #71 solved this issue.

[2017-07-06 02:52] #59 closed

[2017-07-11 02:14] bukepo commented on #19
It seems linux must turn on certain kernel configurations to accept route information through ICMPv6.

`/proc/sys/net/ipv6/conf/all/accept_ra_pinfo`
`/proc/sys/net/ipv6/conf/all/accept_ra_rt_info_max_plen`

However, I failed to make it work on openwrt, even with these flags on.

@DuaneEllis-TI thoughts?

[2017-07-19 07:02] campbellwray opened #79 "Allow for users to avoid NAT64 install if they have native IPv6 set up"
Could be done by adding an option to the install scripts

[2017-07-27 17:12] DuaneEllis-TI opened #81 "Commissioner Proxy Issues"
I believe there are 2 issues here.

Issue 1 is in the Agent, described here.

Issue 2 is in the embedded side, where the Commissioning Petition is actually handled (there is no provision for duplicate message detection) I believe there should be.
Described here: https://github.com/openthread/openthread/issues/2037

Short Description: The Agent does not seem to handle PROXY requests correctly.
By c

[2017-07-28 05:04] bukepo commented on #81
@DuaneEllis-TI Thanks for identifying this. Ideally we should involve a fully featured CoAP agent in border router. However, currently the implementation might be too light weight, that is, there is no retransmission nor response cache by the border agent. Border agent replies on the client retransmission and cache from the remote server. `libcoap` is used mostly as a parser. Again, thanks for fin

[2017-08-02 04:38] bukepo commented on #43
@DuaneEllis-TI Updated in wiki page [NAT64](https://github.com/openthread/borderrouter/wiki/NAT64). Do that solve this issue?

[2017-08-02 04:47] bukepo commented on #42
Currently the wpantund service is also governed by systemd, once it fails, it will be restarted at about 5 seconds. Being started before USB device is enumerated seems to be no big issue. Thoughts? @DuaneEllis-TI

[2017-08-02 04:49] bukepo commented on #39
@DuaneEllis-TI Is this issue still bothering you?

[2017-08-02 04:49] bukepo commented on #35
https://github.com/openthread/borderrouter/wiki/NAT64

[2017-08-02 04:49] #35 closed

[2017-08-02 04:50] bukepo commented on #19
@DuaneEllis-TI would you like to share more information on this issue?

[2017-08-02 04:54] bukepo commented on #17
@DuaneEllis-TI Thanks for sharing the solution. Would you like to submit a PR for this issue?

[2017-08-02 16:07] DuaneEllis-TI commented on #39
No - I think with some other changes this went away

[2017-08-02 16:07] #39 closed

[2017-08-03 05:46] leomvp527 opened #83 "Will borderrouter support Fedora 22？"
When I try to deploy board borderrouter on ARTIK5 which running Fedora，Is it possible to deploy on ARTIK5?

[2017-08-03 06:14] bukepo commented on #83
I think so.

Fedora uses `rpm` other than `dpkg` as package manager, dependencies cannot be installed through `script/bootstrap`. However, I think you may add scripts to install dependencies with `rpm` within `install_packages_rpm()` in `script/bootstrap`.

The code itself doesn't depend on `dpkg`. After filling the scripts to install dependencies, it may build successfully following the `README.m

[2017-08-04 06:39] beriberikix commented on #83
It's worth noting that according to the [Artik 5 datasheet](https://www.artik.io/modules/artik-520/,) the current 520 module uses the EM3587, which is not supported by OpenThread nor does it use the open standardized Spinel protocol.

[2017-08-04 06:44] leomvp527 commented on #83
That's ture that current 520 module uses the EM3587。
Actually we have a plan to use CC2538 which is supported by OpenThread connected with ARTIK520 using /dev/ttyUSB0.
How do you think?

[2017-08-04 19:31] beriberikix commented on #83
Ya, that should work if you follow @bukepo's suggestion.

[2017-08-05 01:58] leomvp527 commented on #83
Thanks for your reply.
With @bukepo's suggestion, I modify the bootstrap scripts and it seems that all the dependencies are successfully installed(including CppUTest and uncrustify-0.64);
Running setup scripts, below error occurs (with root):
[root@localhost script]# ./setup
Current platform is fedora
---------------start otbr uninstall-----------------------
/bin/systemctl
Failed to stop otbr-web

[2017-08-05 10:48] bukepo commented on #83
could you please run these scripts with a normal user whose has sudo privilege? These scripts will run sudo to get root access when needed.

[2017-08-07 01:30] leomvp527 commented on #83
Thanks, I will have a try.

[2017-08-09 15:17] #43 closed

[2017-08-09 15:19] bukepo commented on #42
@DuaneEllis-TI do you have any more comments on this issue?

[2017-08-09 16:08] DuaneEllis-TI commented on #42
Yes, I have a solution that I have been planning on pushing up - it is a hack in wpantund that basically polls the serial port when it fails

The polling rate is every second times a configurable value, the configurable count default value is 20

[2017-08-09 17:36] darconeous commented on #42
Why not just rely on systemd?

[2017-08-09 17:42] DuaneEllis-TI commented on #42
The problem is different USB types start in different sequences, and with different timing. If you add a HUB, then depending upon which HUB port you are connected to, and what is connected to *other* hub-ports the timing of this varies greatly.

Delaying for X seconds is not deterministic.

What is needed is a systemd rule that says:   Do not start any part of the border router until:

1) Device:

[2017-08-09 17:49] DuaneEllis-TI commented on #42
Also note - that in other cases, the creation of the UART interface may - or may not - be done by the UDEV rules,  effectively - I think the best solution might be a small shell script - where the BR does not start unless and until the script returns,

examples of what that script might do are:

1) updating the flash on the device, or
2) performing other system level settings (wiggle GPIO to power

[2017-08-10 03:06] leomvp527 commented on #83
Hi bukepo，I have tried running the scripts with normal user "usr". Unfortunately,I still meat the problem below:
[usr@localhost script]$ ./setup
Current platform is fedora
---------------start otbr uninstall-----------------------
/bin/systemctl
[sudo] password for usr:
Failed to stop otbr-web.service: Unit otbr-web.service not loaded.
Failed to stop otbr-agent.service: Unit otbr-agent.service not

[2017-08-10 15:37] bukepo commented on #83
I tried on fedora 22, finding that how fedora manages *tayga* is quite different from debian-based system. Are you going to use NAT64? If not, you may comment out the lines in scripts handling NAT64 configuration.
Here's the changes I made to make `script/setup` work.
[code]
However, if you are going to use NAT64, you may have to manually configure tayga(refer to https://github.com/openthread/bord

[2017-08-11 06:35] leomvp527 commented on #83
@bukepo Thanks for your advice.
Now it seems that the wpantund,otbr-web,otbr-agent has been successfully started(I also checked with systemctl)
usr@localhost script]$ ./server
Current platform is fedora
* Applying /usr/lib/sysctl.d/00-system.conf ...
net.bridge.bridge-nf-call-ip6tables = 0
net.bridge.bridge-nf-call-iptables = 0
net.bridge.bridge-nf-call-arptables = 0
kernel.shmmax = 4294967295
ker

[2017-08-11 06:40] bukepo commented on #83
Could you please tell me more about your requirement? Do you mean how to configure address for NAT64 service?
Thread group provides a android app for commissioning. Is that what you are looking for?

[2017-08-11 06:55] leomvp527 commented on #83
@bukepo Thanks for your quckily reply.
1. Assume that I have successfully running board router on my artik5 with cc2538 working as NCP connnected, I want to use the Web GUI to manage Thread network as metioned in https://github.com/openthread/borderrouter/wiki. What am I supposed to do?
2.Yes. Android app for commissioning (from Thread Group) is what I am looking for. I will check with Thead Group

[2017-08-11 06:58] bukepo commented on #83
1. You should use the ethernet or WiFi IP address to access the web gui. You may check if the border router's 80 port is listening.
2. Yes, openthread border router works with the latest commissioner app from Thread Group.

[2017-08-12 06:46] leomvp527 commented on #83
@bukepo
When I try to complie the NCP firmware for CC2538. I got the below problem with the latest openthread:
"automake: command not found",but I do installed the automake.
dongtaotao@testbed-desktop:~/development/openthread-master$ ./bootstrap
/home/INSRD/dongtaotao/development/openthread-master/third_party/nlbuild-autotools/repo/scripts/bootstrap: line 280: --automake: command not found
dongtao

[2017-08-12 06:47] leomvp527 commented on #83
@bukepo
When I try to complie the NCP firmware for CC2538. I got the below problem with the latest openthread:
"automake: command not found",but I do installed the automake.
dongtaotao@testbed-desktop:~/development/openthread-master$ ./bootstrap
/home/INSRD/dongtaotao/development/openthread-master/third_party/nlbuild-autotools/repo/scripts/bootstrap: line 280: --automake: command not found
dongtao

[2017-08-12 06:51] leomvp527 commented on #83
@bukepo
When I try to complie the NCP firmware for CC2538. I got the below problem with the latest openthread:
"automake: command not found",but I do installed the automake which version is 1.14.1.
dongtaotao@testbed-desktop:~/development/openthread-master$ ./bootstrap
/home/INSRD/dongtaotao/development/openthread-master/third_party/nlbuild-autotools/repo/scripts/bootstrap: line 280: --automake: c

[2017-08-12 15:03] jwhui commented on #83
@leomvp527, do you have `libtool` installed?

[2017-08-13 03:56] DuaneEllis-TI opened #85 "bug - agent src/agent/dtls_mbedtls.{ch}pp"
What should happen is - here at:

https://github.com/openthread/borderrouter/blob/master/src/agent/dtls_mbedtls.hpp#L224

In the MbedtlsServer() Constructor, the member variable: 'mSocket' should be initialized to (-1)

Instead, it takes on a **RANDOM** value based upon what ever the run time environment leaves there.

What happens later, during the call to `void MbedtlsServer::UpdateFdSet()`

Cod

[2017-08-13 04:24] bukepo commented on #85
Thanks for reporting this issue. Does this problem only exist in the functional test commissioner? I noticed that in `tests/meshcop/commissioner.cpp`, there missed a call to `DtlsServer::Start()`. Besides, we could probably refine implementation of `DtlsServer` so that when `Start()` is not called, error should occur. Are you going to submit a PR for this issue?

[2017-08-13 16:39] DuaneEllis-TI commented on #85
I found this in the commissioner, I do see the missing Start() - perhaps that limits this to the test commissioner app only.

[2017-08-13 17:57] DuaneEllis-TI opened #87 "In src/agent/dtls_mbedtls.cpp - issue with FD_ISSET()"
To start with, I'm not a UDP socket guy - but I think I found a problem dealing with the dtls server in the border router agent, and the commissioning test app

My initial tests (with a fix) seem to be indicate I am correct, but I have not completed my testing.

Step 1: In the main loop, various 'pseudo' tasks are called to set their bits in a select(  ... fd_set ... )

This occurs here, in the co

[2017-08-13 22:54] DuaneEllis-TI commented on #87
Update: After quite a bit of testing (30+ join attempts) - the *ONLY* type of JOIN_FAIL I have found is when the JOINING_ROUTER does not receive the initial discovery request.

What I cannot do is test with the ThreadGroup Android app because that app does not function in my home network... why I don't know...  The Hurricane Electric Android App, found here:

https://play.google.com/store/apps/det

[2017-08-14 06:29] leomvp527 commented on #83
@bukepo
I complie the latest openthread with “make -f examples/Makefile-cc2538 TMF_PROXY=1 BORDER_ROUTER=1 DISABLE_DOC=1 JOINER=1” and download the ot-ncp-ftd.bin to CC2538DK。Then connected to ARTIK5，but I have not seen any ttyUSB* through “sudo dmesg | grep ttyUSB*”。But when checking with “cat /sys/kernel/debug/usb/devices”，message showed as below
[root@ usb]# cat /sys/kernel/debug/usb/devices
T:

[2017-08-14 07:21] bukepo commented on #83
Is there any `ttyACM*`? You may also refer to https://github.com/contiki-os/contiki/tree/master/platform/cc2538dk#drivers

[2017-08-14 08:32] leomvp527 commented on #83
@bukepo
Thanks for your support.
Now it works, we could use board router runing on artik with cc2538 connected to creat a network working as a leader, and then a thread node joins this network successfully.
Could this environment used to  test Thread Board Router function according the thread test spec?
And we also have a plan to develop a sample application, any advice shared with me?

[2017-08-14 08:41] bukepo commented on #83
Glad to hear that!

When testing communication between Thread network and external network, please make sure the the `default route` and `On-Mesh prefix` are properly configured in the Web GUI, more discussion on this can be found [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/openthread-users/grrAZFGHpMk/sxs_LHZXCQAJ)

Besides, are you willing to submit a pull req

[2017-08-14 09:13] bukepo commented on #85
@DuaneEllis-TI are you planning to submit a pull request to solve this issue?

[2017-08-14 10:19] bukepo commented on #87
@DuaneEllis-TI thanks for identifying this issue. After a DTLS session is established, the socket used for listening new DTLS requests is different from the socket bound with the existing session, so re-opening the listening socket should not affect existing sessions. However, the listening socket should not be re-open when it's not readable. Are you going to share your fix with a PR?

[2017-08-14 15:00] DuaneEllis-TI commented on #87
yes, I hope to push a PR very soon.

[2017-08-14 15:45] bukepo commented on #42
I seems this can be done with **systemd**'s [path unit configuration](https://www.freedesktop.org/software/systemd/man/systemd.path.html). However, since the actual path for device is not fixed, and I'm not sure if this is a general requirement, is it better to leave the task for final distributors? @DuaneEllis-TI

[2017-08-14 15:46] bukepo commented on #19
@DuaneEllis-TI Any comments here?

[2017-08-15 01:25] leomvp527 commented on #83
@bukepo
Thanks for your help.
Personally, I am willing to do so. But I am afraid that company's security policy does not allow me to submit a pull request. I am really sorry for this. If some  guys who have problems depolying board router on Fedora, you could @ me and I am glad to help.

[2017-08-15 20:58] DuaneEllis-TI commented on #87
See: https://github.com/openthread/borderrouter/pull/90

[2017-08-16 17:11] #87 closed

[2017-08-17 16:22] DuaneEllis-TI commented on #85
@bukepo - I am going to close this issue because this PULL request resolved it.

https://github.com/openthread/borderrouter/pull/90

[2017-08-17 16:23] #85 closed

[2017-08-19 00:12] bukepo commented on #83
I submitted the PR to install dependencies through yum or dfn.

[2017-08-22 04:47] DuaneEllis-TI opened #94 "BUGs: border router commissioning self test script (meshcop) not worked for 3 months"
Bug 1

In early June - this the border router ./;configure script parameters for the border router changed
See: https://github.com/openthread/openthread/pull/1883

However, the test script: `${borderrouter}/tests/meshcop/meshcop` still uses the old ./configure options

https://github.com/openthread/borderrouter/blob/master/tests/meshcop/meshcop#L72

Bug 2

Due to the way the scripts are written, a

[2017-08-22 19:39] #83 closed

[2017-08-24 14:53] bukepo opened #97 "Add new check for latest raspbian."
The new check can avoid issue fixed in #96 .

[2017-08-24 17:29] jwhui commented on #94
Resolved by #92.

[2017-08-24 17:29] #94 closed

[2017-09-06 05:30] xinnnxinnn opened #101 "Web UI can't be opened on ubuntu installed on vitualbox"
Hi,
when I followed the steps showed in "https://github.com/openthread/borderrouter/wiki" and try to build the environment of border router on ubuntu(virtual machine) with cc2538(NCP), I can't open web page "http://127.0.0.1:8080/web/frontend/app/#".

The environment:
1.CC2538 driver has been installed.
root@robot-VirtualBox:/home/robot/tinyara/borderrouter-master# ls /dev | grep ttyUSB
ttyUSB0
tt

[2017-09-06 06:24] LeZhang2016 commented on #101
I think the default port to Web server is` 80` in latest version. You could try to change the  `http://127.0.0.1` as the Web UI's URL.

[2017-09-06 07:26] xinnnxinnn commented on #101
@LeZhang2016
Yeah, thank you so much!

[2017-09-08 04:02] bukepo opened #102 "Update README according to official website."

[2017-09-11 04:17] bukepo opened #103 "[web ui] Entering the prefix with the subnet size (/64) silently breaks"
Originally reported by Stuart Longland from [openthread-users](https://groups.google.com/d/msg/openthread-users/CQKuQI6o_BQ/nzaJVXyBCwAJ).

[2017-09-11 04:21] bukepo opened #104 "[web service] wpantund forgets the on-mesh prefix."
Originally reported by Stuart Longland from [openthread-users](https://groups.google.com/d/msg/openthread-users/CQKuQI6o_BQ/nzaJVXyBCwAJ).

[2017-09-11 08:11] xinnnxinnn commented on #101
Hi @LeZhang2016，
I have build a network with border router(leader),  the question is that
1. whether the host(ubuntu) can get a reply from the joiner(Thread device)  with ping request? Now I have tried ping request, but there is no reply. In addition, there is no "Has Route" TLV  which contains the external network information in Thread packets.
2.Do I have to manually configure tayga(refer to htt

[2017-09-11 08:30] LeZhang2016 commented on #101
Hi @xinnnxinnn,
User could PING the nodes in Thread network from the border router host side.
You could use command `ping6 fd11:22:0:0:ff0:b307:a0:625e` and try again.
NAT64 is configured automatically during setup the border router, it can not be set manually.

[2017-09-12 09:15] xinnnxinnn commented on #101
Hi @LeZhang2016，
I found that when use ping request cmd from border router host side to the internal Thread node, the source address is the inet6 addr of wpan0.  It seems that the Thread node can only access the border router but not the external network like www.baidu.com.
My question is that:
1. Does the Thread device can access to the extenal network?
2.  Does wpan0 build a mapping with WAN (Wi

[2017-09-12 09:16] xinnnxinnn commented on #101
Hi @LeZhang2016，
I found that when use ping request cmd from border router host side to the internal Thread node, the source address is the inet6 addr of wpan0. It seems that the Thread node can only access the border router but not the external network like www.baidu.com.
My question is that:
1. Does the Thread device can access to the extenal network?
2. Does wpan0 build a mapping with WAN (WiFi

[2017-09-12 10:37] LeZhang2016 commented on #101
Hi @xinnnxinnn,
1. Thread device could access the external network via border router. You could try to execute`ping6 64:ff9b::103.235.46.39` to reach the `baidu` website.
2. There is no mapping between the wpan0 and WAN, but border router is enabled the IPv6 and IPv4 forwarding between the interfaces, so the IP packets can be forwarded between wpan0 and wan.
3. You could download the commissioner

[2017-09-13 04:38] LeZhang2016 commented on #101
@xinnnxinnn
I think the previous link of the commissioner app can not be used successfully, so you'd better change this one which has been verified.
http://intrepid.io/ota/ThreadCommissionerAndroid/

[2017-09-13 08:34] xinnnxinnn commented on #101
Hi @LeZhang2016，
Oh, thanks a lot for your help, I will try to use the commissioner app.

[2017-09-13 21:46] Vyrastas commented on #62
Everything but the Thread Commissioning App part has been posted on openthread.io:

https://openthread.io/guides/border_router/build
https://openthread.io/guides/building/commissioning

[2017-09-14 08:14] philixwan opened #107 "thread admin password"
the password is needed when connect to border router demo,  what is the password?

[2017-09-14 08:53] xinnnxinnn commented on #101
Hi @LeZhang2016，
Sorry to disturb you for serval times ^_^
I build a local area network with a mobile(installed with commissioner app),a local PC and a virtual machine(Ubuntu, as a border router) installed on that local PC.
The topology of the Thread network is: boder router(leader)<---->router(internal Thread device).
I have two questions:
1.  Now  I can use wpan0 to communicate with local PC wit

[2017-09-14 09:22] #107 closed

[2017-09-14 17:00] Vyrastas commented on #102
Resolved by #106

[2017-09-14 17:00] #102 closed

[2017-09-14 17:06] Vyrastas opened #108 "Setting PSKc passphrases via the CLI"
Opening this issue as part of the Wiki deprecation.

Currently, PSKc passphrases cannot be set via the CLI. To set a PSKc passphrase for commissioning, you must use the "Form" Web UI when creating a new Thread network using OTBR.

This will eventually be noted in a Thread Commissioning guide using the OTBR Web UI, tracked in #62 .  At that time we can close, or leave it open if this is functionali

[2017-09-14 17:10] Vyrastas opened #109 "Thread Commissioning App compatibility"
Opening this issue as part of the Wiki deprecation.

Currently, the public release of the Thread Commissioning App cannot be used for testing with OTBR.

This will eventually be noted in a Thread Commissioning guide using the OTBR Web UI, tracked in #62 . At that time we can close, or leave it open until we get the public release of the Thread Commissioning App updated.

[2017-09-30 06:00] beriberikix commented on #62
I just received an update for the Thread Commissioning App, v1.01.11.7a3daa7. Does this build fix the remaining issues blocking it working with borderrouter?

[2017-09-30 06:00] jwhui commented on #62
Yes it does :)

[2017-09-30 15:12] beriberikix commented on #109
Per #62, this should be fixed

[2017-10-02 16:17] Vyrastas commented on #109
Thanks for letting me know, I'll download and verify.

[2017-10-02 19:37] mmojana opened #111 "Build does not work if ctags doesn't support --c-kinds=p"
I'm building the borderrouter with `ctags (GNU Emacs 24.2)` and when the version file for libcoap is generated, I get this:
[code]
The content of `./third_party/libcoap/repo/.libs/libcoap-1.ver` is:
[code]
Shouldn't the configure script fail when the `--c-kinds` option is not available?
What is the correct ctags version to use?

[2017-10-02 19:44] bukepo commented on #111
Yes, I think we should improve the configure checks. And I'm now using Exuberant Ctags 5.9. Could you please try this version?

[2017-10-02 20:59] mmojana commented on #111
I installed exuberant-ctags 5.9 as suggested and did a quick&dirty `sudo rm /usr/local/bin/ctags` and `sudo ln -s /usr/bin/ctags-exuberant /usr/local/bin/ctags` and everything went fine.

[2017-10-02 22:04] Vyrastas commented on #109
Confirmed that the update fixed this problem, closing.

[2017-10-02 22:04] #109 closed

[2017-10-05 17:03] DuaneEllis-TI opened #112 "How to contribute to the Wiki on openthread.io?"
We (TI) are getting ready to push up border router support for the Beagle Bone Black  - and want to know what is the process to contribute additional information in the border router wiki on the openthread.io? wiki page?

Thanks.

[2017-10-05 17:09] jwhui commented on #112
Submitting an issue is sufficient for openthread.io:

For future reference, from https://openthread.io/resources/

[2017-10-05 18:40] Vyrastas commented on #112
@DuaneEllis-TI I can help, what kind of documentation will it be, exactly?

[2017-10-07 09:11] bukepo commented on #108
PSKc must be set before forming Thread network. Did you try setting PSKc after the network is formed?

[2017-10-09 16:14] Vyrastas commented on #108
No... this is an issue we had on the Wiki that I just copied over here.  Are you saying the PSKc can be set via the CLI if it's done prior to forming the network?

[2017-10-10 03:22] #111 closed

[2017-10-10 03:28] bukepo commented on #108
Yes, because I have been using CLI to set PSKc when I test border router.

[2017-10-10 04:21] bukepo commented on #101
1. If the internal Thread device is of CLI version, you may use the [`ping`](https://github.com/openthread/openthread/tree/master/src/cli#ping-ipaddr-size-count-interval) command.
2. You may need refer to the Thread protocol. *Thread admin password* is set at the Web GUI when you form the network. *Join passphrase* should be the same when you start joining on the joiner. That is, if you type `join

[2017-10-10 04:55] bukepo commented on #101
If you have additional questions, you may open new issues or post on [Google Group](https://groups.google.com/forum/#!forum/openthread-users).

[2017-10-10 04:55] #101 closed

[2017-10-10 04:56] bukepo commented on #79
This is solved by #89

[2017-10-10 04:56] #79 closed

[2017-10-10 20:21] Vyrastas commented on #108
Alright, well then this isn't an issue.  I'll add this to the content on openthread.io.

[2017-10-10 20:21] #108 closed

[2017-10-16 19:30] beriberikix opened #114 "Tracking KRACK patch for Raspbian"
Just an FYI, if you're interested in the status of, "Key Reinstallation Attacks" aka [KRACK](https://www.krackattacks.com/) for WPA2, on Raspbian, see this [thread](https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=195507).

[2017-10-16 19:38] DuaneEllis-TI commented on #20
I think this can be closed - as all docs have moved to the openthread.io wiki

[2017-10-16 19:38] #20 closed

[2017-10-16 19:48] DuaneEllis-TI commented on #112
Sorry for the delay - we had some internal reviews I needed to complete -

Please check out this pull request:
* https://github.com/openthread/borderrouter/pull/115

In the "docs" directory are two MS Word documents that contain the basic set of changes that we are proposing for the wiki.

What I don't know - is the raw format & etc - for the wiki entries. Thus in the mean time I wrote the changes

[2017-10-16 20:05] DuaneEllis-TI commented on #62
W.R.T.    To documentation the commissioning process you might take a look at the changes I did with the commissioning test app

Work was done in this Pull request:   https://github.com/openthread/borderrouter/pull/92

The key thing here is here: `${borderrouter}/tests/meshcop`, and the `otbr-commissioner` C program

The standalone test application can commission any thread device from the Linux c

[2017-10-16 20:09] DuaneEllis-TI commented on #62
W.R.T. This item >> Ping or communicate with a host located in Internet

A simple suggestion is:

a) In the "thirdparty/libcoap" directory

By default, openthread builds libcoap with `--disable-examples` and `--disable-documentation`

b) If you rebuild libcoap but *ENABLE* the examples, you have two test applications, one of which is "coap-client"

The "coap-client" is a simple command line tool t

[2017-10-17 16:52] Vyrastas commented on #112
No worries @DuaneEllis-TI , thanks for attaching those docs.

This is our first external contribution to the new site, so lucky you, you get to be the guinea pig to help us iron out the contribution process.  :)  We'll make contribution updates more clear after this.

If you would, please send me an email at jbumgardner [at] google [dot] com and we'll go from there.  I'm thinking the best method i

[2017-10-17 18:06] Vyrastas commented on #62
Hi @DuaneEllis-TI , thanks for pointing these out.  It might be best to have brief READMEs on general usage of these tools in those directories, and have overviews / use cases of them on openthread.io.  Thoughts?

We're close to publishing a guide for the last item (external commissioning w/ the Thread App), so that should be up soon.  As part of that I'll probably add a README on using the pskc g

[2017-10-17 18:30] DuaneEllis-TI commented on #62
1) Agreed - a nice read me would be great - but - we need a pointer to tell the user where to go to find them, example: a file located in the directory: `/buried/so/deep/you/cannot/find/it/ha/ha/ha/README.txt` are sadly, actually hard to find. :-(

2) that said - There should be a README locally next to the tool and with text that says:  "go read the openthread.io" for more details and examples.

[2017-10-17 18:49] Vyrastas commented on #62
Yes, I definitely want to call these things out on openthread.io, so they're easier to find.

For the external commissioner app, I'm assuming those apply to the most recent version.  @jwhui is there a way to report bugs or issues with the app?  I can add important caveats / troubleshooting to the upcoming guide in the meantime.

[2017-10-24 22:13] Vyrastas commented on #62
External Commissioning content is now live.

https://openthread.io/guides/border_router/external_commissioning

I've got tasks down to handle some of the other concerns brought up, so I'm going to close this Issue, as it's complete for all listed items.

[2017-10-24 22:13] #62 closed

[2017-10-24 22:37] Vyrastas commented on #21
@DuaneEllis-TI

Seems like the only thing here that's missing from https://openthread.io/guides/border_router/ is

b) How to "de-commission" the Border Router - sort of "factory reset" back to not-commissioned state.

Can you check the updated docs and confirm?

[2017-10-25 04:46] lanyuwen commented on #62
Excellent, thank you Jeff!

[2017-10-29 20:57] beriberikix opened #116 "Add to Google Open Source"
https://opensource.google.com/projects/openthread includes OpenThread and wpantund. It should also include this project. @Vyrastas

[2017-10-30 15:45] Vyrastas commented on #116
Thanks!  I'll get it added.

[2017-10-30 15:47] jwhui commented on #81
@DuaneEllis-TI, has this issue been resolved?

[2017-10-31 01:07] Vyrastas commented on #116
It's been updated.  I'm assuming the Stars and Forks will eventually get updated on their own.

[2017-10-31 01:07] #116 closed

[2017-11-14 01:20] DuaneEllis-TI commented on #42
An update - with the current updates to the BeagleBone platform this issue seems to have gone away and/or was resolved on its own - thus I am going to close this.

[2017-11-14 01:20] #42 closed

[2017-11-14 01:21] DuaneEllis-TI commented on #17
This can be closed, as it is addressed as part of: https://github.com/openthread/borderrouter/pull/115

[2017-11-14 01:21] DuaneEllis-TI commented on #17
Closing.

[2017-11-14 01:21] #17 closed

[2017-11-15 12:06] andredas opened #117 "Scripts in script folder doesn't work on RPi3"
Quick fix revert to commit 253cba0

[2017-11-15 14:23] jwhui commented on #117
@prfi, @bukepo can one of you take a look?

[2017-11-15 20:28] prfi commented on #117
I will be at work on Friday. I can take a look.

[2017-11-17 13:47] prfi commented on #117
I've tried to reproduce an issue but on my RPi3 everything is working find.

What I've done:
1. I've got an image from: https://downloads.raspberrypi.org/raspbian_lite_latest (Raspbian Stretch Lite, version: 2017-09-07)
2. I've prepared SD card and written an image to the card.
3. I've created file ssh on boot partition (to have access to RPi)
4. I've booted RPi and I've run commands: sudo su; apt

[2017-11-20 07:32] wangnuannuan commented on #117
i run the "sudo ./script/bootstrap", but it does nothing,and the same "sudo ./script/setup"

[2017-11-20 07:35] prfi commented on #117
Today I've found the root cause of this problem. I will describe it and make pull request. I guess it will be available in one hour. I want run one more test.

[2017-11-20 08:42] prfi commented on #117
I've create pull request #119 which fixes above issue.

[2017-11-20 18:42] jwhui commented on #117
Fixed by #119.

[2017-11-20 18:42] #117 closed

[2017-11-20 18:43] jwhui commented on #112
New docs are published at: https://openthread.io/guides/border_router/beaglebone_black

[2017-11-20 18:43] #112 closed

[2017-11-28 11:58] prfi opened #121 "Graphical user interface for WiFi management"
I've made pull request with support for Network Manager as a first step for simplifying WiFi management. I'm going to continue my work in this area and currently I want ask you about help to make a decision what is the approach.

There are available two approaches:
1) Extend an existing Border Router control panel. There will be supported only basic functionalities that allow to connect and discon

[2017-11-28 17:24] jwhui commented on #121
@prfi, adding NetworkManager support is a great enhancement!  Thanks for working to make that happen.

The example you noted (https://github.com/mk-fg/NetworkManager-WiFi-WebUI?files=1) has a WTFPL license.  Unfortunately, code released under the WTFPL cannot be included in Google open source projects.  If there are other open source web GUIs with a compatible license that you find interesting, we

[2017-11-30 11:21] prfi commented on #121
Ok, then I will focus on adding simple configuration panel to current UI.

[2017-12-04 04:15] beriberikix commented on #114
A [patched version](https://raspberrypi.stackexchange.com/questions/73879/is-the-raspberry-pi-vulnerable-to-the-kracks-on-wpa2-networks/73880#73880) is available.

[2017-12-04 04:15] #114 closed

[2017-12-04 12:59] prfi opened #122 "DHCPv6 PD doesn't work after dhcpcd5 update"
I've noticed that from about week ago DHCPv6 PD doesn't work properly. Today I've spent some time on investigation this problem and I've found reason. Few days ago there were dhcpcd5 update in raspbian repository (from version: 1:6.11.5-1+rpt2 to version 1:6.11.5-1+rpt4). An update provide some fixes, unfortunatly one fix provides improvement that can be very harmful because it assume that every i

[2017-12-11 16:04] jwhui commented on #122
Resolved by #123.

[2017-12-11 16:04] #122 closed

[2017-12-17 11:42] XiangcaiHuang opened #125 "The setup script failed"
I used the latest code, but the script always failed and show the following log:
...
Connection 'BorderRouter-AP' (9e68a65d-ba48-437b-9630-90d75916baba) successfully added.
...
Connection 'BorderRouter-Eth' (e20bda30-0d90-442d-abaf-70eb6d4b4316) successfully added.
Error: Timeout 90 sec expired.

[2017-12-18 04:37] bukepo commented on #125
Hi, could you please give more details on the environment? For example, the hardware platform, the OS and so on?

[2017-12-18 09:06] XiangcaiHuang commented on #125
Hi, bukepo
I used the Raspi 3B and Raspbian Stretch Lite, version: 2017-09-07
I've run script "./script/bootstrap" from "borderrouter" directory, it worked fine. But it always failed when I run script "./script/setup" and show the above timeout error.
I found there was something wrong after "create_eth_connection" in the script "./script/_network_manager":
[code]
Did I miss something?

[2017-12-18 12:19] XiangcaiHuang commented on #125
Hi, bukepo
I've sloved this problem just now. Thanks for your reply!
I found the network-manager will setup a wifi AP named "BorderRouter-AP" and I can access the web UI. Well, what should I do next? Do I still need to configure the Pi step by step following the official document: [Wi-Fi Access Point Setup for OpenThread Border Router](https://openthread.io/guides/border_router/access_point)
In ad

[2017-12-18 13:36] bukepo commented on #125
Could you please write the steps to reproduce this issue? And please also attach the syslog of your respberry pi.
I’m wondering if the NCP is working normally.

[2017-12-20 11:02] vinvinodk commented on #15
Great..! Happy to see this [press-release](https://android-developers.googleblog.com/2017/12/lowpan-on-android-things.html). A big door opened for me.

[2017-12-20 21:21] kyberpunk opened #126 "Joiner fails to join network with external commissioning"
Hello,
I would like to use border router with KW41Z platform in my project. I followed the installation guide, and everything is running as expected. I can configure and form network etc.

When I try to join the network by device with OT cli firmware using external commissioner (with Thread 1.1 Commissioning App), the process always fails. Client data transmission fails with NoAck error. Client is

[2017-12-21 00:42] beriberikix commented on #15
See also androidthings/sample-lowpan#1

[2018-01-05 17:12] jobroe commented on #125
I encountered the same problem. The script "./script/bootstrap" from "borderrouter" directory, it worked fine for me as well. But it failed when I run script "./script/setup" with the following:
Current platform is raspbian
sudo-timeout: Not extending, Disabled
Swapfile: not required
Failed to stop otbr-web.service: Unit otbr-web.service not loaded.
Failed to stop otbr-agent.service: Unit otbr-age

[2018-01-06 01:26] bukepo commented on #125
Could you please check the output of
[code]
It seems no wifi interface was found.

[2018-01-06 10:30] jobroe commented on #125
I'm sorry for your effort. Unfortunatlly I have noticed that the RPI which I was using is a RPI version 2. I'll get one of version 3 B and try it again.
I'm wondering why a wifi interface is required since the beaglebone has also no. Is it also possible to use the RPI 2 if you do without the WIFI Accespoint? In case if it is possible, it would be nice if you could provide some hints at which point

[2018-01-07 02:50] bukepo commented on #125
I think you may try disabling network_manager by setting `NETWORK_MANAGER=0` in https://github.com/openthread/borderrouter/blob/master/examples/platforms/raspbian/default

[2018-01-11 20:21] jobroe commented on #125
It seems not enough to get it working on RPI2. But for me it doesn't matter anymore I got my RPI3 and with this device it is working. Only one thing, it was necessary to execute the setup script as root , otherwise permission denied errors occur.
Thanks !

[2018-01-13 08:25] XiangcaiHuang commented on #125
Thanks a lot. All the scripts worked fine for me now.
But I encountered another problem. My OTBR has been built and installed successfully on a raspi 3B runing Stretch. Then start a Thread device as a leader and created a Thread network using CLI commands.
On the raspi, type ''sudo wpanctl scan", the Thread network could not be found.
How can I solve the problem?
How can I debug the OTBR? Are ther

[2018-01-16 11:07] indrapanwar commented on #126
Hi,
I am also facing same issue. I followed installation guide and created border router with raspberry pi and KW41z (ncp -ftd). I am able to form network with but not able to join the network with OT CLI firmware on other kw41z device.
Commissioning with two CLI devices  ( one as commissioner and other as joiner ) without OTBR is also not working.
I downloaded cli -ftd firmware with JOINER =1 COM

[2018-01-16 12:02] bukepo commented on #126
@indrapanwar Did you enable `TMF_PROXY=1` flag when compiling NCP? Please note that if you add new flags, you must first delete `build` directory.

[2018-01-16 12:09] bukepo commented on #126
@kyberpunk sorry for the late. Did you solve your problem?

[2018-01-16 12:14] indrapanwar commented on #126
No i did not enable TMF_PROXY=1 flag. I was doing clean before make with new flags.Thank you. I will try with enabling TMF_PROXY flag.

[2018-01-16 12:30] kyberpunk commented on #126
@bukepo No I didn't. There is still the same behaviour. I can connect to OTBR and Thread network with Thread 1.1 Commissioning App, commissioning starts successfully, joiner can find the network but commissioning process always fails. It looks like the joiner device probably can't send any messages to commissioner (error:NoAck in log file). There is the same behaviour on Raspberry Pi 3 and C.H.I.P

[2018-01-16 12:40] bukepo commented on #126
@kyberpunk
The log you posted seems not complete. Could you please modify the log level in https://github.com/openthread/openthread/blob/master/src/core/openthread-core-default-config.h#L559 to generate more detailed log?

Besides, according to the Thread spec, the joiner credential should be at least 6-byte long. Could you please a longer one like `joiner start 123456`?

[2018-01-16 13:23] indrapanwar commented on #126
@bukepo
I am also not able to establish commissioning with 2 cli-ftd device without OTBR. Joiner sees the network.
On giving command >joiner start 123456 , I do not get any status update on joiner window .

[2018-01-16 14:29] kyberpunk commented on #126
@bukepo Longer credential didn't help. Here is debug level log file:
CLI joiner device: [log_debg1.log](https://github.com/openthread/borderrouter/files/1635469/log_debg1.log)
Android App: [log_android1.txt](https://github.com/openthread/borderrouter/files/1635471/log_android1.txt)

[2018-01-16 15:26] bukepo commented on #126
@kyberpunk I didn't find in your log about `/c/cs`, which sets the joiner information. Could you please post full log from beginning? And if you didn't exactly follow the guide in google.io. Could you please also provide detail steps you did?

[2018-01-16 16:47] kyberpunk commented on #126
@bukepo Sorry, but I'm not able to share whole application log while the mobile app shows only last 2000 lines. There is the part with barcode scanning: [barcode_log.txt](https://github.com/openthread/borderrouter/files/1635996/barcode_log.txt)

I followed exactly this guide: https://openthread.io/guides/border_router/external_commissioning. I've used Web GUI for form network.

wpanctl status:

[c

[2018-01-17 19:40] jobroe opened #129 "Start commisioner fails"
I 'm using 3 x efr32's  ( 2 FTD's flashed with ot-cli-ftd and 1 NCP with ot-ncp-ftd) and a RPI 3B as OTBR to setup a example thread network.
 To form a thread network I used the Web interface and it seems to work:
[code]
Then I tried to start the commissioner and it fails with the error:

[code]
See also:

[code]
Any Idea ?

[2018-01-17 20:00] jwhui commented on #129
How did you build your NCP firmware?  Did you use the following command?
[code]

[2018-01-17 20:11] jobroe commented on #129
I only added the joiner option, but before I tried it also without and it was not working as well.
`make -f examples/Makefile-efr32 TMF_PROXY=1 BORDER_ROUTER=1 JOINER=1 COMMISIONER=1`

[2018-01-17 20:13] jwhui commented on #129
I believe adding `COMMISSIONER=1` will resolve the `PropertyNotFound` error.  Please try that again and report any errors you run into.

[2018-01-17 20:29] jobroe commented on #129
As I mentioned it is enabled ...

[2018-01-17 21:32] jwhui commented on #129
If you have the `COMMISSIONER=1` flag set, you should not see the `PropertyNotFound` error.  Double check that you have the commissioner feature enabled (note that you have a typo in your command above).

I just tried with the latest master and the command worked as expected.
[code]

Note that the latest master does have a build issue with crypto acceleration, which is being addressed in #2487.

[2018-01-18 18:18] jobroe commented on #129
Thanks, you are right the typo was really a issue.  But now I faced a different problem:
[code]
As you see I tried to reset/leave the network, but it doesn't solve the issue.
Any Idea ?  Thanks in advance

[2018-01-19 18:24] jwhui commented on #129
I just tried on my setup and it works fine:

[code]

How long are you waiting between the `commissioner -e` and `commissioner -a` commands?  Add a few seconds of delay there, if you haven't already, to see if that helps.

[2018-01-19 18:57] jwhui commented on #126
@indrapanwar, I just tried Thread Commissioning between two KW41Z boards running ot-cli-ftd and it works for me.

1. Get the Joiner's EUI-64
[code]

2. Setup the Commissioner.
[code]

3. Start the Joiner.
[code]

Note that crypto acceleration is not enabled by default on the KW41Z, so expect to wait around 30 seconds for the process to complete.

[2018-01-19 19:33] kyberpunk commented on #126
@jwhui Did you try also any OTBR device with KW41Z as NCP?

[2018-01-19 20:59] jwhui commented on #126
@kyberpunk, I assume you mean with the Thread 1.1 Commissioning App as well.  Unfortunately, I have not directly tested that scenario recently.  However, the failures you are experiencing may be due to https://github.com/openthread/openthread/issues/2176.

[2018-01-20 13:18] kyberpunk commented on #126
@jwhui Yes, I mean the use case with the Android app. I've already tried the latest mbedTLS version and mentioned patches and it didn't help.

[2018-01-22 07:24] kpyush opened #130 "MCU Support"
Do you have any plans for implementing border router for Wifi MCUs Like

- ESP32
- CC3200/CC3220

[2018-01-22 09:56] indrapanwar commented on #126
@jwhui : I could join thread network by out-of band commissioning.
1 ) Downloaded ot-cli-ftd (JOINER =1) on one KW41Z board and other KW41Z board with ot-cli-ftd (COMMISSIONER =1).  Created thread network through commissioner and entered same parameters (networkname, panid, ext panid, channel, masterkey) for joiner.Then on joiner gave command of "ifconfig up" and "thread start". Joiner initially j

[2018-01-22 10:25] kyberpunk commented on #126
@indrapanwar Did you read solution mentioned in the issue [openthread/openthread#2176](https://github.com/openthread/openthread/issues/2176)? I was facing similar problems with CLI devices, but the latest mbedTLS version and patches in this thread improved the commissioning process slightly for me. I am able to join network in 80% attempts now using CLI firmware.

[2018-01-22 12:38] indrapanwar commented on #126
@kyberpunk : Thank you . I will go through the  issue.  I created network by ot-ncp-ftd (TMF=1,BORDERROUTER=1,JOINER=1) and ot-cli-ftd (JOINER=1) could join the network through in-band commissioning. I could ping border router from CLI.

[2018-01-22 12:54] kyberpunk commented on #126
@indrapanwar Thank you. So I suppose there could be some mistake on my side. Can you tell me please what HW do you use for CLI and NCP device and for OTBR? Did you follow the [guides](https://openthread.io/guides/border_router/access_point) or have you solved something differently? Have you also tried to form network with web GUI?

[2018-01-22 20:29] jwhui commented on #126
@kyberpunk, maybe you are also experiencing https://github.com/openthread/openthread/issues/2081?

[2018-01-23 02:41] bukepo commented on #126
@kyberpunk I can only get very limited information from the logs you shared. Did you try using the command line tool *adb* to save android log? I think it will not be limited to only 2000 lines. Besides, can you also provide the *otbr-agent* log.
You may increase the debug level of *otbr-agent* by adding `-d 7` to `OTBR_AGENT_OPTS` in */etc/default/otbr-agent*. And filter logs in syslog file(*/var

[2018-01-23 05:58] indrapanwar commented on #126
@kyberpunk I used Raspberry Pi 3B and  KW41Z for OTBR. Programmed KW41Z with ot-cli-ncp and with configuration TMF=1, BORDERROUTER=1, JOINER=1. I followed the guide. Created thread network manually. Other board KW41Z is programmed with ot-cli-ftd , JOINER=1. Entered the same network parameters for CLI. Initiallty CLI joined as child but later upgraded itself to router and was able to ping border r

[2018-01-23 23:37] kyberpunk commented on #126
@indrapanwar Are you sure you have compiled the NCP firmware with JOINER flag? There is COMMISSIONER flag in the guide instead.

[2018-01-24 09:18] indrapanwar commented on #126
@kyberpunk yes . I used in-band commissioning. I also tried with two CLI (JOINER=1). Created thread network with one CLI and provided same network credentials to other CLI. The later joined as child initially and later promoted to router. If leader ( with which thread network was created) went down then router took the role of leader.

[2018-01-24 14:03] thcu-gp opened #132 "how is wpantund linked into the borderrouter"
* There is a wpantund located in /thirdparty/wpantund/rep
* script/setup clones wpantund into ._build/wpantund

So why would setup clone wpantund if there is a copy available in the repo already - or - why having it in the repo if the setup script is going to clone it anyways.

What is the preferred approach here?

Besides cloning within a git repo is not very useful, since all git  functionality

[2018-01-24 19:31] jwhui commented on #130
I am not currently aware of any plans to implement border router on WiFi MCUs.  However, we are always looking for contributions!

[2018-01-25 02:42] bukepo commented on #132
@thcu-gp, wpantund located in third_party is an work version for borderrouter and is only partly compiled into a simple library for accessing wpantund d-bus service. While `script/setup` pulls the latest wpantund code, which is supposed to work better with the latest openthread and provide d-bus service to talk to openthread.

For submodule, this project just follows openthread's pattern, which ma

[2018-01-25 17:35] kyberpunk commented on #126
@bukepo Sorry for the delay. Here are full logs you have requested.
[log_android_app.txt](https://github.com/openthread/borderrouter/files/1664998/log_android_app.txt)
[log_otbr_agent.txt](https://github.com/openthread/borderrouter/files/1664999/log_otbr_agent.txt)
[log_cli.log](https://github.com/openthread/borderrouter/files/1665000/log_cli.log)

[2018-01-29 19:57] jobroe commented on #129
A delay doesn't help.  I'm still I trying  to update my port ( Silabs Thunderboard Sense ) to the current master branch to obtain the crypto fixes.  The Problem is the UART doesn't work at all now. I saw you did the update of Gecko_SDK/RAIl , maybe you have an idea where to look to correct?

[2018-01-30 19:00] jobroe commented on #129
Finally I got the my port working (although with the old uart driver but it's not a topic to discuss here) and the initial problem is solved. It seems the crypto acceleration issue  openthread/openthread#2487 was the reason. Thanks  !

[2018-01-30 19:44] #129 closed

[2018-01-30 21:10] ubx-caloca opened #133 "Permission denied error in setup script on RBP3"
I'm following this guide (https://openthread.io/guides/border_router/build) to get and test the OTBR. However, I'm getting an error "mkdir: cannot create directory /etc/ncp_state_notifier: Permission denied"  every time I execute "./script/setup".

It seems that the script is trying to do an instruction that needs root permission. I'm I suppose to run the setup script with sudo?.

I've attached th

[2018-01-30 21:17] jwhui commented on #133
I just merged #131, which should help address your issue.  Can you sync with the latest master and try again?

[2018-01-31 01:25] ubx-caloca commented on #133
Thanks for the quick reply. Just finished running the setup script and the error is no more.  I will continue to follow the Openthread.io guide to see if everything is installed correctly, I was having issues with the Commissioning app not seeing the BR.

[2018-01-31 01:39] ubx-caloca commented on #133
Mmm it seems that setup script didn't work as expected. When executing the script after a while the Raspberry restarts on its own, I thought that it was the expected behavior after finishing, however when verifying services with command "sudo systemctl status" I'm not seeing otbr-agent.service, otbr-web.service and wpantund.service.

Does the setup script generates some log files to check what is

[2018-02-01 02:03] bukepo commented on #133
@ubx-caloca I think you may save log by redirect stdout and stderr. What version of Raspberry are you using? In some low memory boards, you have to increase the swap to finish compiling the project. See #115.

[2018-02-01 06:13] ubx-caloca commented on #133
I'm using a Raspberry Pi 3 Model B and installed a fresh Raspbian Stretch Lite 2017-11-29.  I will send you the log file tomorrow and try to increase the swap file.

[2018-02-01 20:31] ubx-caloca commented on #133
I'm sending the logs of the setup script generating by typing "./scripts/setup &> setupOutput.log".

[setupOutput.log](https://github.com/openthread/borderrouter/files/1687082/setupOutput.log)

After a while of executing the script, the raspberry rebooted by itself. In addition, the otbr services were not installed, here is the output of the "sudo systemctl status" command.

[systemctlStatus.txt](

[2018-02-02 20:59] ubx-caloca commented on #133
Found the reboot issue of the setup script. I was using a power adapter of one of my electronic devices because I was giving the RBPi3 without the power adapter. It was working fine with the Pi, however, it seems that when it was in the middle of compiling stuff the power setup was not enough to power the RBPi3 and cause the reboot.

For future reference use a power adapter with 5V and 2A, mine wa

[2018-02-02 21:20] jwhui commented on #133
@ubx-caloca, great to hear you resolved the reboot issue and thanks for reporting back!  Will close this issue.

[2018-02-02 21:20] #133 closed

[2018-02-06 18:49] ubx-caloca opened #134 "Dnsmasq service fails to start - Address already in use"
I downloaded the OTHBR code from the latest commit (07ea4a54a5ee4105475627fa23d65d2cdda9ec14) and followed all the steps exactly as described in the OTBR setup guide (https://openthread.io/guides/border_router) in a Raspberry Pi 3 with Raspbian Lite 2017-11-29 . However I'am getting an error when booting Raspbian :

.....
0;32m  OK  0m Started OpenBSD Secure Shell server.
0;1;31mFAILED 0m Failed t

[2018-02-07 04:00] bukepo commented on #134
@prfi It seems there's some conflict between dnsmasq and bind9. Shall we disable the DNS server of dnsmasq?

[2018-02-18 20:13] kyberpunk commented on #126
@bukepo Did you make any conclusions based on log files? Can I do something else?

[2018-02-23 02:35] bukepo commented on #126
Hi @kyberpunk, sorry for the late. From the logs you shared, it seems the DTLS requests may not be successfully sent by the joiner. As in the log_cli.log, I cannot find log showing sending the DTLS client hello. You may find something like this which shows sending Discovery Request on channel 25.
[code]
I also checked log_otbr_agent.txt, it shows no Relay Receive(URI: c/rx) were received by border

[2018-02-25 19:24] ekarlso opened #135 "Use KW41Z as NCP"
Hi, is the correct way to use KW41Z as a NCP like this when building the firmware:
make -f examples/Makefile-kw41z TMF_PROXY=1 BORDER_ROUTER=1 COMMISSIONER=1 USB=1

I then flash it by copying to
sudo cp output/kw41z/bin/ot-ncp-ftd /mnt/

Which is the flash directory where I read it should pickup the flash file from.

But then wpantund says
Feb 25 19:17:14 raspberrypi wpantund[2391]:         BUILD_

[2018-02-27 01:12] bukepo commented on #135
I think you need convert the *ot-cli-ftd* to *ot-cli-ftd.bin* according to https://github.com/openthread/openthread/tree/master/examples/platforms/kw41z

[2018-02-27 20:06] kyberpunk commented on #126
@bukepo I've spent some hours by JTAG debugging. Network discovery and commissioner steering data reception works correctly. But client hello transmition and all retransmit attempts fail with no acknowledgement error (as you can see in the log). Frame is never received by NCP device and no client hello message was captured by sniffer. I've tried 2 different border router HW platforms.
[log.log](ht

[2018-02-28 21:52] kyberpunk commented on #126
@bukepo I'm sorry, for some reason client device datagrams were not received by NCP. I've tried another attempt and client hello was sent correctly. Commissioner probably got message, processed J-PAKE info and sent message to the joiner. After that I'm not sure what happened (17:36:03.681 in android app log).

Here are new logs:
[cli_log.log](https://github.com/openthread/borderrouter/files/176898

[2018-02-28 22:00] jwhui commented on #126
@kyberpunk, are you using the kw41z platform?  There are known issues specific to kw41z example drivers that we're currently looking into.  See thread [here](https://groups.google.com/d/msg/openthread-users/UqXO4qKzVb4/I6Skqfc6BAAJ).

[2018-02-28 22:24] kyberpunk commented on #126
@jwhui Yes I am using KW41Z and I am experincing the same issue described in your link.

But there are two problems I've found. In the last log posted by C. Eldridge the client hello message is never sent correctly because of NoAck error. It happened also in my case, but I solved it by leaving network (sudo wpanctl leave on OTBR) and forming it again with web GUI. After that messages are sent corr

[2018-02-28 22:38] jwhui commented on #126
@kyberpunk, the CLI logs show that the KW41Z NCP is not properly receiving IEEE 802.15.4 ACKs when sending messages to the Joiner.  This is evident in the multiple prints of "Dropping (reassembly queue)".  The NCP is trying to send the same message multiple times to the Joiner, but failing to progress because it is not receiving the ACK.

[code]

We have someone from NXP who will look into this is

[2018-03-05 15:38] kyberpunk commented on #126
Thank you for the information. Please let me know about the updates.

[2018-03-05 15:38] kyberpunk commented on #126
@jwhui Thank you for the information. Please let me know about the updates.

[2018-03-17 20:35] ekarlso opened #138 "Error getting wpan to work."
Hi, I am unable to start the otbr:
[code]

[2018-03-17 20:46] jwhui commented on #138
It appears that wpantund did start properly.  You just need to form a Thread network.

BTW, there is [newer firmware available](https://openthread.io/guides/ncp/firmware).  You may want to reflash your NCP with the newer version.

[2018-03-29 08:13] thcu-gp commented on #104
This is probably an issue for all prefixes served by the border router (on and off mesh).

[2018-04-03 01:03] HendraWijaya commented on #125
I'm experiencing same problem as OP. I've followed the instruction:
https://openthread.io/guides/border_router/raspberry_pi_3b
I'm using RPI3 and running Raspbian Stretch Lite OS image. Any fix for this?

[2018-04-16 22:33] jwhui commented on #125
@HendraWijaya, are you still having issues with this?

I just tested and the scripts seem to work for me.

Hardware version:
[code]

Linux is [Raspbian Stretch Lite 2018-03-13](https://www.raspberrypi.org/downloads/raspbian/).
[code]

[2018-04-16 22:34] #138 closed

[2018-04-16 22:58] ubx-caloca commented on #134
I was using Raspbian Stretch 2017-11-29.  I will try again with version 2017-11-29 and the latest commit and with the newer 2018-03-13.

[2018-04-19 21:37] ubx-caloca commented on #134
I installed the OTBR 3 times from scratch. Two times using Stretch 2017-11-29, the first time I didn't get the issue, the second time the issue appears. Then install one time using Stretch 2018-03-13 and the issue was there. I still don't know why sometimes it works and sometimes it doesn't.

My solution to fix the issue is to modify the bind9.service to force bind9 to start only after dnsmasq. Th

[2018-04-20 02:12] HendraWijaya commented on #125
@jwhui I tried again and it works now. I connect the pi through eth. It didn't work before because I connected through wlan.

[2018-05-04 14:23] flywangnwu opened #142 "How to ping external network"
I run ubuntu 16.04 in my host, So i check ifconfig, then find enp0s3 and wpan0 network device. I think enp0s3 should be real device and wpan0 is a virtual device.
In root account, I can ping child device from host "wpan0" successfully and ping host 'wpan0' from child cli command successfully.
In host side >> ping6 -I wpan0 CHILD_ADDR
or
In child side >> ping WPAN0_ADDR

But I can not use host "enp

[2018-05-04 16:13] jwhui commented on #142
Answered on [openthread-users](https://groups.google.com/d/msg/openthread-users/ggHmrdsugoY/FgLKAn-4AQAJ):

[2018-05-14 06:16] flywangnwu commented on #142
jwhui, thank you for your response.
Is the wpanctl configured automatic if i form a network through WED UI?

I have fixed the issue, but I don't known the reason.
After I configured the prefix to prefix 2018:db8:1:ffff::/96 in tayga configuration, I can ping HOST successful. But it is not OK if I set prefix to well-knwon (64:ff9b).

[2018-05-15 14:47] antonsviridenko opened #144 "How to change network interface name used by otbr-web?"
`border router web started on wpan0`

I need to change interface name from "wpan0" to something other, where is this configuration can be changed? I have borderrouter installed on beaglebone black

[2018-05-15 16:48] jwhui commented on #144
In `/etc/wpantund.conf` you can specify the `Config:TUN:InterfaceNam` value to something other than `wpan0`.

At the same time, there are a few places in the borderrouter repo where `wpan0` is hardcoded - you will need to replace those as well.  We'll find a better way to make it easier to change this configuration.

[2018-05-16 08:09] GizMo94 opened #145 "PICO-PI-IMX7 as border router"
Hello !

I'm currently working on a PICO-PI-IMX7 and I am wondering if it's possible to use it as a border router ?

If yes, what is the best way to start ?

Thank you,

[2018-05-17 04:41] jwhui commented on #145
What OS are you running on the PICO-PI-IMX7?

[2018-05-17 07:40] GizMo94 commented on #145
I'm running with Android Things

[2018-05-17 15:44] jwhui commented on #145
Android Things does not currently support Thread Border Routing.  However, it is on the backlog.

[2018-05-18 06:39] GizMo94 commented on #145
Which OS do you advise, in order to do the Border Router on the PICO ?

[2018-05-25 15:57] jwhui commented on #142
Yes, the prefix and default route can be configured through the web UI.

What is the IPv4 address of your host?  Note that the Well-Known Prefix 64:ff9b::/96 cannot be used to connect with private IPv4 addresses (10.x.x.x, 192.168.x.x, etc).

[2018-06-14 19:36] leonsteenkamp commented on #134
I think I've run into a the same problem.

Fresh Raspbian Stretch (Lite) 2018-04-18 install following the Get Started guide.  BorderRouter code is the latest commit - a9cc157. Raspian is updated and with rpi-update.

This causes the Web GUI not to load and no Internet on wifi access point. Stopping dnsmasq and bind9 then starting dnsmasq and then bind9 seems to resolve the issue.

[code]
[code]

[2018-06-14 19:43] ubx-caloca commented on #134
I've always get this issue. My fix is to modify the
/lib/systemd/system/bind9.service file and modify the "After" line to this
"After=network.target dnsmasq.service"

On Thu, Jun 14, 2018 at 12:36 PM, Leon Steenkamp <notifications@github.com>
wrote:

[2018-06-14 21:02] leonsteenkamp opened #149 "CC2650 LAUNCHXL as NCP"
Hi,
Is it possible to use a Raspberry Pi 3B with a CC2650 LAUNCHXL a border router? I am running into some issues and I thought I'd start with the basic questions.

Following the guide its looks like I can compile the NCP example for the device that gives me ot-ncp-mtd binary. But I cannot form a network using the Web GUI and when I use the command line method I get stuck at.

[code]
I can also no

[2018-06-15 04:39] ghost opened #150 "./script/setup Failed to enable unit: File /etc/systemd/system/wpantund.service already exists."
I am following the instructions on the OpenThread Border Router Build and Configuration (https://openthread.io/guides/border-router/build) on a RPi3.
The ./script/bootstrap went through.
The ./script/setup gave me a lot of hard time.

During my first several trials, the installation auto-rebooted multiple times. Finally it came to a complete. But the $sudo systemctl status shows only avahi-daemon.

[2018-06-15 07:13] leonsteenkamp commented on #150
I initially ran into some issues. A few things you can check are:

- Make sure you are using the Raspbian Stretch **Lite** image
- Update it after installing Raspbian
- Rather work from the RPi3 directly for the install part. I started off ssh'ing into the Pi, but I think this messes with things.

[2018-06-15 17:07] osrm101 commented on #150
@leonsteenkamp Thanks for your note. I also ip address changed and messed something like wpantund pipe when ssh. So I checked all these three points during the latest fresh re-installation.

[2018-06-15 17:30] osrm101 commented on #150
I digged a little more about this error. I looked into `/etc/systemd/system/wpantund.service`. The pathes are specified to `/usr/sbin/wpantund`, but in my system, the wpantund service is at `/usr/local/sbin/wpantund`. So I edited `wpantund.service` file. Now I am able to start the wpantund service. Manually start `./script/server`, `$sudo systemctl status` shows all four required services are acti

[2018-06-15 20:49] osrm101 opened #151 "perl: warning: locale"
When I start with a fresh raspbian stretch lite image, after clone the OTBR repository, during the steps of Install dependencies `./script/bootstrap` and Compile and install OTBR and wpantund `./script/setup`
I see many warning like
`perl: warning: Setting locale failed.`
`perl: warning: Please check that your locale settings:`
`perl: warning: Falling back to a fallback locale.`

I just wonder if

[2018-06-19 03:47] bukepo commented on #150
@osrm101 wpanctl is located in `/usr/bin` or `/usr/local/bin`. As @leonsteenkamp suggested, the scripts are tested under Raspbian Lite image, the desktop image has more packages installed and leaves less resource for building this project, which may result in rebooting for resources being exhausted.

If you are still using the desktop version, then your new problem may also be caused by that. Beca

[2018-06-19 14:16] yz101-osrm commented on #150
@bukepo Thanks for your note.
I was using 2018-04-18-raspbian-stretch-lite image. I repeated the installation on 2018-04-18-raspbian-stretch-lite several times, these problems were very persistent. The whole issue was resolved by rolling back to 2018-03-13-raspbian-stretch-lite. I think we can close this issue.

[2018-06-21 05:40] NickNamerr commented on #138
wpantund[3251]: State change: "uninitialized" -> "offline"
wpantund[3251]: NCP is running "OPENTHREAD/20170716-00680-gb833373-dirty; EFR32; Jun 21 2018 11:59:49"
wpantund[3251]: Driver is running "0.08.00d (0.07.01-223-g50adabd; Jun 21 2018 12:50:41)"
wpantund[3251]: Network is not joinable
wpantund[3251]: Unsuccessful in restoring property "NCP:CCAThreshold" on NCP: "STATUS_PROP_NOT_FOUND" (13)
w

[2018-06-21 06:01] jwhui commented on #138
@NickNamerr, as noted above, please trying using a newer firmware build (e.g. HEAD of master).  If you are using EFR32, you will need to build that image from source.

[2018-06-21 06:17] NickNamerr commented on #138
i am using newer firmware:
"NCP:Version" => "OPENTHREAD/20170716-00680-gb833373-dirty; EFR32; Jun 21 2018 11:59:49"
and latest wpantund version:
"Daemon:Version" => "0.08.00d (0.07.01-223-g50adabd; Jun 21 2018 12:50:41)"

[2018-06-21 06:23] jwhui commented on #138
@NickNamerr the NCP version indicates otherwise: "20170716".  What commit id are you using?

[2018-06-21 06:30] NickNamerr commented on #138
@jwhui
[nick openthread]$ git log -1 | grep ^commit | cut -d " " -f 2
b8333732fa543b32ecf10cd8eec2f8988821436e

[2018-06-21 06:34] jwhui commented on #138
Can you provide the info necessary to reproduce, including your EFR32 board info, build steps, etc?

[2018-06-21 06:45] NickNamerr commented on #138
I am running wpantund on RHEL7.5
EFR32 board is BRD4168A with chipset EFR32MG13P732F512GM48.

Changes in attached file.
[diff.txt](https://github.com/openthread/borderrouter/files/2122449/diff.txt)

arm-none-eabi-gcc -v
Using built-in specs.
COLLECT_GCC=arm-none-eabi-gcc
COLLECT_LTO_WRAPPER=/home/admin/gnu/gcc-arm-none-eabi-4_9-2015q3/bin/../lib/gcc/arm-none-eabi/4.9.3/lto-wrapper
Target: arm-none

[2018-06-21 07:12] NickNamerr commented on #138
Just tried to do on another PC with Ubuntu OS:
cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=17.10
DISTRIB_CODENAME=artful
DISTRIB_DESCRIPTION="Ubuntu 17.10"

Same result.

Maybe it will help:
syslog:
Jun 21 15:08:36 ubuntu-pc NetworkManager[810]: <info>  [1529564916.7369] manager: (wpan0): new Tun device (/org/freedesktop/NetworkManager/Devices/7)
Jun 21 15:08:36 ubuntu-pc NetworkManager

[2018-06-22 07:18] NickNamerr commented on #138
Used https://openthread.io/guides/border-router/build to build from scratch.

After i followed https://fedoraproject.org/wiki/EPEL and install all necessary software manually (avahi-client and libdaemon, libdaemon in repo but there no libdaemon.pc for pkg-config checks.), manually run "cd borderrouter/third_party/mbedtls/; make install" because of otbr-web.service won't start , libmbedtls.so.0 was

[2018-06-22 23:11] jwhui commented on #150
I just tested a fresh install on Raspbian Stretch Lite 2018-04-18 and the border router setup on a RPi 3B Rev 1.2 and it worked for me.

With a keyboard directly attached to the RPi and Ethernet providing Internet connectivity:
[code]

[2018-06-23 07:17] akansal1 commented on #142
@jwhui how can I connect to private IPV4 addresses, I have opened a similar issue in openthread  [#2823](https://github.com/openthread/openthread/issues/2823)

[2018-06-23 12:33] LuDuda commented on #142
Hello @akansal1,

I believe the easiest solution is to change NAT64 prefix in /etc/tayga.conf to be different than 64:ff9b::/96 and use the different one.

Similar issue, with more details [here](https://devzone.nordicsemi.com/f/nordic-q-a/34902/unable-to-ping-from-thread-cli-example-to-my-pc-on-ipv4-network).

[2018-06-25 10:41] akansal1 commented on #142
@LuDuda  thanks you solution work partially for me, I am now able to ping to local networks but I am still not able to resolve 127.0.0.1 or 0.0.0.0 via tayga

[2018-06-25 21:41] jwhui commented on #142
@akansal1, you should have your server bind to a private or public IP address.
- 127.0.0.1 is the loopback address and typically used to receive packets generated by the host itself.
- 0.0.0.0 is generally viewed as the "unspecified address"

[2018-06-29 07:59] #125 closed

[2018-06-29 08:00] jwhui commented on #126
Resolved by https://github.com/openthread/openthread/pull/2753.

[2018-06-29 08:00] #126 closed

[2018-06-29 08:01] #130 closed

[2018-06-29 08:01] #132 closed

[2018-06-29 08:02] #135 closed

[2018-06-29 08:02] #19 closed

[2018-06-29 08:03] #142 closed

[2018-06-29 08:04] #144 closed

[2018-06-29 08:04] #151 closed

[2018-06-29 08:05] #81 closed

[2018-06-29 20:15] kwangeom opened #154 "using laptop as OTBR"
This is question, not a bug. I am not sure where to post this.
I am trying to use my laptop, which has Ubuntu 16.04.4 LTS installed, as openthread borderrouter. But I don't see wpan0 interface after installation complete.
This is what I did.
1. git clone https://github.com/openthread/borderrouter
2. cd borderrouter
3. ./script/bootstrap && ./script/setup
4. modify /etc/wpantund.conf to add ttyACM0

[2018-07-09 09:55] bukepo commented on #154
@kwangeom sorry for the late.
I'm wondering if */dev/ttyACM0* is available when wpantund starts. Try manually restart wpantund and check the logs. If it didn't help, could you please share your logs so that we can analyze?

Besides, your manually installation may result in two *wpantund*s. If you want to manually build, it's better to configure just as the script does.

[2018-07-09 09:57] #150 closed

[2018-07-09 09:59] bukepo commented on #149
@leonsteenkamp mtd cannot form new network because it cannot act as router.

[2018-07-09 10:13] leonsteenkamp commented on #149
Hi @bukepo, thanks for the clarification.

[2018-07-09 10:13] #149 closed

[2018-07-16 19:41] yz101-osrm opened #155 "CC2652 NCP:State uninitialized"
I use a Raspberry Pi 3B with a CC2652 as a border router. I am running to some issues of NCP state.

`$sudo wpanctl status`

wpan0 shows

	"NCP:State" => "uninitialized:fault"
	"Daemon:Enabled" => true
	"NCP:Version" => ""
	"Daemon:Version" => "0.08.00d (/134b481; Jun 17 2018 02:17:51)"
	"Config:NCP:DriverName" => "spinel"
	"NCP:HardwareAddress" => [0000000000000000]

I tried with the troubleshoot

[2018-07-16 19:53] yz101-osrm commented on #134
I've run into the same dnsmasq issue here. @ubx-caloca 's modification helps resolve it. Thanks.

[2018-07-17 06:00] gjc13 commented on #155
Would you please paste the log output of wpantund, thanks.

[2018-07-17 14:18] yz101-osrm commented on #155
@gjc13 Thanks for spending time on this issue. Here are the status of the wpantund service.

`$sudo service wpantund status `

`$grep wpantund` in `/var/log` shows

daemon.log:36983:Jul 14 03:20:37 raspberrypi wpantund[611]: wpantund[611]: Starting wpantund 0.08.00d (Jun 17 2018 02:17:51) . . .
daemon.log:36984:Jul 14 03:20:37 raspberrypi wpantund[611]: wpantund[611]: #011BUILD_VERSION = 134b481
d

[2018-07-19 02:00] gjc13 commented on #155
It seems to me CC2652 is not responding to Spinel protocol, what's the firmware you flash to it?

[2018-07-23 03:46] gjc13 opened #157 "Vulnerability to XSS"
[code]
Causes the web page to alert

[2018-07-23 06:33] gjc13 commented on #157
Temporarily limiting access to localhost in this commit:https://github.com/gjc13/borderrouter/commit/cc1a253773007a42fdae0ec556c109eb4b5b79b0
The vulnerability, however, comes from the http framework we are using now. To totally fix this issue, maybe we should wait for the api definition of openthread and implement the web server with modern frameworks.

[2018-07-24 00:36] bukepo commented on #157
Is it reasonable to provide a match all resource responding with escaped information as a quick fix for this issue?

[2018-07-24 00:40] bukepo commented on #155
@yz101-osrm are you still having this issue?

[2018-07-24 17:59] yz101-osrm commented on #155
@gjc13 @bukepo Sorry for the belated reply. I just made a fresh build of ncp and checked with `wpantund` on the serial port. The issue still exists.

wpantund[15115]: Starting wpantund 0.08.00d (Jul 17 2018 12:42:15) . . .
wpantund[15115]: 	SOURCE_VERSION = 0.07.01-240-g9f4e111
wpantund[15115]: 	BUILD_VERSION = 0.07.01-240-g9f4e111
wpantund[15115]: Configuration file "/etc/wpantund.conf" read.
wpa

[2018-07-24 18:05] yz101-osrm commented on #155
@gjc13 The firmware I used was `ot-ncp-ftd` in the `/output/cc2652/bin`, uploaded by the Uniflash, and deselected the binary check-box. This file does not have an `elf` extension.

[2018-07-25 04:53] bukepo commented on #155
@yz101-osrm  Have you successfully played with the CLI version?

[2018-08-03 19:08] yz101-osrm commented on #155
Apologize that it has been a while.  The problem still exists here.
@bukepo I flashed two cc2652 boards with `ot-cli-ftd`. Plugging them to a Ubuntu machine here, each cc2652 shows up two `/dev/ttyACM*`, not sure if this is normal, or which port should be used.
Using `screen` or `putty` to access either of these two COM ports, a terminal opens, but no `>` shows up, neither I can type in any CLI co

[2018-08-03 19:22] yz101-osrm commented on #155
The NCP also behaves the same. After `wpanctl:utun7> reset', the `wpantund` logs shows

wpantund[5434]: State change: "uninitialized:fault" -> "uninitialized"
wpantund[5434]: SpinelNCPTask.cpp:70: Requirement Failed (Failure while trying to send command)
wpantund[5434]: SpinelNCPTaskSendCommand.cpp:322: Requirement Failed ((mRetVal) == 0)
wpantund[5434]: SendCommand task encountered an error: 7 (0

[2018-08-05 13:25] bukepo commented on #155
Did you deselect the binary checkbox as suggested in that README?

[2018-08-06 14:03] yz101-osrm commented on #155
@bukepo Yes, I did deselect the binary checkbox.
I will pull the latest openthread later today, and make another try. Thanks.

[2018-08-08 20:20] mateusz- opened #164 "Network Master Key in Web UI"
Hi,

I added a Network Master Key to the response of `WpanService::HandleStatusRequest` (i.e., `GET /get_properties`) in a [fork](https://github.com/mateusz-/borderrouter).

This helps with OOB commissioning.

Now, the OTBR Web UI loops through all properties and displays them on a status page. This means that the Network Master Key is displayed in plain text.

Does this sound okay? Should the Net

[2018-08-10 22:07] jwhui commented on #157
Resolved by #162.

[2018-08-10 22:07] #157 closed

[2018-08-14 18:52] Vyrastas commented on #134
Ran into the same issue, the fix from @ubx-caloca worked for me as well.  bind9 needs to start after dnsmasq when the system boots.

[2018-08-14 21:05] yz101-osrm commented on #155
I found a conflict of `gcc-arm-none-eabi` compiler on my machine.
Based on the [Build a Thread network with nRF52840](https://codelabs.developers.google.com/codelabs/openthread-hardware/#1), `$sudo apt-get install -y gcc-arm-none-eabi` installs `15:6.3.1+svn253039-1build1`
In the same guide, the "Install ARM GNU Toolchain" will install `arm-none-eabi-gcc`, version `gcc-arm-none-eabi-7-2018-q2-upda

[2018-08-14 21:27] yz101-osrm commented on #155
Building has generated a WARNING as below.
`$ make -f examples/Makefile-cc2652 JOINER=1 > build.log`
`configure: WARNING: using cross tools not prefixed with host triplet
/usr/bin/../lib/gcc/arm-none-eabi/7.3.1/../../../../arm-none-eabi/bin/ld: warning: cannot find entry symbol _start; defaulting to 0000000000008000`

`_start` address in not defined and defaulted to 0x8000. Is this the right boot

[2018-08-15 16:57] srickardti commented on #155
Hey @yz101-osrm, the virtual machine that I use for building OpenThread has the compiler installed in `/opt/.`:
[code]

And the version of the toolchain I use is:
[code]

I do not believe that there is an issue with building with the `7.3.1` toolchain, but I have not verified it.

I have not seen that error you included. Since we are building a `nosys` image, it really shouldn't be looking for `_s

[2018-08-17 01:10] ubx-caloca commented on #155
It seems to be an issue of the Openthread stack repo and specific to the cc2652 platform code, it also affects the CLI firmware (cannot type CLI commands on the serial connection).  The issue was reported in https://github.com/openthread/openthread/issues/2959 and there is already a fix, however, it is still not merged in master. Already tested the fix (https://github.com/openthread/openthread/pul

[2018-08-17 16:35] jwhui commented on #155
@ubx-caloca, thanks for validating the fix! https://github.com/openthread/openthread/pull/2971 is now merged.

@yz101-osrm, can you try again with the latest OpenThread code on the NCP?

[2018-08-19 03:52] yz101-osrm commented on #155
@srickardti  Thanks for the fix! @ubx-caloca  Thanks for the validation.
Thank all for your help!

I just updated to the commit `f993ba5 [toranj] add test-case for router table (#2970)`. Several progresses are successful here so far.

- The ot-ncp-ftd and ot-cli-ftd firmware are successfully built and loaded to mutliple cc2652 boards respectively.
- The CLI devices response in the CLI terminal.
-

[2018-08-21 12:47] hubertmis opened #175 "Tayga cannot start"
I'm using borderrouter on Raspbian.
With change provided in #158 I cannot start tayga, because tunnel device is not created. When I try to create interface with `tayga --mktun` I get following error message:
[code]
According to this error message, #158 is incorrect. Should we revert it?

[2018-08-21 12:47] hubertmis commented on #175
When I revert #158 manually, tayga works correctly.

[2018-08-21 18:57] yz101-osrm commented on #175
I saw the same Tayga error here after $git pull to the latest from #146

[2018-08-21 18:58] ubx-caloca opened #176 "Cannot connect commissioner app with OTBR"
Since recent commits on both openthread/openthread and openthread/borderrouter, I cannot get the commissioning app to connect with the OTBR.  Just tried today with latest commits from openthread (8/21/2018) and borderrouter (8/18/2018) and still cannot connect.

I'm tried with two boards as NCP, a TI CC2652 and a TI CC2538. Both with the firmware generated with "Makefile-cc2538 BORDER_AGENT=1 BORD

[2018-08-22 00:48] jwhui commented on #176
@ubx-caloca, thanks for raising this issue. Were you able to get things working with a previous commit?

[2018-08-22 03:26] gjc13 commented on #175
add ipv6-addr for well-known prefix in merge request #177

[2018-08-22 12:47] bukepo commented on #176
I can reproduce this issue and I'm still debugging this. I will update when I find the root cause.

[2018-08-22 17:05] ubx-caloca commented on #176
@jwhui I will try getting back to a working commit in both OTBR and the stack later today. @bukepo  good to know that you are getting to the root cause, thanks.

[2018-08-23 04:34] bukepo commented on #176
@ubx-caloca @jwhui
Update: I found the received bytes are different from wpantund sent, which resulted in HDLC parse error. I think this might be an issue similar to openthread/openthread#2857. And I also verified that there's no such issue with nrf52840 board. I guess this is a UART driver issue. Any thoughts?

[2018-08-23 20:43] ubx-caloca commented on #176
@jwhui @bukepo I tried to go back in time in both openthread/openthread and openthread/borderrouter, specifically return to jun 26 on both, to see if the issue is not there. I did a clean installation of the OTBR. I was sure that it was working fine at that time, however, I was still unable to connect the commissioning app with the BR, its taking a long time for the passphrase dialog to appear, th

[2018-08-28 18:48] nealjack opened #181 "Recursive DNS on public network allows DDOS attack"
The current configuration of BIND is for a recursive DNS server, which has the potential to be used for amplification attacks if the device is on a public network. Is there any reason why the border router cannot simply act as a forwarder?

Additionally, the web gui, if public facing, provides a vector for outside parties to modify the thread network without any kind of authorization.

[2018-08-28 19:45] leonsteenkamp commented on #176
hey, I think have run into this issue now too. Using CC2652 as NCP.

[2018-08-28 20:00] jwhui commented on #176
@leonsteenkamp, thanks for reporting. Were you able to get something working and stable with an earlier commit on the cc2652?

[2018-08-28 20:27] leonsteenkamp commented on #176
@jwhui nope, I have just recently started my Thread journey and have yet to get a working setup. I was stuck for a bit because the CLI for cc2652 was broken (didn't see any output form the UART) until a recent commit (I think). I was following the guides from the start again and got to this point. I then saw this issue which describes what I am seeing.

[2018-08-29 07:52] bukepo commented on #176
The debugging result shows cc2538 receives some incomplete HDLC packets. Currently, the example code doesn't enable hardware accelerated encryption for cc2538. When cc2538 is computing the ECC keys, it cannot handle bytes in UART, so those bytes get overwritten by new data. I think we have two solutions:

1. Enable hardware encryption
2. Involve a background task mechanism and put key calculation

[2018-09-04 13:01] kyberpunk commented on #126
I can confirm It works now. Thanks.

[2018-09-05 16:28] leonsteenkamp commented on #176
@bukepo Hi, I am assuming that the two options you mention are non-trivial to implement?

[2018-09-06 03:40] bukepo commented on #176
@leonsteenkamp from the data sheet of CC2538, it seems it has versions supporting hardware accelerated AES and ECP. But I didn't find much material about it.

[2018-09-06 13:23] tarunsmalviya opened #189 "Inbound traffic not allowed after installing border router dependencies"
While installing dependencies required for setting up RPi device as border router, the inbound traffic was disabled automatically.
Is there anything in bootstrap script which results causing this problem?

I was able to solve this issue after allowing ssh inbound using ufw package.
Below is the link: https://wiki.ubuntu.com/UncomplicatedFirewall

But I am not clear about the cause of issue.

[2018-09-06 13:28] bukepo commented on #189
What version of ubuntu are you testing? The script installed `iptables`. I'm not sure if that could cause a problem.

[2018-09-06 13:40] tarunsmalviya commented on #189
@bukepo I am using Raspbian lite version.
Yes. The script installed iptables.
You can find the script here: https://github.com/openthread/borderrouter/blob/master/script/bootstrap

[2018-09-06 13:43] bukepo commented on #189
Yes, I'm sure it installed iptables, which is required by nat64. However, we didn't encountered this issue before. What's the exact Raspbian version do you use?

[2018-09-06 13:49] tarunsmalviya commented on #189
@bukepo
Version: June 2018 | 2018-06-27-raspbian-stretch-lite.img

[2018-09-06 16:59] srickardti commented on #176
Hardware acceleration seems to be the bottleneck. While testing the next [SIMPLELINK-CC26X2-SDK](http://www.ti.com/tool/SIMPLELINK-CC26X2-SDK) I didn't have any issue with commissioning.

@leonsteenkamp neither would be trivial to implement. A back-grounding feature for the tasklets would introduce a bit of complexity that might fail conformance testing. And implementing hardware acceleration with

[2018-09-07 05:48] tarunsmalviya commented on #189
@bukepo
I tried reinstalling the open thread dependencies again on newly flashed Raspbian image over ssh. When I execute ./script/bootstrap command, it got stuck on message "Processing triggers for systemd (232-25+deb9u2) ..."
<img width="790" alt="screen shot 2018-09-07 at 11 06 17 am" src="https://user-images.githubusercontent.com/9993036/45200522-d9901a00-b28e-11e8-920b-83435a517e2e.png">

Afte

[2018-09-10 05:01] bukepo commented on #176
@leonsteenkamp if you want to use chip without hardware acceleration. I suggest you try the newly added [posix-app](https://github.com/openthread/openthread/pull/3052), which offloads most computing onto Linux, so that there should not be the hardware acceleration issue on the NCP side any more.

[2018-09-10 05:02] bukepo commented on #176
@srickardti Thanks for the information.

[2018-09-11 04:40] #189 closed

[2018-09-11 05:12] jwhui commented on #189
@tarunsmalviya, did you resolve your issue? If so, can you provide some information on the problem and resolution?

[2018-09-11 06:53] tarunsmalviya commented on #189
Yes. The issue was that I was trying to run script by providing internet through Wifi. But it is mentioned in document that we have to provide internet over ethernet.

[2018-09-11 07:06] jwhui commented on #189
@tarunsmalviya, glad you resolved your issue, and thanks for reporting back!

[2018-09-11 21:03] nealjack commented on #181
The DNS amplification issue can be resolved by adding an access control list like this before the options:

[code]

and changing the `allow-recursion` flag to only operate on that acl:

[code]

[2018-09-13 00:26] jetacpp opened #191 "Start comissioner failed with FeatureNotSupported for CC1352"
Hello,
I compiled NCP firmware for CC1352 with the following options enabled, upon flashing (ot-ncp-ftd), I was not able to start commissioner. I need commissioner for devices to join the network. Can you please help ?

Wpantund start log:

Wpanctl log:

[2018-09-13 00:29] jwhui commented on #191
The NCP version you are using does not include the proper Commissioner support:
[code]

Can you try using the latest openthread/openthread master code and see if that helps?

[2018-09-13 00:52] jetacpp commented on #191
Hello jwhui,

I cloned a brand new master branch and the NCP version with working commissioner is nowOPENTHREAD/20170716-00882-g5c08fb8e. Appreciate much for your help !

[2018-09-13 01:04] jetacpp commented on #191
I apologized for closing the issue too soon,

from wpanctl, I used:

Then from joiner node, I attempt otJoinerStart() with my pre shared key, after a few minutes

on wpantund side, I see it crashed, I have repeated this 3 times:

[2018-09-13 02:13] bukepo commented on #191
@jetacpp This might be caused by missing hardware acceleration of ECC. Could you please try the posix-app mode, so that CC1352 only works as radio transceiver?
You may refer to https://github.com/openthread/openthread/blob/32d6eec5fd486e6b0bb50268c2374bff5d8c7059/src/posix/README.md

[2018-09-13 07:01] tarunsmalviya commented on #104
I am also facing same issue.

[2018-09-14 13:54] tarunsmalviya opened #192 "How to restore normal RPi Wifi settings"
After building RPi as border router, the Wifi settings are changed. As per installation guide, it becomes an access point. Instead I want to connect RPi to another router.

Can anyone help me out regarding this.

Thanks!

[2018-09-17 07:47] tarunsmalviya commented on #125
@XiangcaiHuang
Hi!
I am also facing same Timeout error issue. Can you please mention how you resolved it.

[2018-09-17 12:50] matteoscordino opened #193 "otbr-commissioner only working when debug_level>=7"
I know this might be a bit of an extreme case, but we are trying to use otbr-commissioner as external commissioner to commission devices on a Silicon Labs border router.
This is because we haven't found anywhere guidance on how to implement our own external commissioner (the official Thread Commissioning white paper is too abstract to use as implementation guideline).
Important note: the whole com

[2018-09-18 07:05] bukepo commented on #193
We were testing with the default debug level, which should be 6. There's some big code cleaning up after the old commit you provided. And we'd prefer focusing on the latest version. Could you please try the latest commissioner and attach logs?

[2018-09-18 09:34] matteoscordino commented on #193
Of course, will do in a minute.

Meanwhile, it seems that on the old version things start working even without debug output if I add a delay in `dtls_mbedtls.cpp`, in the `void MbedtlsServer::Process(const fd_set &aReadFdSet, const fd_set &aWriteFdSet, const fd_set &aErrorFdSet)` method.
It definitely looks like a race condition on the file descriptor, similar to issue https://github.com/openthrea

[2018-09-18 09:47] matteoscordino commented on #193
Attached is a log from the version in HEAD. This is with full debug output and it still doesn't work.
To summarise:
- commit 276d368 does not work out-of-the-box if debug out is disabled or piped to /dev/null
- commit 276d368 works out-of-the-box if debug out is maxed out
- commit 276d368 works regardless of debug level if I add a 500ms sleep before checking the DTLS fs
- HEAD does not work in any

[2018-09-18 14:55] bukepo commented on #193
@matteoscordino could you please try #196 ?

[2018-09-18 15:18] bukepo commented on #192
Could you please try setup with `NETWORK_MANAGER=0 ./script/setup`?

[2018-09-18 15:20] bukepo commented on #191
@jetacpp any good news?

[2018-09-18 15:21] bukepo commented on #181
@nealjack Thanks for pointing out this issue. Would you like to submit a PR to fix this?

[2018-09-18 15:26] bukepo commented on #155
@yz101-osrm  Is this still a issue for you?

[2018-09-18 15:27] bukepo commented on #154
@kwangeom is this still an issue for you?

[2018-09-18 17:32] matteoscordino commented on #193
Just tried, similar behaviour...

[otbr_from_pr196.log](https://github.com/openthread/borderrouter/files/2393874/otbr_from_pr196.log)

[2018-09-19 10:45] tarunsmalviya opened #199 "Unable to commission a device onto thread network using NCP attached to RPi"
For commissioning a device onto thread network, we have to enable commissioner role in NCP with the help of command **"sudo wpanctl commissioner start"**. After enabling commissioner role, we can commission device onto thread network using **"joiner-add command"**.

Below is the list of available options and commands for commissioner command:
![screen shot 2018-09-20 at 11 58 52 am](https://user-i

[2018-09-20 06:49] tarunsmalviya commented on #199
***wpanctl version is 0.08.00d***

While executing the **"commissioner joiner-add command"**, I am getting following error:
![screen shot 2018-09-20 at 12 14 16 pm](https://user-images.githubusercontent.com/9993036/45800723-672c2a80-bccf-11e8-9070-1bad51d04af7.png)

I don't know what is wrong with the command I am executing because I am passing exactly 3 arguments.

[2018-09-20 07:41] tarunsmalviya commented on #199
I got the issue.
We have to pass **euid** in double quotes, like
![screen shot 2018-09-20 at 1 09 34 pm](https://user-images.githubusercontent.com/9993036/45803254-bde93280-bcd6-11e8-9fea-339f5bd8f3cf.png)

[2018-09-20 07:41] #199 closed

[2018-09-20 19:02] ubx-caloca commented on #155
I'm also getting an error when trying to commissioning using CC2652 boards.

If I use a CC2652 as NCP for the BR, the commissioning app cannot connect to the BR ( I can see the BR in the app, however, when clicking on it and typing the Commissioner passphrase that I know is correct, I get incorrect password error).

If I use the CC2652 as a joiner and using either the comm app or node with the com

[2018-09-24 15:38] srickardti commented on #176
@bukepo Yes, that will work for now.

We'll add hardware acceleration for the CC13X2/CC26X2 sometime in the future.

[2018-09-25 07:50] sjlongland commented on #104
I found a work-around… I set up this script to run at boot:
[code]
That JSON blob is found by using my browser's developer tools to snoop on the front-end to the border router.  It's not pretty, but it gets me going.  The `wpanctl reset` probably isn't needed in most cases, just in our case the NCP is "special" and doesn't seem to want to work first try.

[2018-09-26 11:09] tarunsmalviya opened #201 "How can I include more features in Web GUI?"
I want to include more features in Web GUI like showing details of child, routers in network, commissioner support, etc.
Can you please help me where to start form.

[2018-09-26 12:32] tarunsmalviya commented on #201
@gjc13 Can you explain how can I update the current installed OTBR without affecting current configurations.

[2018-09-27 10:40] gjc13 commented on #201
You can checkout to the local branch, then
[code]
You will find updated `otbr-agent` and `otbr-web` executable at `src/agent/otbr-agent` and `src/web/otbr-web` and they will not override your installed binary in $PATH.

[2018-09-29 01:32] XiangcaiHuang commented on #125
@tarunsmalviya
Hi, I'm sorry for the late reply. Have you solved the problem?
I was just trying to run the script at different times of the day, then it finally work. So it maybe the reason for the network connection but I'm not sure.

[2018-10-01 23:29] nealjack commented on #181
Hi, sorry for the delay. Could you point me to the location in the scripts where the Bind configuration is changed, particularly the `allow-recursion` field? It looks like that line is only touched during an uninstall. How is it modified during an install?

[2018-10-04 10:22] bukepo opened #204 "[docker] add check for Dockerfile"
**Is your feature request related to a problem? Please describe.**
There's no guarantee for the Dockerfile in our CI.

**Describe the solution you'd like**
A specific check for this file.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2018-10-08 00:42] sjlongland commented on #104
One thing I observe now, is `wpantund` after commissioning, will then mysteriously "forget" the prefix.  In some cases, mere minutes after assigning it.  e.g.

[code]

[2018-10-09 06:55] gjc13 commented on #204
Added a basic docker build check in [pull request](https://github.com/openthread/borderrouter/pull/206)

[2018-10-11 05:46] jsnayak opened #207 "Openthread Border Router setup script error"
I  started the set-up of the border router on a RPi3 using Raspbian lite 2018-06-27-raspbian-stretch-lite. I followed the basic steps as instructed.
sudo apt-get update
sudo apt-get install git
git clone https://github.com/openthread/borderrouter.git
cd borderrouter
./script/bootstrap
./script/setup

The setup script never successfully completed. It stopped with the error:
error: Failed to enable

[2018-10-11 05:54] bukepo commented on #207
Did you test on a fresh install on RPi3?

[2018-10-11 06:52] jsnayak commented on #207
Bukepo,

Yes, I formatted the sd card and used etcher on windows to install the raspbian-lite. Once that was done, I directly tried the border router install.

[2018-10-11 10:46] sujaykg opened #208 "Docker build failure with etc/Dockerfile"
Hi,

I  used etc/Dockerfile  to build and encountered following errors.

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [1926 B]
Err:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
  Clearsigned file isn't valid, got 'NOSPLIT' (does the network require authentication?)
Get:2 http://archive.ubuntu.com/ubuntu bionic InRelease [242 kB]
Get:3 http://archive.ubuntu.com/

[2018-10-12 02:12] gjc13 commented on #208
Can you run `sudo apt-get update` on your host machine?
I guess your network need an extra login procedure in browser.

[2018-10-12 11:35] sujaykg commented on #208
Thank you . I switched to  a my  PC to resolve the issues . the proxy setup wasn't helping and i didnt want to spend much time resolving proxy issue.

[2018-10-12 11:35] #208 closed

[2018-10-12 14:49] sujaykg opened #211 "docker build sucessfull but the container exits within few seconds"
I was built the docker  sucessfully but with couple of warnings .when I ran docker container exits within few seconds.

make[3]: Nothing to be done for 'install-exec-am'.
make[3]: Nothing to be done for 'install-data-am'.
make[3]: Nothing to be done for 'install-exec-am'.
 *** WARNING: systemctl not found. otbr cannot start on boot. -------------  ????
Removing intermediate container 7003b6dc2a56

[2018-10-12 18:01] jwhui commented on #207
@jsnayak, thanks for raising this issue. While I have reproduced the error message, OTBR should be fully installed and running.

One thing you may need to do is modify the `/etc/wpantund.conf` file so that `Config:NCP:SocketPath` points to the proper "/dev/<serial>" device that shows up for your NCP.

After updating `/etc/wpantund.conf`, the easiest thing to do is issue a `sudo reboot`. After rebo

[2018-10-15 05:15] jsnayak commented on #207
jwhui,

Thank you for the clarification, I will proceed with the border router testing even if the failed message is generated.

[2018-10-18 12:34] vervaekejonathan opened #212 "wpanctl set Network:PSKc fails"
Following this manual: https://openthread.io/guides/border-router/

I'm unable to setup a Thread network via the webinterface, so i'm trying to use the commandline tools.

The following function fails:
`sudo wpanctl setprop Network:PSKc --data 198886f519a8fd7c981fee95d72f4ba7`

It clearly exists since I can read it via get

Any ideas? Thanks!

[2018-10-18 12:48] vervaekejonathan commented on #212
It seems I had used ot-ncp-mtd instead of ot-ncp-ftd and it is fixed now!

[2018-10-18 12:48] #212 closed

[2018-10-18 13:51] vervaekejonathan opened #213 "Unable to commission"
I'm following (literaly) the guide (https://openthread.io/guides/border-router/external-commissioning)
Everything seems to work, up to the part where the commissioning happens.

You can see below what commands are used to form the network (same as in documentation)

198886f519a8fd7c981fee95d72f4ba7

When opening up the thread app, i see both ipv4 and ipv6 networks and when trying to connect with t

[2018-10-18 14:41] jwhui commented on #204
Resolved by #206.

[2018-10-18 14:41] #204 closed

[2018-10-18 14:44] jwhui commented on #213
We'll take a look at the Thread app failure.

As for the manual method, did you issue `wpanctl commissioner start` before `wpanctl commissioner joiner-add`?

[2018-10-18 14:53] vervaekejonathan commented on #213
`wpanctl commissioner start` works!

Thanks for looking at the Thread App!

[2018-10-23 05:41] jsnayak opened #214 "Error for Setup of OTBR+Posix NCP"
In my hardware setup, I only have 2 RPi-3B, each of which is coupled with an Atmel radio chip at86rf233.

1. I have set up a lowpan network following the steps in [Raspbian-6lowpan-Support](https://github.com/RIOT-Makers/wpan-raspbian/wiki/Create-a-generic-Raspbian-image-with-6LoWPAN-support). With the communication happening over the the atmel radio, I was able to run the ot-cli (compiled for POS

[2018-10-23 18:34] jwhui commented on #211
We just posted our [guide for running the OTBR Docker container](https://openthread.io/guides/border-router/docker/run). Try following the guide and let us know if that helps. Thanks.

[2018-10-25 03:54] jwhui commented on #121
Closing stale issue.

[2018-10-25 03:54] #121 closed

[2018-10-25 03:57] jwhui commented on #145
Currently, OTBR is commonly run on Raspbian and Ubuntu.

[2018-10-25 03:57] #145 closed

[2018-10-25 03:58] jwhui commented on #21
Closing stale issue.

[2018-10-25 03:58] #21 closed

[2018-10-25 03:59] jwhui commented on #154
Closing stale issue.

[2018-10-25 03:59] #154 closed

[2018-10-25 03:59] #176 closed

[2018-10-25 04:00] jwhui commented on #191
Closing stale issue.

[2018-10-25 04:00] #191 closed

[2018-10-25 04:00] jwhui commented on #192
Closing stale issue.

[2018-10-25 04:00] #192 closed

[2018-10-25 04:00] #155 closed

[2018-10-25 04:02] jwhui commented on #207
@bukepo, any thoughts on the error message above?

[2018-10-25 04:03] jwhui commented on #214
@jsnayak, have you tried following the [OTBR Guide](https://openthread.io/guides/border-router)? You can also try the Docker support that was recently launched.

[2018-10-25 04:04] bukepo commented on #207
I will look into this issue today.

[2018-10-25 04:05] jwhui commented on #213
@vervaekejonathan, what hardware are you using for the NCP?

[2018-10-25 05:55] vervaekejonathan commented on #213
@jwhui, kw41z
Thanks!

[2018-10-26 04:16] #207 closed

[2018-10-30 04:53] tarunsmalviya commented on #104
I noticed one thing, that when we add on mesh prefix for the first time and after rebooting, the ncp persist the on mesh prefix which is labelled as **origin:ncp**. In this state, my coap message are not able to reach RPi and also I am not able to ping RPi. When I again add the on mesh prefix using Web GUI, new prefix is added into on mesh prefix list with label **origin:user**, and I am able to r

[2018-11-14 08:34] tarunsmalviya commented on #213
I am getting **Join failed [Security]** error while commissioning node through
NCP.

Following are the command I executed on OTBR:
[code]

AND Following command in node via cli:
[code]

Any help will be appreciated.

[2018-11-17 11:36] chacal opened #224 "Docker image fails on Raspberry Pi"
**Describe the bug**
Running the latest openthread/otbr image from Docker Hub on Raspberry Pi 3 fails with error:
`standard_init_linux.go:190: exec user process caused "exec format error"`

The error message suggests that the image is not build for ARM architecture, I believe.

**To Reproduce**
1. Flash latest Raspbian Stretch Lite on an SD card
1. Boot the image and log in
1. Install Docker: `cur

[2018-11-19 15:59] Vyrastas commented on #224
Hi @chacal

You mention Raspbian Stretch Lite... the [guide on openthread.io](https://openthread.io/guides/border-router/docker) requires Raspbian Stretch with Desktop.  Can you try it with that?

[2018-11-19 19:41] chacal commented on #224
Hi @Vyrastas!

Tried also with the Desktop image, but the end result is same.

If I build the Docker image by myself on the Raspberry Pi, it seems to work. So the problem seems to be the prebuilt image in Docker Hub (which most probably is only built for x86 architecture and not ARM).

[2018-11-19 23:16] Vyrastas commented on #224
Yes, that is likely the issue.  We'll compile a second image on ARM and upload it to the Docker Hub, update the docs, etc.  Thanks for bringing this to our attention, please just use the one you built directly on the Pi in the meantime.

[2018-11-27 17:32] Vyrastas commented on #224
@chacal

I've uploaded an ARM-specific image to the Hub, and updated `openthread/otbr:latest` to be a manifest that will pull the correct image depending on your underlying system (Linux, RPi3B). If you try the `docker pull` again, it should work correctly.

[2018-11-28 18:55] d3ads1lence opened #225 "nat64 on beaglebone"
Hi, I am faced some problems with configure nat64 on beaglebone. Studying the scripts folder, I found out that nat was not tested on beaglebone. Could you give me an easy way to do this? Also I want to add that I use docker.

[2018-11-28 22:22] #201 closed

[2018-11-28 23:37] jwhui commented on #225
Assuming you are using the default TAYGA configuration, you could test basic functionality by trying to ping an IPv4-Embedded IPv6 Address using the NAT64 well-known prefix of `64:ff9b::/96`. For example, to ping [Google's Public DNS](https://developers.google.com/speed/public-dns/) at `8.8.8.8`, try:
[code]

[2018-11-29 08:54] d3ads1lence commented on #225
Yes, I tried to ping my PC in a local network. I converted IPv4 into IPv6 and used well-known prefix of 64:ff9b::/96, but this doesn't work. As I understand by default TAYGA not configured on beaglebone so I'm trying to do it now but without any success.
Thanks for yor response.

[2018-11-30 05:46] d3ads1lence commented on #225
`# ping6 64:ff9b::808:808`
also doesn't work

[2018-12-02 15:46] chacal commented on #224
Just FYI.. Now everything works just like it should also for me. Thanks! 👍

[2018-12-05 04:14] bukepo commented on #134
The guide has been updated.

[2018-12-05 04:14] #134 closed

[2018-12-05 10:15] bukepo commented on #225
Hi @d3ads1lence, You may change https://github.com/openthread/borderrouter/blob/master/examples/platforms/beagleboneblack/default#L40
let `NAT64=1` and setup on a fresh beaglebone. If it doesn't work, please make sure tayga service is running. And note the well-known prefix doesn't support local network, such as 192.168.0.0/16 and 10.0.0.0/8.

[2018-12-05 10:30] bukepo commented on #193
@matteoscordino we have several enhancements recently, have you tried the latest code?

[2018-12-05 10:38] tarunsmalviya commented on #213
@bukepo No. After removing `sudo wpanctl permit-join` command, it worked perfectly.

[2018-12-05 13:51] #213 closed

[2018-12-21 04:55] bahubalioffice67 opened #229 "Raspberry pi name resolution issue"
I trying to make rasp pi as border router.I was able to compile it successfully and trying to create wifi access point setup.(https://openthread.io/guides/border-router/access-point).
Once I setup wifi access point, the rasp board is not able to ping.I am using corporate internet.
Here is log.
pi@raspberrypi:~$ ping google.com
ping: google.com: Temporary failure in name resolution
pi@raspberrypi:~

[2018-12-21 05:03] jwhui commented on #229
@bahubalioffice67, can you provide more details to reproduce?
- Which version of Raspbian are you using?
- What commands from clean image did you run?
- Does DNS resolution work at first? If so, at what point does it stop working?

[2018-12-21 06:38] jwhui commented on #229
On a clean Raspbian image, are you simply running the `script/bootstrap` and `script/setup` scripts? If so, the Wi-Fi interface should already be configured for AP mode and you do not need to follow the instructions in [Wi-Fi Access Point Setup for OpenThread Border Router](https://openthread.io/guides/border-router/access-point).

On Raspbian, by default, the setup script installs Network Manager

[2018-12-21 07:04] hjian2017 commented on #229
@bahubalioffice67 I think you need to configure the DNS.   I have the same problem before, after configuring the DNS, it work.
You can fix it by adding a  nameserver ip address in /etc/dhcpcd.conf below interface eth0:  static domain_name_servers=8.8.8.8

BTW, @jwhui I just reported this on openthread.io.

[2018-12-21 07:21] jwhui commented on #229
@hjian2017, shouldn't the `dhcpcd` configurations added in [Wi-Fi Access Point Setup for OpenThread Border Router](https://openthread.io/guides/border-router/access-point) be specific to wlan0 interface? I assume DNS server configuration is provided by DHCP on Ethernet interface and should not be affected.

[2018-12-21 08:35] bahubalioffice67 commented on #229
@jwhui
I have formatted sd card and installed clean Raspbian stretch. I couldn't see any AP(I am trying to search from my mobile). If I setup  Wi-Fi Access Point Setup for OpenThread then I willl be able to see AP.

[2018-12-21 08:40] bahubalioffice67 commented on #229
p

@hjian2017
I have added "eth0: static domain_name_servers=8.8.8.8" at the end of file, still it is not working

[2018-12-21 08:41] bahubalioffice67 commented on #229
I have installed clean raspbian stretch. I have run  script/bootstrap and script/setup scripts but could not see any AP.

[2018-12-21 10:17] hjian2017 commented on #229
@jwhui , In my experience, after running script/bootstrap and script/setup, I still need to follow the instructiongs in [Wi-Fi Access Point Setup for OpenThread Border Router.](https://openthread.io/guides/border-router/access-point). Then you can see the AP.
Then set the DNS server ip .

@bahubalioffice67  please share your /etc/dhcpcd.conf

You should add "static domain_name_servers=8.8.8.8" bel

[2018-12-22 01:20] bukepo commented on #229
Is the raspberry pi connected to an router with DHCP enabled? And could you make sure the DHCP server is property configured so that hosts connected though Ethernet will get the correct DNS configuration along with IP addresses?

[2018-12-22 01:51] bukepo commented on #229
@bahubalioffice67 we also verified last night, it worked as expected. In my setup, raspberry pi was connected to a router which allocates local network addresses. Could you please double check your router configurations?

[2018-12-22 11:32] d3ads1lence commented on #225
@bukepo Hi. I'll check it asap and give you feedback, thanks for your response!

[2018-12-24 05:14] bahubalioffice67 commented on #229
There was a symlink for /etc/resolv.conf and is unlinked. Now internet is working.

[2018-12-25 07:31] d3ads1lence commented on #225
@bukepo Hi,I tested and got some results:

WARNING: Localhost DNS setting (--dns=127.0.0.1) may fail in containers.
--ncp-path
NCP_PATH: /dev/ttyACM0
TUN_INTERFACE_NAME: wpan0
NAT64_PREFIX: 64:ff9b::/96
AUTO_PREFIX_ROUTE: true
AUTO_PREFIX_SLAAC: true
Binary file (standard input) matches
Current platform is beagleboneblack
 *** ERROR:  dns64 is not tested under beagleboneblack.

[2018-12-26 05:56] bukepo commented on #225
@d3ads1lence could you try entering the container and comment out this line https://github.com/openthread/borderrouter/blob/master/script/_dns64#L41

[2018-12-27 06:32] tarunsmalviya commented on #213
Hi,

I am facing the issue regarding commissioner command. I am trying to run the `sudo wpanctl commissioner start` command, but sometimes error occurs as shown in attached screenshot.

![screenshot from 2018-12-26 13-28-38](https://user-images.githubusercontent.com/9993036/50468706-414daa80-09cf-11e9-83a7-72d6d4475ae4.png)

[2018-12-28 06:49] jwhui commented on #213
@tarunsmalviya, note that this GitHub issue is closed - please open a new issue so that it can be tracked properly.

In the logs, I also noted that `commissioner start` is failing because the commissioner has already been started.

To help diagnose, can you get and bring the current commissioner state? One possibility is that the commissioner is still in `OT_COMMISSIONER_STATE_PETITION` and is not

[2018-12-28 10:01] tarunsmalviya opened #230 "NCP commissioning misbehaving."
I am using NCP as commissioner. When I run the `joiner add` command, `commissioner joiner-add failed with error 4. InvalidForCurrentState` error occurs.

PFA screenshot.

<img width="568" alt="screenshot 2018-12-28 at 3 30 28 pm" src="https://user-images.githubusercontent.com/9993036/50511952-9fed5400-0ab5-11e9-920b-07dd516d3d60.png">

[2018-12-28 22:11] jwhui commented on #230
When becoming a Commissioner, the device must first confirm its role with the Leader. This involves sending a CoAP message to the Leader and receiving a response. With the current implementation, no Joiners may be added before the Commissioner role is confirmed. Can you try getting the Commissioner state to ensure that it is in `OT_COMMISSIONER_STATE_ACTIVE`?

[2019-01-03 13:22] bukepo commented on #193
Close stale issue.

[2019-01-03 13:22] #193 closed

[2019-01-07 08:05] tarunsmalviya commented on #230
How can I get OT_COMMISSIONER_STATE_ACTIVE in RPi, where NCP is configured as commissioner?
Also, when NCP is in leader state, then also I am getting error. Following are the screenshot of end node.

![commissioner issue](https://user-images.githubusercontent.com/9993036/50756095-14c44900-1281-11e9-9b99-b29e04de86d5.png)

[2019-01-07 23:08] jwhui commented on #230
The commissioner state is exposed via the wpantund property `Commissioner:State`. You can use the following command to retrieve the current value:
[code]

[2019-01-09 09:53] tarunsmalviya commented on #230
When NCP is leader, then commissioner start and performs well (as Commissioner:State is active). But when node other than the NCP is leader, and I try to start commissioner, the Commissioner:State is always disable. Below is the Screenshot.

<img width="670" alt="screenshot 2019-01-09 at 2 44 16 pm" src="https://user-images.githubusercontent.com/9993036/50891410-34df3e00-1422-11e9-9e3c-05955cb5c60

[2019-01-09 20:32] jwhui commented on #230
@tarunsmalviya, I just tested this on the latest code:
* Border Router: https://github.com/openthread/borderrouter/commit/2e5889a1af55a8e57e0a7525e42c5d9e3c61db49
* NCP: https://github.com/openthread/openthread/commit/b6065c0fc1ef85eaee92ce1da698f34ec143eef3

Unfortunately, I was not able to reproduce your behavior.

I set up a Leader, joined the OTBR to the Leader, then issued the following comma

[2019-01-10 07:08] tarunsmalviya commented on #230
@jwhui I had tested on [c32a284](https://github.com/openthread/borderrouter/commit/c32a284e1ba9ec33ee12d215d1662390865a2319)

[2019-01-10 19:06] jwhui commented on #230
One thing to note in the original post, the "commissioner start" command succeeded. However, in a subsequent post, "commissioner start" command failed. You may want to update your script to perform "commissioner stop" first to clean up any existing state.

Also, when the NCP is not the leader, the NCP must communicate with the Leader before it can become an active commissioner. Try adding some del

[2019-01-11 06:48] tarunsmalviya commented on #230
@jwhui In subsequent post, the commissioner command failed because it was already started(as you can see in screenshot).

Yes, I waited for more than 10 minutes, but it didn't worked.

[2019-01-11 06:53] jwhui commented on #230
To get more visibility into your issue:
1. Can you try to enable logging on the NCP? The logs will be provided to wpantund and inlined in the wpantund logs.
2. Are you able to obtain a packet capture with a sniffer so that we can analyze in wireshark?

[2019-01-14 14:20] bukepo commented on #230
@tarunsmalviya could you share the content of your script?

[2019-01-16 12:27] bahubalioffice67 opened #231 "Wlan interface instead of Ethernet in border router"
**Is your feature request related to a problem? Please describe.**
Since our office doesn't have IPV6 network, i would like to use wifi adpater to get get IPV6 on raspberry pi.

**Describe the solution you'd like**
I have connected tp-link n600 wifi adpter to pi board and modified below script
 file: ./script/_network_manager

AP_CONN="BorderR-AP"
ETH_CONN="random1"

create_ap_connection()
{
    I

[2019-01-16 12:31] jwhui commented on #231
Discussion on [openthread-users](https://groups.google.com/d/msg/openthread-users/v1ZM2r09s8Q/g0vyZvZoCAAJ)

[2019-01-16 12:33] jwhui commented on #231
I am not able to reproduce the issue on a clean setup of OTBR. Are the global IPv6 addresses reflected on `wpan0` interface if you **do not** make the changes to `script/_network_manager`?

[2019-01-16 12:34] bahubalioffice67 commented on #231
Basically I have 2 question
1. Using wlan instead of Ethernet in border router
2. NCP is not updating wpan0 with proper ipv6 and prefix

[2019-01-16 12:37] bahubalioffice67 commented on #231
I don't have IPV6 on Ethernet. When I connect Ethernet(only ipv4) I am able to see only mesh and link local  addresses.

[2019-01-16 12:40] jwhui commented on #231
You don't need IPv6 on Ethernet for Thread IPv6 addresses to be reflect on `wpan0` interface. If you are seeing mesh-local addresses on the `wpan0` interface, it seems that the NCP is updating `wpan0` properly.

[2019-01-17 05:09] bahubalioffice67 commented on #231
@jwhui
With Ethernet(ipv4) also mesh local address is not reflecting on wpan0.

Correct me if I am wrong: I want to communicate thread end node "globally" via border router. i.e, thread end node acts as coap server and it is being communicated globally via some client(some PC). For this I need to have IPV6 on border router isn't it?That is reason I am trying to have ipv6 on border router.

[2019-01-17 08:46] jwhui commented on #231
For global connectivity:

- If you want end-to-end IPv6 communication, then you need IPv6 on the WAN interface.

- If you simply want to communicate outside, you can also use NAT64 to communicate with IPv4 end points and no IPv6 WAN connectivity is required.

For `wpan0` interface:

- I don't understand under what situations you see IPv6 addresses being reflected on the `wpan0` interface. In an ea

[2019-01-18 06:11] bahubalioffice67 commented on #231
I am sorry, I have modified comment now.(I don't have IPV6 on Ethernet. When I connect Ethernet(only ipv4) I am not able to see mesh and link local addresses on wpan0.)

[2019-01-18 06:13] bahubalioffice67 commented on #231
All i want to do is, communicate thread device globally. (For global communication thread device needs global ip(ipv6), correct?).

[2019-01-18 17:44] jwhui commented on #231
Let me try to clarify:
- When IPv6 is available on Ethernet, you see Mesh Local and Link Local addresses reflected on the `wpan0` interface.
- When IPv6 is *not* available on Ethernet, you do *not* see Mesh Local and Link Local addresses reflected on the `wpan0` interface.

Is that correct?

[2019-01-21 05:08] bahubalioffice67 commented on #231
- No
- No
When I boot up device (NCP is already connected) by default it won't show any address in wpan0

[2019-01-21 05:16] bahubalioffice67 commented on #231
No
No
When I boot up device (NCP is already connected) by default it won't show any address in wpan0

[2019-01-29 11:24] tarunsmalviya commented on #230
@bukepo

[code]

[2019-02-01 05:19] jwhui commented on #231
Issue resolved by forming network and adding prefix.

[2019-02-01 05:19] #231 closed

[2019-02-04 20:17] d3ads1lence commented on #225
Sorry for not answering for so long, but now it looks like it works. At least I can ping google.

[2019-02-04 20:47] jwhui commented on #225
@d3ads1lence, great to hear things are working. What change did you make to get things working? Was it commenting out the line in the `script/_dns64`?

[2019-02-05 06:07] d3ads1lence commented on #225
@jwhui yes, but I download source code and installed borderrouter without Docker. Before that I turned on NAT64 option in the beaglebone config and coomented out line in the script/_dns64.

[2019-02-06 16:11] doanac opened #243 "strncpy used unsafely throughout the code base"
**Describe the bug**
The code base has a lot of uses of strncpy that aren't accounting for the space the nul-byte requires. Additionally, in the places it does, there are no checks that strncpy had to truncate the src buffer.

**To Reproduce**
[code]

**Expected behavior**
I was originally going to fix these one-by-one by just adding a "-1" to the calls. Given the issue is a bit systemic, I wonder

[2019-02-11 07:17] tarunsmalviya commented on #230
@jwhui
Please see the attached screenshot.

I executed following steps:

1. When I ran the **start_commissioner_role.sh** script, output is `commissioner start failed with error 10. Already` for `commissioner start` command.
2. Then I ran `sudo wpanctl get Commissioner:State` command, output is `Commissioner:State = "disabled"`.
3. Then I again ran **start_commissioner_role.sh** script. After 2 mi

[2019-02-12 16:56] #225 closed

[2019-02-12 21:57] #15 closed

[2019-02-14 08:17] bukepo commented on #243
@doanac Thanks. I prefer `strlcpy()` to. Would you like to submit PR to fix this?

[2019-02-14 20:22] doanac commented on #243
I just created a PR. TBH - i'm just trying to get this to compile for a docker image we are building, so I don't yet have a way to test this. So my PR is really just a "this builds":
 https://github.com/openthread/borderrouter/pull/245

[2019-02-18 07:17] HimaniMalviya opened #250 "Unable to receive packet when NCP state is end-device."
I noticed that after NCP changed its state from **leader** to **end-device**, packets were not reaching CoAP server.
Below is screenshot of NCP state:
![ncp_as_end_device](https://user-images.githubusercontent.com/47561367/52934008-400b7f00-337b-11e9-859d-b9d8bf946214.png)

[2019-02-18 07:19] tarunsmalviya opened #251 "Unable to receive packet when NCP state is end-device."
I noticed that after NCP changed its state from **leader** to **end-device**, packets were not reaching CoAP server.
Below is screenshot of NCP state:
![ncp_as_end_device](https://user-images.githubusercontent.com/9993036/52934163-a2fd1600-337b-11e9-9fa1-a340bd8746b6.png)

[2019-02-18 07:21] HimaniMalviya commented on #250
This issue is created from wrong account.

[2019-02-18 07:21] #250 closed

[2019-02-18 07:33] bukepo commented on #251
could you please give details about this? What CoAP server? How do you test reaching CoAP server?

[2019-02-18 11:05] tarunsmalviya commented on #251
@bukepo I am using CoAP Californium server.
I tested by checking logs. When NCP is in end-device state, no packet is received at CoAP server. After some time when state changes to router, then packet are received on CoAP server.

[2019-02-19 21:57] jwhui commented on #251
@tarunsmalviya, any chance you can try with a more recent NCP build? You can find pre-built images and instructions to build your own [here](https://openthread.io/guides/ncp/firmware).

[2019-02-20 06:01] tarunsmalviya commented on #251
@jwhui Sure. Will update you after that.

[2019-02-22 20:08] kwangeom opened #254 "Steering Data is wrong"
**Describe the bug**
I tested with two devices to join a thread network.
First device was successful in commissioning and then tried commissioning for the second device.
But it does not start DTLS session because of wrong "Steering Data" from "Discovery Response".
From the below log captures, when second device tries commissioning, the steering data sent from NCP looks for the first device.

This

[2019-02-22 23:33] jwhui commented on #254
Moved this issue to `openthread/borderrouter` project, since this seems to be specific to border router.

[2019-02-23 02:19] bukepo commented on #254
@kwangeom It seems you are using a very old version, could you please try the latest version?

[2019-02-23 02:20] jwhui commented on #254
@bukepo, I was able to reproduce the behavior using the latest master.

[2019-02-24 01:03] bukepo commented on #254
@kwangeom Hi could you try apply openthread/openthread#3623 and #256 and see if they fix the issue you encountered?

[2019-02-25 23:10] kwangeom commented on #254
@Yakun Xu I will test this fix and let you know the result tomorrow.

On Sat, Feb 23, 2019 at 7:03 PM Yakun Xu <notifications@github.com> wrote:

[2019-02-26 08:49] tarunsmalviya commented on #230
@jwhui Any update?

[2019-02-26 09:29] tarunsmalviya opened #257 "How to send Multicast message from IPv4 to IPv6, i.e, from californium server running in RPi to thread network?"

[2019-02-26 10:42] bukepo commented on #257
This requires multicast NAT, which is not implemented in this project yet. Is it possible to add IPv6 support in californium?

[2019-02-26 10:46] bukepo commented on #230
@tarunsmalviya could you try the fixes in #254 ?

[2019-02-26 20:01] kwangeom commented on #254
@bukepo  This fix is working for me. Thanks so much for the quick fix.

[2019-02-26 23:42] #254 closed

[2019-02-27 08:30] tarakanov opened #258 "Proper way to run OTBR in docker"
I want to run OTBR with some other containers (node-red) and cannot figure out how to configure IPv6 settings between them. I consider clean IPv6 network, regardless IPv4 support.
At docker host I create network with ipv6 support and 2001:db8:1::/64 prefix. Then I run two containers - otbr and node-red and they get IPv6 addresses and can communicate between each other. Then I launch thread with wi

[2019-03-04 23:20] bukepo commented on #251
@tarunsmalviya any update?

[2019-03-04 23:34] bukepo commented on #258
@tarakanov I am sorry for the late. I tried hard to understand your question. But it seems I cannot fully understand for lacking information. Could you give us the network topology? We need know how many nodes in it, what network interfaces on each node and the network prefix configured.

[2019-03-05 07:21] tarunsmalviya commented on #251
@bukepo Yes. I tried with flashing latest NCP built, but the problem remains.

[2019-03-05 07:32] LuDuda commented on #251
@tarunsmalviya what is the CoAP server address that you use?

[2019-03-05 08:19] tarakanov commented on #258
Sure. I have Ubuntu host and mkw41z connected as border router. Network consist of 12 nodes (mkw41z ).
I launch OTBR docker image and Node-red docker image with docker-compose (configuration  attached below). I can ping node from otbr container but cannot ping it from nodred contaier (see log).
I do not understand how to decribe network interfaces on each wireless node, but I use standard OT imple

[2019-03-05 11:47] tarunsmalviya commented on #251
@LuDuda
IPv6: 2001:db8:1:ffff::a00:1
IPv4: 10.0.0.1

[2019-03-05 14:12] bukepo commented on #251
Could you please provide the exact step to reproduce this issue? I am wondering why the node changes from leader to end device. Are you manually setting the role?

[2019-03-05 22:44] bukepo commented on #258
Could try adding a static route for fd11:1111:1122::/64 on nodered?
[code]

[2019-03-06 08:30] tarunsmalviya commented on #251
I have built border router(BR) having NCP attached using RPi. In network I had 11 routers(FTD) and 15 end-nodes(SED). Sometime what happens is, NCP degrade from router/leader to end-device and packet does not reach BR. I don't know why BR is being degrade to end-device because as name suggest, it should be either leader or router.

[2019-03-06 09:14] librasungirl commented on #251
@tarunsmalviya
Will the NCP stay in end-device role longer than 2min? Do you have the capture and the wpantund log?

[2019-03-07 06:34] tarunsmalviya commented on #251
@librasungirl I have observed maximum of 5 minutes, after that sometimes it goes to router state else I have to reset NCP and recreate network.

Can you let me know where wpantund logs are stored?

[2019-03-07 12:06] librasungirl commented on #251
It is in syslog (`/var/log/syslog`) with `wpantund` process name, this log may help to analyze the ncp device behavior.

5 mins seems quite abnormal. If you have the capture, it may help to analyze the network behavior better - as there should be no spontaneous downgrade in your setup theoretically.

[2019-03-07 12:56] tarakanov commented on #258
I add static route and now UDP messages reach node and the node answers. But answer cannot reach nodered.
Also I try to ping from the node via ot-cli. I can ping borderrouter via  `fd11:1111:1122:0:75b6:d21e:64dd:e3e0` but not with `2001:3984:3989::2` (the same host). Node do not try to send ping message. Maybe I need provide route info to the node?
<details>

[code]
<\details>

[2019-03-07 13:37] bukepo commented on #258
it seems the default route is not configured in otbr. Is `fd11:1111:1122::/64` added by you through wpantund? Did you added `-d` for that prefix?

Besides, I think you also need verify if ip forwarding is enabled in nodered.

[2019-03-07 14:07] tarakanov commented on #258
I do not configure anything besides those commands in docker-compose.yml:
[code]

So otbr has this table after startup:
[code]
```fd11:1111:1122::/64``` prefix was added to wpantund by entrypoint script of OT image I guess.

[2019-03-08 02:04] gjc13 commented on #258
How you formed the Thread network?

[2019-03-08 10:02] tarunsmalviya commented on #251
@librasungirl I checked the syslog and discovered that the NCP remains to "end-device" state for max 4 minutes.

[code]

Also, is it okay that NCP sometimes transit between "unknown", "end-device" and "router" state. As according to me NCP should be either "router" or "leader".
Check log from **Mar  2 02:11:31** to **Mar  2 06:21:31**

I am attaching syslog.

[wpantund_Mar_1.txt](https://github.co

[2019-03-08 13:28] librasungirl commented on #251
It should be not normal. @abtink , do you have any thoughts why wpantund keep 'Taking interface(s) down' and reset NCP in the attached log?

Noticing you are using quite new NCP fw (795a7e91, Feb 19, 2019) but outdated wpantund (47f3212, Oct 12, 2018), would you mind updating the wpantund (better plus otbr-agent) as well?

[2019-03-08 18:41] abtink commented on #251
The logs show it NCP was reset "[-NCP-]: NCP was reset (RESET_POWER_ON, 112)**" that why `wpantund` is correctly bringing the interface down (before reinit the NCP).

Seems like before this device is trying to add an on-mesh prefix and fails.
One thing I can suggest to check is if the OPENTHREAD_ENABLE_BORDER_ROUTER is correctly enabled (`--enable-border-router` in configure) on your NCP build.

N

[2019-03-11 04:27] tarakanov commented on #258
@gjc13 could you be more specific? I have border router and one wireless node. First I start border router with configuration I mentioned, then I start the node. I configure the node via node's cli:
[code]
Then I enter `thread start` and node becomes `leader`. No secure options for commisioning or any other procedure.

[2019-03-12 01:37] bukepo commented on #258
@tarakanov I didn't find `fd11:1111:1122::/64` in any source of this project, could you please double check if this prefix is actually configured by you? If you used the web gui form the network, please check the default route check box.

[2019-03-12 02:02] gjc13 commented on #258
The network leader is the ncp attached to the thread docker. The prefix `fd11:1111:1122::/64` may be the network prefix used when forming the thread network using web gui or `wpanctl`.

[2019-03-12 06:53] tarunsmalviya commented on #251
@abtink As per your suggestion I have increase log level.

Also, I have noticed that in general there are two type of on mesh prefix, i.e., origin:user and origin:ncp.
If one of them is missing, then packets doesn't reach to border router.

[2019-03-12 13:05] tarakanov commented on #258
I guess it comes from NCP firmware, I will check it. Interesting, when I start docker, Network is forming autmatically.  Default route is checked.
I will try to run docker without entry point script and launch wpantund by hand.
<details>
<summary>Web gui screeshots </summary>
![image](https://user-images.githubusercontent.com/2468945/54201614-eae10a00-44ef-11e9-8ec3-1468f1b8a61f.png)
![image](http

[2019-03-13 14:26] bukepo commented on #258
@tarakanov could you run [`prefix`](https://github.com/openthread/openthread/tree/master/src/cli#prefix) through `ot-cli`? We can make sure if the default route is set from the output. see

[2019-03-14 13:39] bukepo commented on #258
Any update?

[2019-03-18 05:08] sathish-indin opened #261 "External commissioner fails to authenticate"
With the latest build, formed a thread network with otbr using otbr-web-gui.
OTBR is deployed in Rpi with kw41x nxp running latest openthread
When External commissioner Thread android app joins the OTBR AP and tries to authenticate itself with passphrase, it fails throwing error "Password is incorrect". But the issue doesnt appear in previous month old builds.

[2019-03-18 05:11] bukepo commented on #261
Is otbr the only node or the first node of the Thread network? If not, the password may not be successfully set when you form network in the web gui.

[2019-03-18 05:16] sathish-indin commented on #261
Otbr is the only node and he was in leader state when the network is formed.
Tried changing the passprase when the network is formed and could see the PSKc changing accordingly in the wpanctl command.

[2019-03-18 06:47] bukepo commented on #261
Thank you, could you please share the command to build NCP?

[2019-03-18 09:21] sathish-indin commented on #261
These are the options used when building the otbr NCP.
BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 UDP_PROXY=1 JOINER=1

[2019-03-18 12:45] bukepo commented on #261
Hi, I am not sure if you updated source of OpenThread. If so, you have to update build flag `UDP_PROXY` to `UDP_FORWARD`.

[2019-03-19 11:21] tarakanov commented on #258
I had no chance to try. I need a couple days

[2019-03-19 15:51] bukepo commented on #261
Does it help?

[2019-03-19 16:05] sathish-indin commented on #261
No. Still the same issue even with UDP_FORWARD attribute.

On Tue, 19 Mar, 2019, 9:21 PM Yakun Xu, <notifications@github.com> wrote:

[2019-03-20 07:55] bukepo commented on #261
Hi @sathish-indin, did you cleaned old build directory? It will not take effect by just modifying the flags. You have to clean the old build directory.

[2019-03-26 17:57] jwhui opened #262 "[web] commission should allow stop and/or timeout"
**Is your feature request related to a problem? Please describe.**
After "Start Commission", the process stays running until a new device is successfully commissioned.

**Describe the solution you'd like**
Provide a way for the user to stop commissioning process and/or enter a timeout.

[2019-03-28 16:44] frif-ch opened #264 "Border router does not forward CoAP multicast messages"
### Setup
There is a computer and an OpenThread border router connected to our IPv6 router. (So, they are in the same network). Additionaly, there is a thread device connected to the border router.

### Goal
In the end, I want to discover all CoAP servers in the thread network by sending a CoAP multicast message. (E.g. GET /.well-known/core or CoAP ping)

### Issue
I'm able to send a CoAP GET requ

[2019-03-29 10:12] librasungirl commented on #264
@frif-ch , multicast routing should be set up to let OTBR  forward multicast traffic into thread network.
you may want to try the static multicast routing [SMCRoute](https://github.com/troglobit/smcroute/)
and add multicast route either in conf or via command `sudo smcroutectl add eth0 :: ff08::1 wpan0`

[2019-04-01 17:03] frif-ch commented on #264
@librasungirl - Thanks a lot for your quick answer. Sorry that I come back to you just now, I had to get started with the SMCRoute tool first. Since I had some troubles with the current version of SMCRoute, I went back to the last offical release (v2.4.4).

I tried to add the multicast route with your example command `sudo smcroutectl add eth0 :: ff08::1 wpan0` and afterwards I also tried it with

[2019-04-09 16:59] librasungirl commented on #264
@frif-ch , sorry for late response. It seems ipv6 mutlicast forwarding is not well supported in existing smcroute repo, as well as the `show` command.

Would you please try out [this updated branch](https://github.com/librasungirl/smcroute/tree/ip6_mf)?

[2019-04-09 19:10] jwhui commented on #230
@tarunsmalviya, can you try with the latest master branch to see if the issue still exists?

[2019-04-09 19:12] jwhui commented on #257
Closing stale issue.

[2019-04-09 19:12] #257 closed

[2019-04-14 10:15] librasungirl commented on #264
@frif-ch , the update on smcroute is now pushed to the upstream from review (https://github.com/troglobit/smcroute/pull/124).  And it works well on my trial.
Do you have any update on this?

[2019-04-16 16:23] frif-ch commented on #264
@librasungirl , thanks a lot for your effort! I cannot get the v2.5.0-beta1 to work (neither your version nor the official one). Only with the v2.4.4, the smcroute service does not fail to start.

With v2.5.0-beta1, the Static multicast routing daemon fails to start. `sudo journalctl -u smcroute.service ` gives me the following output (which is not very specific):

[code]

Did you try on an OT bor

[2019-04-16 16:27] jwhui commented on #230
Closing stale issue.

[2019-04-16 16:27] #230 closed

[2019-04-16 16:28] jwhui commented on #258
Closing stale issue.

[2019-04-16 16:28] #258 closed

[2019-04-16 16:29] jwhui commented on #261
Closing stale issue.

[2019-04-16 16:29] #261 closed

[2019-04-16 16:29] jwhui commented on #251
@tarunsmalviya, any further comments on this issue?

[2019-04-16 16:34] jwhui commented on #164
@mateusz-, in general, presenting/communicating the Thread Master Key should be done with lots of care. Where possible, the Thread Master Key should only be communicated securely to properly authenticated users. Requiring a TLS-PSK session does help with that. At the same time, the user should take care how the Thread Master Key is communicated and stored after retrieval. Hope that helps.

[2019-04-16 16:34] #164 closed

[2019-04-17 04:19] tarunsmalviya commented on #251
@jwhui After updating border router, only once I faced this issue. I don't have logs due to lack of time of occurence.

[2019-04-17 15:05] librasungirl commented on #264
@frif-ch , the issue you mentioned should have been officially fixed by the maintainer in these two days. (https://github.com/troglobit/smcroute/commit/c7db569b83b188fc0985c165c0eb1cb973713817)

The service type was simply updated from 'notify' to 'simple' as a workaround. However I forced push once when submitting (troglobit/smcroute#124).  Would you please check whether the branch you used has t

[2019-04-23 20:15] jwhui commented on #251
@tarunsmalviya, thanks for reporting back. I'll close this issue for now.

[2019-04-23 20:15] #251 closed

[2019-04-25 11:32] llane12 opened #269 "Problems with setup script and OTBR setup guide"
I am trying to setup an OpenThread Border Router using a Raspberry Pi 3B with the latest version of Raspbian Stretch with desktop, 2019-04-08 and a Nordic nRF52840 connected via USB.
I am following the guide on the OpenThread website (https://openthread.io/guides/border-router).

I have been able to get the Border Router running, Form a Thread network and join a second nRF52840 to the Thread netwo

[2019-04-25 12:06] bukepo commented on #269
Hi @llane12 , are you using a desktop version of Raspberry PI image? If so, could you please the
Raspbian Stretch Lite version? Unfortunately, we only tested on the lite version.

[2019-04-25 12:07] bukepo commented on #269
To disable NETWORK_MANAGER, you may try the following command after applying #270 .

[code]

[2019-04-25 12:29] llane12 commented on #269
Hi @bukepo, thanks for the quick response.
Initially, I was using the Lite version. Then when I switched to trying Docker I used the Desktop version. I missed that I should change back to Lite to follow the manual guide.

I will try again with a fresh install of Raspbian Lite and using your latest code.

If I want to follow the manual setup steps for the Wi-Fi Access Point, should I also set these

[2019-04-25 13:12] bukepo commented on #269
I don't think `NAT64` will affect manually setup. And yes, you could try disabling DNS64 and DHCPV6_PD.

[2019-04-25 14:49] llane12 commented on #269
I flashed an SD card with Raspbian Stretch Lite 2019-04-08 and booted the Raspberry Pi.

Checked out your modified code and ran the bootstrap script.

Ran the setup script like this:
`NETWORK_MANAGER=0 NAT64=0 DNS64=0 DHCPV6_PD=0 ./script/setup`

After rebooting, I noticed that NetworkManager service was running. I am assuming that this should not be present if the NETWORK_MANAGER=0 flag is set
[c

[2019-04-25 15:35] jwhui commented on #269
@llane12, I wanted to step back to understand what you are trying to achieve, so that we can determine the best/easiest path to get there. Are you simply trying to communicate between a Windows host on Wi-Fi and Thread devices? Do you require IPv4 connectivity on your private network?

[2019-04-26 06:00] tarunsmalviya opened #273 "How to update border router remotely without affecting network configuration?"
I am trying to update border router remotely, but it fails in between because of wifi disconnection when tends to failure of third_party repo update.
Running `./script/setup NETWORK_MANAGER=0` does not prevent set up of RPi as AP.
Also running `./script/update` disconnect RPi from wifi.

[2019-04-26 06:13] bukepo opened #274 "[docker] automatically release docker image"
**Is your feature request related to a problem? Please describe.**
docker image is out of date, and nobody remembered to update it.

**Describe the solution you'd like**
Use Travis to periodically release new docker image for otbr.

**Describe alternatives you've considered**
Not sure how docker hub will authenticate. Maybe the job should be created in docker hub.

**Additional context**
None.

[2019-04-26 06:23] gjc13 commented on #274
Reference: https://docs.docker.com/docker-hub/builds/

[2019-04-26 08:16] gjc13 commented on #274
@jwhui We need to add a bot account to OpenThead team on github and docker hub so that docker hub can be linked to the code repository.

[2019-04-26 10:22] llane12 commented on #269
I ran through the setup again with a fresh install of Raspbian Stretch Lite. Basically all the same problems as before, but with the difference that at the end, running `./script/server NETWORK_MANAGER=0` didn't give any errors. Still, the Web GUI is not accessible over the Wi-Fi and there is no internet access.

Here are logs of the sessions:
[log1.txt](https://github.com/openthread/ot-br-posix/f

[2019-04-26 17:45] jwhui commented on #269
@llane12, if you just want to demonstrate connectivity, can you use the default setup process with Network Manager enabled? You can ignore the "Wi-Fi Access Point Setup" guide when Network Manager is enabled.

I just tried with Raspbian Stretch Lite and followed the standard setup flow:
[code]
Everything works for me. I am able to add an on-mesh prefix and communicate with IPv6/4 hosts external to

[2019-04-26 19:50] jwhui commented on #274
@gjc13, I enabled autobuild on docker hub for this repo. However, the builds are currently failing:
[code]
Thoughts?

[2019-04-27 00:05] bukepo commented on #274
Is submodule initialized? @jwhui

[2019-04-27 00:12] jwhui commented on #274
Shouldn’t that be covered in script/bootstrap?

[2019-04-27 00:14] bukepo commented on #274
I'm sorry, but I don't have docker access to debug this issue. could you grant me the access? my account is bukepo same as github account.

[2019-04-29 09:25] llane12 commented on #269
Demonstrating connectivity is the first step. After that we want to reconfigure the router to route between the Thread network and its Ethernet interface, rather than Wi-Fi. But, continuing with this test for now.

I have installed a fresh Raspbian Stretch Lite, run the default bootstrap and setup scripts and done the wpantund configuration to use the correct interface.
I connected a tablet to the

[2019-04-30 08:10] tarunsmalviya opened #278 "How to update OTBR on large scale controllers?"
I want to update ot-br-posix on multiple controllers which are spread out in different geometrical location. I am using `scripts/update` script to updated ot-br-posix. When updating ot-br-posix remotely, if the power is cut off in between updation, then we have to redo the whole updating process and I will lose data for that particular time.
Is there any way, I can place precompiled binary and no

[2019-04-30 08:43] tarunsmalviya opened #279 "Unable to start commision from otbr-web."
**Describe the bug**
I am trying to start commissioner from otbr-web page. When I click on **START COMMISSION**, it shows a dialog with error `operation is undefined`.
PFA for screenshot.
<img width="317" alt="Screenshot 2019-04-30 at 1 52 52 PM" src="https://user-images.githubusercontent.com/9993036/56949927-d913fe80-6b51-11e9-8d4c-912442ad853b.png">

**Console/log output**
Syslogs:

[code]

**Ad

[2019-04-30 12:40] tarunsmalviya opened #280 "How to change port of otbr-web server?"

[2019-04-30 13:21] bukepo commented on #280
Hi, you may apply PR #281 and create file */etc/default/otbr-web*. e.g.
[code]

[2019-04-30 13:23] bukepo commented on #274
Shall we create periodic tags on docker hub? Or just use the latest?

[2019-04-30 13:26] bukepo commented on #278
For now, I would recommend running this project through docker. We will release the latest [otbr](https://cloud.docker.com/u/openthread/repository/docker/openthread/otbr).

[2019-04-30 13:27] bukepo commented on #273
Please use `NETWORK_MANAGER=0 ./script/setup` to disable setting up AP.

[2019-05-01 23:06] jwhui commented on #269
@llane12, the default TAYGA config and firewall rules are probably getting in your way when trying to communicate between devices connected via the RPI's Thread and Wi-Fi networks. I just tested this on a fresh Raspbian Stretch Lite install using `./script/bootstrap && ./script/setup` and worked well for me.

1) Add on-mesh prefix with default route to the Thread network. For example:
[code]

2) C

[2019-05-02 11:49] llane12 commented on #269
@jwhui Thank you, that's very helpful. I can now ping Wi-Fi devices connected to the SoftAP from a Thread device.

How would I modify this configuration to be able to ping the Thread device from a computer connected to the Wi-Fi AP, is that possible?

I tried the following:
1. Remove the on-mesh prefix
2. Add an on-mesh prefix of fd11:2233:0:0:: with the same flags as suggested
3. Change the NAT64

[2019-05-02 17:22] jwhui commented on #269
Stateful NAT makes it difficult to ping from an external host to a Thread device. With dynamic NAT, the stateful mapping is configured when an internal host (Thread device) initiates communication to an external-host.

If you want to initiate communication from an external host, what you can do is setup UDP and/or TCP static port mappings.

For example:
1. Add a `map` configuration to the end of `

[2019-05-03 14:13] bukepo opened #284 "[docker] Minimize the docker image"
**Is your feature request related to a problem? Please describe.**
I found the docket image is of size more than 1G

**Describe the solution you'd like**
Remove unnecessary packages and build source.

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-05-03 14:14] llane12 commented on #269
@jwhui Thanks again for your help, I will try this out next week.

[2019-05-03 14:14] bukepo commented on #280
Does it work?

[2019-05-06 03:13] gjc13 commented on #279
It's a frontend error showing the wrong image.
Fixed in https://github.com/openthread/ot-br-posix/pull/285

[2019-05-07 04:20] jwhui commented on #279
Resolved by #285.

[2019-05-07 04:20] #279 closed

[2019-05-07 04:38] tarunsmalviya commented on #280
@bukepo Apologise for delay. Will update you by the end of week.

[2019-05-07 04:42] tarunsmalviya commented on #278
@bukepo Okay

[2019-05-07 05:24] tarunsmalviya commented on #273
@bukepo It worked. Thanks!

[2019-05-07 05:38] #273 closed

[2019-05-07 06:18] tarunsmalviya commented on #280
@bukepo It worked.

[2019-05-07 06:19] bukepo commented on #280
Thanks for the update!

[2019-05-07 06:19] #280 closed

[2019-05-07 06:31] tarunsmalviya opened #287 "Commissioner not started via otbr-web GUI."
**Describe the bug**
I started commissioner via web GUI. The popup shows commission operation is success, but when I checked commissioner state with command `sudo wpanctl get Commissioner:State`, the state is still disabled. Also the scan result shows that network is unjoinable.

<img width="271" alt="Screenshot 2019-05-07 at 11 54 39 AM" src="https://user-images.githubusercontent.com/9993036/5727

[2019-05-08 03:24] gjc13 commented on #287
The Commissioner:State property shows whether the on-mesh commissioner is started which is not used by the web gui.
At the end of commission process, the commissioner will retire so you will find the network to become unjoinable again.
Can your device get the network parameter via the commission process?

[2019-05-11 17:04] #278 closed

[2019-05-16 07:24] llane12 commented on #269
@jwhui I am able to get communication from a computer connected to the WiFi AP to the Thread devices, which is enough for now to demonstrate that it is possible. Thank you for your help.

[2019-05-16 07:24] #269 closed

[2019-05-16 15:48] frif-ch commented on #264
@librasungirl , I finally got the time to try it again. I setup everything from scratch (OTBR and smcroute with commit id cf40e9c) and it works now. Thank you very much! 👍

[2019-05-16 15:48] #264 closed

[2019-05-18 07:36] librasungirl opened #289 "[docker] Docker image could not work well on Raspberry Pi"
**Describe the bug**
When running openthread/otbr_arm32v7l_raspbian:latest docker image on Raspberry Pi, it will complain

**To Reproduce**
docker pull openthread/otbr_arm32v7l_raspbian:latest (https://hub.docker.com/r/openthread/otbr_arm32v7l_raspbian)

Raspberry Pi 3 B+ with latest stretch lite and docker installed

**Additional context**
A bit dig on the issue, it seems some architecture issue.

[2019-05-18 08:21] librasungirl commented on #284
docker image for raspberry pi is still up to 1.13GB

Each instruction in Dockerfile would add one layer, and the sizes of each layer add up to equal the size of the final image.

We should either refine the Dockerfile or use `--squash` option to help to squash newly built layers into a single new layer

[2019-05-18 08:45] librasungirl commented on #289
@jwhui, It seems that platform is not properly set for otbr_arm32v7l_raspbian

[2019-05-18 14:30] jwhui commented on #289
@librasungirl thanks for raising this.

Yes, we need to cross-compile for arm on Docker Hub.

There is one solution presented here: https://www.balena.io/blog/building-arm-containers-on-any-x86-machine-even-dockerhub/

Other ideas?

[2019-05-21 03:17] bukepo opened #291 "Switching to C++11?"
**Is your feature request related to a problem? Please describe.**
We are integrating some code written in C++11. And otbr-web also requires C++11.

**Describe the solution you'd like**
I'm considering switching to whole source code style of this project to C++11 as well, including otbr-agent, otbr-comimssioner and otbr-web.

**Describe alternatives you've considered**
None

@jwhui Thoughts?

[2019-05-21 03:25] bsvean2 opened #292 "wpantund.service is not listed as an enabled service during Step 4 of the "Build and Configuration" page"
I am trying to use a Rapsberry Pi 3B+ to set up an OTBR to be used with a CC26x2R Wireless MCU LaunchPad as an NCP (CC2652 platform). I am following the instructions from https://openthread.io/guides/border-router/build. wpantund.service is not listed as an enabled service during Step 4 of the "Build and Configuration" page. I used the "sudo systemctl status" command to verify that the all of the

[2019-05-21 03:34] jwhui commented on #292
@bsvean2, can you verify that `Config:NCP:SocketPath` in `/etc/wpantund.conf` is configured properly for your NCP?

[2019-05-21 03:36] jwhui commented on #291
I am OK with moving to C++11 for ot-br-posix.

[2019-05-21 03:52] bsvean2 commented on #292
@jwhui To do this, I went into the script located at /ot-br-posix/script/_wpantund and I changed the line "'/Config:NCP:SocketPath "\/dev/i Config:NCP:SocketPath "/dev/ttyUSB0"' to "'/Config:NCP:SocketPath "\/dev/i Config:NCP:SocketPath "/dev/ttyACM0" This is the port that my NCP is on.

Is this the correct way to do that?

[2019-05-21 04:15] jwhui commented on #292
@bsvean2, you can edit `script/_wpantund` before running the build/install script ( i.e. `./script/setup`), that is one way to do it. You could have also edited `/etc/wpantund.conf` directly after installation, as suggested by the [Build and Configuration](https://openthread.io/guides/border-router/build) guide.

As mentioned earlier, can you validate that `Config:NCP:SocketPath` in `/etc/wpantund

[2019-05-21 05:09] bsvean2 commented on #292
@jwhui `Config:NCP:SocketPath` in `/etc/wpantund.conf` is now configured properly. I changed it to:
`Config:NCP:SocketPath "/dev/ttyACM0"`

I just now realized that you can access `/etc/wpantund.conf` using `sudo nano /etc/wpantund.conf`

I now see wpantund.service as an enabled service, although, now I can not form a network using the Web GUI. I get a message saying "Form operation has failed"

[2019-05-21 05:11] jwhui commented on #292
It may be that the NCP already has a network configuration. You can try to leave the network first.

Can you provide the output of `sudo wpanctl status`?

[2019-05-21 05:17] bsvean2 commented on #292
Sure. It is:
[code]

[2019-05-21 05:19] jwhui commented on #292
Can you try:
[code]

[2019-05-21 05:24] bsvean2 commented on #292
[code]

[2019-05-21 16:00] jwhui commented on #292
It seems there may be an issue with the NCP.

@srickardti, any thoughts?

[2019-05-21 17:51] srickardti commented on #292
I'll build a Border Router and NCP from the repo here in a bit to make sure that they work together.

@bsvean2, can you check that you have a Rev E of the silicon (https://e2e.ti.com/support/wireless-connectivity/bluetooth/f/538/t/767769). Also do you have atleast a 2.5 mA power source supplying the RasPi? The EnergyTrace circuit in the debugger is pretty power hungry.

If that is all working, dow

[2019-05-21 22:23] bukepo opened #295 "Script to cross compile."
**Is your feature request related to a problem? Please describe.**
Currently there is no script included for build docker for raspberry pi with cross compile.

**Describe the solution you'd like**
Provide a unified script to cross compile for different platforms.

**Describe alternatives you've considered**
Enhance guide to describe how to build docker image with cross compile.

**Additional conte

[2019-05-21 22:38] jwhui commented on #295
This should also address #289.

[2019-05-22 00:06] srickardti commented on #292
Just got a BeagleBone Black Border Router up and running with the SIMPLELINK-CC13X2-26X2-SDK_3.10.00.53. But trying a basic scan with the ncp_ftd from the OpenThread repository fails.

I don't have time today to look into this, but I've got a setup to debug it. I'm pretty sure I know where it is running into an issue. Sorry for the difficulty, we touch our SDK more often than the upstream reposito

[2019-05-22 23:24] jaimemi opened #296 "IPv6 incompatibility"
Hi!

I am trying to configure a Raspberry Pi as a Border Router at my university. I retiently realised that there is not ipv6 support for any of the ethernet ports I can connect there. Is it possible tu use the Border Router with IPv4 only? I was thinking of using the 8.8.8.8 DNS from Google instead of the IPv6 version.

Thank you!

[2019-05-22 23:30] jwhui commented on #296
@jaimemi, OTBR supports both NAT64 and DNS64.

Using the OpenThread CLI on a Thread device, you should be able to do something like:
[code]

[2019-05-23 11:26] jaimemi commented on #296
hi! I tried it but it only work with www.google.com. Indeed, it retursn this address: 2a00:1450:400f:80c:0:0:0:2004, but I can't ping it afterwards.

This is what it says after dns resolve ipv4.google.com 64:ff9b::0808:0808:
![wifi_error](https://user-images.githubusercontent.com/42868962/58249132-57814c00-7d5e-11e9-95e7-c7c82e315dc3.JPG)

[2019-05-23 17:36] jwhui commented on #296
Apologies, I had the destination address wrong i my original post. I've edited the post above. Can you see if that helps?

[2019-05-23 17:37] jwhui commented on #291
Resolved by #293.

[2019-05-23 17:37] #291 closed

[2019-05-23 17:38] jwhui commented on #287
@tarunsmalviya, can you provide any updates?

[2019-05-24 05:39] tarunsmalviya commented on #287
@jwhui Apologies for delay in response.
According to me, whenever commissioner is started for a time period provided, the value of  **Commissioner:State** is active. I am not getting your point.
Can you explain the commission feature in Web GUI?

[2019-05-24 05:48] bukepo commented on #287
@gjc13 could you please help on this?

[2019-05-24 05:53] gjc13 commented on #287
Let's say you run
[code]
When the web server get the POST request, it constructs a commissioner object and start the commissioning process and the network becomes joinable. Since this is not an on-mesh commissioner, the Commissioner:State will not change.
Then you will run `joiner start ABCDEF` on a device and the joiner gets the proper network parameters. On the server side, upon the success of t

[2019-05-25 12:34] jaimemi commented on #296
Hi!
I'm affraid it did not work. But I found an alterenative and my raspberry pi has already IPv6. My problem now is that I can not ping with any ipv6 address from a second node's CLI. I can not use dns resolve either. However, I can ping the google DNS 2001:4860:4860::8888 from my Raspberry Pi, but as I said not from the node connected to the Border Router by Thread. You know what may happen? Tha

[2019-05-25 13:38] jaimemi commented on #296
I  give you some more information:
I built the Border Router in Docker
I am connected via VPN to my university's wifi wich supports IPv6
this is the address of the second node:
`> ipaddr
fd33:3333:3344:0:0:ff:fe00:6000
fd11:22:0:0:1405:75af:d567:4a77
fd33:3333:3344:0:7edd:d38:805:de77
fe80:0:0:0:98dd:20e:5e7c:8671
Done
`

[2019-05-26 19:52] bsvean2 commented on #292
Update on this...
I have the Rev E of the silicon.
I am able to form a Thread Network using the SIMPLELINK-CC13X2-26X2-SDK_3.10.00.53 ncp_ftd example.

[code]
I was also able to form a network using the web GUI, and got the following status result:
[code]

[2019-05-29 14:32] srickardti commented on #292
I believe the issue is the change in Radio ROM for the release version of the silicon. I'm currently working on back-porting the changes we did for the Rev E silicon.

Good to hear you've got a working setup right now.

[2019-05-30 23:11] srickardti commented on #292
I've updated the driverlib used by OpenThread here: https://github.com/srickardti/openthread/tree/19q2-update-driverlib. That seems to get us past the hard fault because of the radio ROM, but the border router gets into a loop trying to associate. The device promotes to a leader but fails this requirement. Is the NCP configured correctly for the ot-br with it's default configuration?

[code]

[2019-05-30 23:15] jwhui commented on #292
@srickardti, it seems your NCP may be missing the `BORDER_ROUTER=1` build option.

Make sure to include the following build options when building the NCP image:
[code]

[2019-05-31 19:11] srickardti commented on #292
Yep, that was it. It's been a while since I've built an NCP from the upstream repository.

The border router works with this OpenThread pull request: https://github.com/openthread/openthread/pull/3888

[2019-06-07 17:36] jwhui commented on #296
IPv6 addresses with prefix `fc00::/7` are [Unique Local IPv6 Unicast Addresses](https://tools.ietf.org/html/rfc4193). For global IPv6 connectivity, you should configure globally routable IPv6 addresses.

[2019-06-07 17:54] jwhui commented on #292
Resolved by https://github.com/openthread/openthread/pull/3888.

[2019-06-07 17:54] #292 closed

[2019-06-12 11:54] pszkotak opened #303 "New with() implementation breaks .deb cross compilation"
Current ot-br-posix is not generating a correct .deb package in our build environment. We have noticed that it happens because some files (e.g. for dhcpcd and tayga) are not present or available only in a default version. It seems that flags used with the `with()` or `without()` functions (e.g.` with NAT64`) are not interpreted correctly. We have observed that the following change effectively reve

[2019-06-12 23:00] bukepo commented on #303
The intention of with() or without() is to allow environment variables override the default values. For example, the default value on ubuntu `DHCPV6_PD=0`, user can enable this by:

[code]

How do you set DHCPV6_PD?

[2019-06-13 06:04] pszkotak commented on #303
Thank you for a quick response.
This can be an issue. We do not export it.
The [check-scripts](https://github.com/openthread/ot-br-posix/blob/master/.travis/check-scripts#L45) approach has been taken instead. So we add appropriate flags in some places, like [raspbian/default](https://github.com/openthread/ot-br-posix/blob/master/examples/platforms/raspbian/default#L30). Same flags are also added i

[2019-06-14 20:34] jwhui commented on #289
I disabled the autobuild on Docker Hub and pushed an image for `openthread/otbr_arm32v7l_raspbian` that should work. We can enable autobuild on Docker Hub when we have this sorted out.

[2019-06-21 04:21] bukepo opened #306 "[commissioner] add mdns discovery support"
**Is your feature request related to a problem? Please describe.**
currently otbr-commissioner uses IP and Port to connect to Thread border agent. This is not standard behavior.

**Describe the solution you'd like**
define the discovery API in mdns.hpp and implement in supported adapters.

**Describe alternatives you've considered**
None

**Additional context**
commissioner should needs this to di

[2019-06-21 04:22] bukepo opened #307 "[commissioner] enhance to use a better CoAP implementation"
**Is your feature request related to a problem? Please describe.**
current CoAP implementation doesn't support retransmission.

**Describe the solution you'd like**
Find a better one or make one from OpenThread.

**Describe alternatives you've considered**
None

**Additional context**
To make commissioner robust.

[2019-06-27 16:45] #243 closed

[2019-07-01 18:14] jwhui commented on #287
Closing stale issue.

[2019-07-01 18:14] #287 closed

[2019-07-01 18:15] jwhui commented on #296
Closing stale issue.

[2019-07-01 18:15] #296 closed

[2019-07-01 18:16] jwhui commented on #274
@bukepo, are you suggesting to apply release names?

[2019-07-04 06:45] mchwalisz commented on #284
Instead of trying to reduce size of each layer, it might be easier to use [docker multi-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/). It will allow to add second stage in which only necessary libraries should be installed and binaries can be copied over from the first stage.

[2019-07-09 14:19] NikhilSarnaik commented on #261
Hi @jwhui this issue still persists with the latest ot-br-posix repo. I get the same issue where I see the thread network on the android app but I keep incorrect password error when I try to connect. Is there any workaround this ?
Thanks Nikhil

[2019-07-10 09:12] wgtdkp opened #310 "[discuss] Are STL and virtual not suggested for posix applications"
There are good reasons for not using STL and virtual methods for embedded platforms, since STL significantly increase the code size and virtual method introduces performance penalty.

But for posix-aimed applicaitons / libraries, such as ot-br-posix and ot-commissioner, code size and performance penalty are relatively not restricted. In this case, should we still not use STL and virtual?

Is there

[2019-07-10 09:13] wgtdkp commented on #310
@jwhui @librasungirl   @bukepo @gjc13

[2019-07-11 06:27] librasungirl commented on #284
@mchwalisz , thanks for your suggestions. agree that multi-stage builds have advantages in some use cases. However for OTBR, it has many dependent services, not just one binary.

I have just updated (#290) to further remove the irrelevant dependent build tools to reduce the image size. Would you please help to take a look? Thanks.

[2019-07-11 07:07] mchwalisz commented on #284
Yes, I have already figured out that there are a lot of services started inside docker. Splitting the build tools is a very good start.

I don't know enough (yet) about the OTBR to actually help in review, will try to build it though.

[2019-07-17 05:55] bukepo commented on #310
we didn't forbid `stl`. And we are using c++11 now. @wgtdkp

[2019-07-17 06:19] wgtdkp commented on #310
@bukepo thanks for reply. I am going to write commissioner 1.2 in a C++11 style, just to make sure if you are okay with that.

[2019-07-18 23:23] jwhui commented on #284
Resolved by #290.

[2019-07-18 23:23] #284 closed

[2019-07-19 10:52] tarunsmalviya opened #315 "How to enable duplex communication between RPI and node?"
I have built border router using RPi as per guidance provided on website.
Now, SED is able to send data to CoAP server running on RPi, but CoAP server is not able to send data to SED.

Can anyone help me achieving it?
Thanks in advance.

[2019-07-19 15:41] jwhui commented on #315
@tarunsmalviya, can you provide more details on your setup?

Also, can you provide a packet capture from the wpan0 interface that can be viewed in Wireshark?

[2019-07-21 12:59] tarunsmalviya commented on #315
@jwhui I have configured RPi as border router as explained on openthread.io website. I have created a dummy interface having IP 10.0.0.1. A SED is sending data to this address and a CoAP server(californium) is listening to this on 5683 port.

Kindly let me know what extra information you want to know.

PFA for wpan0 and nat64 interface packet capture.
[wpan_trace_2019_07_15_11_20_06.pcap.gz](https

[2019-07-22 19:20] #310 closed

[2019-07-23 19:25] jwhui commented on #315
@tarunsmalviya, from the packet traces, I see CoAP responses getting sent to Thread devices (i.e. destination with `fddf:dd::/64` prefix). Are you saying that these CoAP responses are not reaching the Thread devices?

[2019-07-24 05:40] tarunsmalviya commented on #315
@jwhui No, the responses are reaching Thread devices.
My concern is that when the Thread node send packet to the RPi, then RPi in return send response and the response reaches the Thread node. But when I try to send packet from RPi to Thread node using IPv6 address of Thread node, the packet is not received by Thread node.

[2019-07-24 06:06] jwhui commented on #315
@tarunsmalviya, do the packet traces above have examples of CoAP Request messages being sent from the RPi to Thread devices? If so, can you call out which packet numbers? If not, can you provide a packet trace that shows the failure case?

[2019-07-26 05:36] tarunsmalviya commented on #315
@jwhui I will do the same and update you asap.
Also, I have created a dummy loopback network interface having IP 10.0.0.1. CoAP server is listening on  this IP 10.0.0.1 at 5683 port. So, Thread nodes send packet to this dummy interface by appending prefix to 10.0.0.1.

Is it possible to assign a fix IPv4 and IPv6 to wpan0 interface, so that I can bind CoAP server to this IP.

[2019-08-05 20:41] yz101-osrm opened #320 "RasPi3 dns issue, OTBR has no internet"
Hi all,
I started to set up a Border Router using a Raspberry Pi 3B. I followed the [OpenThread Border Router Build and Configuration](https://openthread.io/guides/border-router/build). At the end of "Set up the Border Router",  after the step to "power cycle the Border Router", my Border Router lost its dns. Basically, I can ping 8.8.8.8, but I cannot ping google.com, nor $sudo apt update.

Some

[2019-08-06 13:19] ndrake opened #321 "Javascript error when using web interface to start commissioning in Firefox"
**Describe the bug**

In Firefox (tested with v 68.0.1) and probably Edge, when using the OTBR web interface to start commissioning, a Javascript error is thrown in the console.  It doesn't seem to prevent commissioning from starting, but confirmation dialog never appears.

Note: Working fine in latest Chrome.

I should have a pull request with a fix soon. Just need to sign the CLA and run my chan

[2019-08-09 17:06] yz101-osrm commented on #320
The problem was the IT firewall, resolved after changing to another backbone server.

[2019-08-09 17:06] #320 closed

[2019-08-15 15:47] jwhui commented on #303
Closing stale issue.

[2019-08-15 15:47] #303 closed

[2019-08-15 21:39] #321 closed

[2019-09-02 07:11] tarunsmalviya opened #324 "NCP state changes to "uninitialized" when running "sudo wpanctl status" command."
I have been recently getting an error while executing `sudo wpanctl get` command. PFA for the error and as a result NCP gets reset.

<img width="1680" alt="Screenshot 2019-09-02 at 10 35 27 AM" src="https://user-images.githubusercontent.com/9993036/64096302-ed297000-cd7e-11e9-980f-a3256a9bd0ab.png">

[2019-09-02 10:07] gjc13 commented on #324
Would you provide the wpantund version and log?
It can be wpanctl querying some outdated fields.

[2019-09-03 06:10] tarunsmalviya commented on #324
The wpantund version is `wpantund 0.08.00d (/345bf7d; Jun 27 2019 17:02:59)`.
PFA for system logs.
[syslog.txt](https://github.com/openthread/ot-br-posix/files/3567983/syslog.txt)

[2019-09-03 07:19] gjc13 commented on #324
If you are using the J-Link embedded serial port on NRF52840, it can be msd causing trash on wire.
Follow the guide here to disable it (search for msddisable):
https://github.com/openthread/openthread/blob/master/src/posix/README.md

[2019-09-13 05:43] bukepo opened #328 "[agent] mojo publishes when Thread is not started"
**Describe the bug**
mojo publishes when Thread is not started.

**To Reproduce**
1. Stop wpantund or `wpanctl leave`
2. start otbr-agent
3. use `avahi-browse -arp` to check services published by the DUT

**Expected behavior**
No service being published.

**Console/log output**
Thread is published with network empty and extended pan id all zero.

**Additional context**
None

[2019-09-18 11:33] tarunsmalviya opened #332 "NCP is in end-device state for more than 2 minutes."
I built border router(BR) using RPi. Sometime what happens is, NCP degrade from router/leader to end-device and packet does not reach BR. I don't know why BR is being degrade to end-device because as name suggest, it should be either leader or router.

Also, I created a time series of NCP state as shown in picture below:
<img width="1030" alt="Screenshot 2019-09-18 at 4 52 58 PM" src="https://user

[2019-09-18 11:41] tarunsmalviya commented on #324
@gjc13 We are using NCP with raspberry pi 3. I didn't understand how it is linked with J-Link.

[2019-09-20 09:12] embeddedRSA opened #334 "Not able to ping though borderrouter to link-local"
Hi, i have set up my border router and i amm able to ping to a global server by using the well-known prefix:
[code]
My problem is pinging link-local addresses such as this one:

[code]
(this is on my border router laptop)
when i try to ping from a node a respond never returns

[code]
Is what im trying to do possible?

[2019-09-22 17:51] mmukada opened #333 "BorderRouter Wi-Fi Access Point DNS lookups fail. Lookup responses return as Refused"
I am setting up a BorderRouter using a Raspberry Pi3, following the Wi-Fi Access Point manual configuration instructions detailed here: https://openthread.io/guides/border-router/access-point. The Wi-Fi AP comes up and I am able to join without any problems. However any action requiring DNS lookup fails, and the response returns with the message "Refused". I should note that I am yet to setup the

[2019-09-23 16:10] mmukada commented on #333
Turns out that bind9 service was listening on all ports (default behaviour), consequently "overriding" dnsmasq. I resolved this by making it's respective interface explicit (`listen-on { 192.168.1.224; };`) in the config file - **/etc/bind/named.conf.options**

[2019-09-23 22:22] jwhui commented on #332
I see quite a few instances of NCP reset occurring in the log (snippet below). Is this expected for your testing?

[code]

[2019-09-23 22:35] jwhui commented on #315
@tarunsmalviya, I am not familiar with Californium implementation details. Does Californium support sending CoAP requests to IPv6 multicast destination addresses?

[2019-09-24 06:05] tarunsmalviya commented on #332
@jwhui No.

[2019-09-24 06:15] tarunsmalviya commented on #315
@jwhui Let me check with Californium community.

[2019-09-24 16:24] jwhui commented on #334
My example were for the network interfaces on the same RPi. If you want to be able to communicate between devices on different subnets, you will need to configure IPv6 routing.

This [email thread on openthread-users](https://groups.google.com/forum/#!msg/openthread-users/38ladIxYDs4/RyiwIO0QDAAJ) may be of help.

[2019-09-24 17:30] jwhui commented on #332
@tarunsmalviya, I believe the NCP resets are causing the issues you are seeing.

Can you provide more information about the NCP? Including:

- NCP hardware platform
- How you built the NCP firmware, including commands used to build
- What git commit id are you using for NCP firmware
- Output of `wpanctl status`

[2019-09-25 13:28] embeddedRSA commented on #334
yes okay, thanx for the help.

[2019-09-25 13:28] #334 closed

[2019-10-01 13:43] tarunsmalviya commented on #332
@jwhui
Hardware used is nrf52840
nRF5 SDK for Thread and Zigbee v2.0.0 (Release Date: Week 39, 2018)
OpenThread libraries projects are based on the following commit of OpenThread: 704511c96e0d093139e4b80ef0739ed2d701afb1

[code]

[2019-10-01 17:20] jwhui commented on #332
@tarunsmalviya, thanks for the additional information. Any chance you could try using a more recent version of the nRF5 SDK or at least a more recent version of OpenThread?

For NCP firmware, you could try building straight from GitHub as described in [Pre-Built NCP Firmware](https://openthread.io/guides/ncp/firmware).

[2019-10-09 20:55] jwhui commented on #315
@tarunsmalviya, were you able to resolve this issue?

[2019-10-09 20:56] jwhui commented on #328
Resolved by #329.

[2019-10-09 20:56] #328 closed

[2019-10-10 04:25] tarunsmalviya commented on #315
@jwhui I am working on it.
For reference: https://github.com/eclipse/californium/issues/1076#issuecomment-539601929

[2019-10-10 04:26] tarunsmalviya commented on #324
@jwhui No.

[2019-11-12 14:42] neppi opened #346 "Can i manage 2 Thread networks connecting 2 NCPs to the Raspberry Pi."
Hi anyone,

There should be 2 different thread networks having

- different names
- different master keys
- different PAN IDs
etc.

But both of them should be controlled (managed) by ot-br-posix. Would this be possible?

[2019-11-12 14:54] bukepo commented on #346
Yes, this is possible theoretically. But the current code needs enhancements to support it. Mainly, setting different ports for border agents is required.

[2019-11-14 09:13] PanzerHabba commented on #315
Hi.
I am also not able to send multicast messages from rpi to thread network.
As @tarunsmalviya , I`m able to send unicast messages.

I am using [node-coap](https://github.com/mcollina/node-coap).
Here is my coap-script running on rpi: (masked ipv6 address of wpan0)

`const coap = require("coap");
var dgram = require("dgram");

const SERVER_PORT = 5683; // Port for UDP connection
const SERVER_HOST

[2019-11-14 09:43] PanzerHabba commented on #315
I can also add that multicast-packets sent from node i picked up by tcpdump on rpi.
But multicast packet going out from wpan0 is not detected (e.g. not sent)..
![image](https://user-images.githubusercontent.com/17178340/68845273-776d4900-06cb-11ea-8423-3eb893a3ba15.png)

[2019-11-14 14:40] PanzerHabba commented on #315
I finally got this working.
I had to specifically set multicast-interface on node.js dgram-socket.
link: [setMulticastInterface](https://nodejs.org/api/dgram.html#dgram_socket_setmulticastinterface_multicastinterface)

So, my udp-socket will be like this:
![image](https://user-images.githubusercontent.com/17178340/68866281-74d31980-06f4-11ea-9d50-cba2d6d55224.png)

I was assuming this to be automa

[2019-11-18 10:56] tarunsmalviya commented on #324
This issue is happening again. NCP suddenly goes to uninitialised state in between normal functionality. PFA for reference.
![Screenshot 2019-11-18 at 4 20 31 PM](https://user-images.githubusercontent.com/9993036/69046928-11145d80-0a20-11ea-9f0f-65ee45fb9608.png)

<img width="1914" alt="Screenshot 2019-11-18 at 4 22 02 PM" src="https://user-images.githubusercontent.com/9993036/69046940-17a2d500-0a

[2019-11-18 17:50] jwhui commented on #324
@tarunsmalviya, what git commit are you using for the NCP firmware? Can you try with the latest master?

[2019-11-26 04:57] sjlongland opened #349 "Docker container doesn't survive a reboot"
**Describe the bug**

Deploying the OpenThread Border Router container on a Raspberry Pi 3 (Revolution Pi Core 3) via the following `docker-compose`:

[code]

the container creates a working border router, but then after issuing a `reboot`, the container fails to come up.

**To Reproduce**

* Install Docker and `docker-compose`
* Use `docker-compose up -d`
* Form a network via the web interface
*

[2019-11-27 00:02] sjlongland commented on #150
I hit this very issue just trying to deploy a border router… for me the work-around was to move the unit files installed by the border router to `/lib/systemd/system` instead of `/etc/systemd/system`.

[2019-12-04 05:52] sjlongland opened #352 "otbr-web doesn't respect -a"
**Describe the bug**

`otbr-web` doesn't do authentication, so for security reasons and to prevent tampering, we bind `otbr-web` to the loopback interface so that it can be accessed only over SSH tunnel to protect the confidentiality of the mesh network master key.

In recent builds of `otbr-web`, this does not work.

**To Reproduce**

We're running `ot-br-posix` based on commit https://github.com

[2019-12-12 13:38] tarunsmalviya commented on #324
@jwhui I am facing this issue again.

[code]

[2019-12-12 13:55] tarunsmalviya commented on #332
@jwhui I have updated the openthread and NCP version to most recent but still facing the same problem.

[code]

[2019-12-12 23:09] abtink commented on #332
@tarunsmalviya, Jonathan and I looked the logs. NCP resets seems to be all tied to user commands ("reset" or "leave") and expected behavior (from NCP/wpantund point). It may be good to see who/what module is issuing these commands to wpantund:
[code]

The main issue (from syslog.1) seems to be the network being partitioned a lot. Basically a devcie/router looses connection with others, forms its o

[2019-12-13 09:51] bhumikaajain commented on #332
@abtink

We are using nRF5 SDK for Thread and Zigbee v3.2.0 for NCP and router firmware.
Can you help where I can enable this feature in the stack?

[2019-12-13 18:51] abtink commented on #332
These are config parameters for OpenThread core itself. I am not familiar how/if nRF5 SDK exposes the OpenThread config option/header file. Maybe others can help you with this.

In general, OpenThread allows users to provide a custom (project specific) config header file through `OPENTHREAD_PROJECT_CORE_CONFIG_FILE`.

[2020-01-09 05:00] bukepo commented on #352
could you take a look? @gjc13

[2020-01-15 03:31] bukepo opened #362 "[tests] test dbus APIs according to introspection"
**Is your feature request related to a problem? Please describe.**
We are adding d-bus APIs using standard style. Need design some script to test these d-bus APIs.

**Describe the solution you'd like**
Get introspection and test APIs according to it.

**Describe alternatives you've considered**
dynamically generate introspect xml.

**Additional context**
https://github.com/openthread/ot-br-posix/p

[2020-01-16 08:31] bhumikaajain opened #363 "Child Supervision disable meaning"
In openthread stack, by default child supervision is disabled.
So how or when does mtd re-attach in case child supervison is disabled and it gets detached from router.

[2020-01-16 17:46] jwhui commented on #363
Duplicate of https://github.com/openthread/openthread/issues/4479

[2020-01-16 17:46] #363 closed

[2020-02-10 18:10] jwhui commented on #315
This seems to be resolved, as noted in https://github.com/eclipse/californium/issues/1076

[2020-02-10 18:10] #315 closed

[2020-02-10 18:10] jwhui commented on #332
Closing stale issue.

[2020-02-10 18:10] #332 closed

[2020-02-10 18:11] #346 closed

[2020-02-10 18:16] jwhui commented on #306
Addressed in https://github.com/openthread/ot-commissioner

[2020-02-10 18:16] #306 closed

[2020-02-10 18:16] jwhui commented on #307
Addressed in https://github.com/openthread/ot-commissioner

[2020-02-10 18:16] #307 closed

[2020-02-11 08:49] gjc13 opened #365 "The lines are too long"
**Is your feature request related to a problem? Please describe.**
Currently we are adopting a 120 column line limit which is too long and the code is hard to read and edit on a laptop, especially when there's a split screen.

**Describe the solution you'd like**
Modify the line limit to 80 columns which is a common standard.

**Additional context**
An concern is the git log.

[2020-02-11 10:36] bukepo commented on #365
Sounds good to me!

[2020-02-11 13:15] cfaessler opened #366 "[question] non linux based border router"
I am trying to find out whether it is feasible to develop a thread compatible border router which is not based on a linux system. Reason is to save hw costs. We are evaluation the thread technology for a series of products in the smart home area. We don't consider a raspberry pi solution to be a stable product.
Currently it seems that there are hardly an thread compatible border routers available