[2020-02-11 17:43] jwhui commented on #366
See response in https://github.com/openthread/openthread/issues/4550#issuecomment-584761400

Closing this issue to consolidate the discussion.

[2020-02-11 17:43] #366 closed

[2020-02-12 05:12] gjc13 opened #367 "Refactor agent/main.cpp"
**Is your feature request related to a problem? Please describe.**
There are too many feature flags in agent/main.cpp making the code a bit messy.

**Describe the solution you'd like**
Implement different feature classes in separate files.

[2020-02-12 05:16] gjc13 opened #368 "Fix and refactor the openwrt u-bus agent."
**Is your feature request related to a problem? Please describe.**
There are memory leaks in the u-bus agent and the thread synchronization mechanism is poorly implemented.
We may need to rewrite the u-bus agent.
Some of the memory issues are handled in https://github.com/openthread/ot-br-posix/pull/345

[2020-02-12 05:19] gjc13 commented on #365
@bukepo @jwhui The problem is that if we adopt the 80 columns line limit, we need to re-format every file so as to pass the pretty check. The re-format commit will be huge and the `git blame` will all point to this commit afterwards.

We can still track the changes with `git log -p`. If you are fine with such a commit, I'll submit a re-format PR.

[2020-02-20 00:32] jwhui commented on #365
Line-width is a controversial topic :)

I personally find 80 columns as too limiting, but I typically develop on a MacBook Pro 15" that has a native display resolution of 2880×1800 or a desktop monitor that supports 3840x2160.

[2020-02-20 01:11] abtink commented on #365
I also prefer longer column lines and think 80 columns would be too limiting
- As Yakun mentioned, we may need to reduce the indention from 4 spaces (to 2 spaces) which in my opinion again makes the code harder to read.
- 80 column will cause many more lines to be wrapped which I think will make code harder to read

I do a lot of coding on MacBook pro 15" and I generally prefer larger fonts (using

[2020-02-20 09:26] #365 closed

[2020-02-21 02:10] gjc13 opened #374 "Use lower cases for namespace names"
**Is your feature request related to a problem? Please describe.**
Currently we are using camel case for inner namespaces. Such style is a little weird since you cannot determine at the first glance whether the `BorderRouter` in `otbr::BorderRouter` is a namespace or a class.

**Describe the solution you'd like**
Use lower case namespace names as suggested by the Google C++ style. The OpenThread c

[2020-02-21 02:11] gjc13 commented on #374
I raised this issue since we are improving the code style in https://github.com/openthread/ot-br-posix/pull/372
@bukepo @jwhui @abtink What's your idea on this renaming?

[2020-02-21 02:15] bukepo commented on #374
SGTM. @wgtdkp @librasungirl

[2020-02-21 02:17] wgtdkp commented on #374
SGTM

[2020-02-21 04:52] wgtdkp commented on #368
We need to refactor the inheritance to avoid pointer casting.

[2020-03-12 03:11] abtink commented on #374
I don't have any strong opinion here and fine either way but if asked to choose  would go with the existing (CamelCase) model for all namespaces (after the high level `ot` or `otbr`). The way I see it is that any `class` or `struct` definition is defining a namespace as well so it is fine if we cannot tell the difference and use same naming convention.

[2020-03-19 09:33] millearthur opened #379 "Error in adding on-mesh prefix"
Hi !
I'm trying to build a working Border-Router with a RPI3B+ and a NXP Kw41Z as NCP device.
The NCP is flashed with Openthread compiled with options : "make -f examples/Makefile-kw41z BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 UDP_FORWARD=1" and the ncp/ftd binary is used.
The RPI runs default "2019-04-08-raspbian-stretch-lite" with ot-br-posix compiled from sources.

Joining a Thread network

[2020-03-30 06:57] tarunsmalviya commented on #324
@jwhui Any update?

[2020-03-30 07:04] jwhui commented on #324
@tarunsmalviya, can you provide more details about your setup? Including:

- Hardware platform / dev board
- Git commit id
- Command you used to build the NCP image
- Attach full logs from wpantund

[2020-03-30 20:19] ericdweise commented on #379
I am having a similar problem. I am trying to form a network from a Raspberry Pi 3B with an NRF52840 Dev Kit as an NCP. I have tried using the Web GUI and wpanctl but both fail.
The wpanctl command I am using is:
[code]

Any help would be appreciated!

[2020-03-30 20:29] jwhui commented on #379
Can you confirm how you built your NCP image? For example, did you use the following:
[code]
Also, can you try again on a clean tree? In particular, make sure to remove the `build/` and `output/` directories that may exist from previous builds.

[2020-03-30 21:08] ericdweise commented on #379
I forgot the exact configuration so I just rebuilt the binary with the following command:
[code]
and now it works. I can start up the Thread network using `wpanctl form`

Thank you!

[2020-03-31 00:52] jwhui commented on #379
@ericdweise, great to hear you got things working.

@millearthur, can you review https://github.com/openthread/ot-br-posix/issues/379#issuecomment-606231200 and see if that helps resolve your issue?

[2020-03-31 13:18] millearthur commented on #379
Thanks for your reply,
As i mentioned, the binary i used was compiled with those options.
But still, i tried recompiling it today, it does seems to be working now.
Thanks for your help, i admit not understanding what changed though. (note:  i am using another RPI than last time)

[2020-03-31 13:18] #379 closed

[2020-04-04 11:17] tarunsmalviya commented on #324
@jwhui Sure. Kindly give me some time.

[2020-04-07 09:24] mwilniewiec opened #396 "no COAP retransmissions for confirmable messages"
We have our own border router implementation which is basing on your ot-br-posix and has multiple additional features.
I observed that there are no retransmitions while sending COAP confirmed messages from border router to nodes inside of thread network.
Is this a bug or expected design?

libcoap server example: coap-server.c in its mainloop has something like:
[code]
I believe this is what is mis

[2020-04-07 09:29] bukepo commented on #396
@mwilniewiec We are migrating to the standalone [ot-commissioner](openthread/ot-commissioner).
Do you encounter this issue in otbr-commissioner? If so, we suggest you migrate to ot-commissioner as well.

[2020-04-07 10:33] mwilniewiec commented on #396
Could you please provide me with some motivation overview for a new repo?
Is is just a part of a border router or a new one and this will be deprecated?
Our border router is forming network with dbus, talking with devices using application CoAP and much more, migrating to new repo doesn't look like a trival task :)

[2020-04-08 01:55] wgtdkp commented on #396
Just the builtin commissioner will be deprecated, the border agent will continue. As you pointed out, the otbr-commissioner is some how not very stable and we realized that there needs to be some Commissioner library that enables building Commissioner (mobile) App, so we made the ot-commissioner there.

Conceptually, the commissioner and border router are separate component in a Thread Network. We

[2020-04-08 06:29] mwilniewiec commented on #396
Actually it depends on what you need. In our case commissioner is a border router communicating with the cloud server so commissioner could be moved to a different process but it would be still on the host as it is one hardware.
The CoAP I mentioned is actually the problem of all coap messages sent from host (using libcoap) to the Thread network. If commissioner is a separate code with different c

[2020-04-08 09:47] jwhui commented on #374
What is the benefit of being able to differentiate between namespace and class from the name itself? While the Google C++ style guide provides pros/cons/decision for many of the style choices, it does not provide any such rationale for the namespace naming choice. At the same time, C++ stdlib uses all lower case names for both namespace and class.

The existing [STYLE_GUIDE.md](https://github.com/

[2020-04-08 14:52] paulrox opened #398 "ctags not found when building recipe for Yocto Pyro"
Hi,

I've tried to write a simple recipe in order to add the ot-br-posix package to my Yocto image. However, I'm encountering some problems during the `do_configure` task.

I've created the recipe using `recipetool` and passing in the URL to the git repository. The recipe has been successfully created and I added the dependencies to **avahi** and  **ctags**.

The recipe looks like this:

[code]
Th

[2020-04-09 08:51] #374 closed

[2020-04-09 19:02] #396 closed

[2020-04-23 16:31] bukepo commented on #398
@paulrox sorry for the late reply.

I'm not sure what's the root cause, but ctags are required to be install as a host tool. So I think you should install it out side of the yocto build process.

Besides, we are doing some cleaning up including replacing otbr-commissioner with openthread/ot-commissioner and removing wpantund mode support, after which the libcoap library is not necessary anymore an

[2020-04-23 16:48] bukepo commented on #352
@sjlongland is this still an issue, I just verified it works as expected:

[code]

I will close it for now and please feel free to reopen if it's an issue.

[2020-04-23 16:48] #352 closed

[2020-04-26 11:56] bukepo opened #410 "otbr-dbus-check not stable"
**Describe the bug**

[code]

**Additional context**
https://travis-ci.org/github/openthread/ot-br-posix/jobs/679665794

[2020-04-27 07:09] tarunsmalviya commented on #324
@jwhui Following are the details:

- **Hardware platform / dev board**: BT 5.0 Dongle (nRF52840) Raytac
- **Command you used to build the NCP image:** Nordic's SDK inbuilt NCP firmware
[code]

<img width="1920" alt="1" src="https://user-images.githubusercontent.com/9993036/80343727-0807a200-8884-11ea-8af4-6266ac3c1eca.png">
<img width="1920" alt="2" src="https://user-images.githubusercontent.com/9

[2020-04-27 07:36] tarunsmalviya opened #413 "Discovering IP addresses of all nodes in a Thread network?"
### **Setup**

- I am using RaspberryPi 3B+, in which OTBR service is running.
- A dummy interface in RPi with IPv4 address **10.0.0.1**.
- A CoAP server listening at **10.0.0.1:5683**.

### **Problem Statement**
I have created a Thread network in which one FTD and one SED are there. SED is sending a packet after every 30 seconds to the CoAP server listening at **10.0.0.1:5683**.
Now, I want to se

[2020-04-28 06:41] paulrox commented on #398
Hi,

Thanks for the response. I already tried to install ctags as host tool but this didn't resolve the issue.

Anyway, if you planned to remove wpantund support, how the BR will interact with the NCP?

[2020-04-29 07:21] tarunsmalviya opened #415 "Unable to receive acknowledgement of CoAP CON message in NCP firmware."
I am trying to sending CoAP CON message (resource `dfu/`) from NCP and FTD firmware to CoAP server running on RPi.

When I send CON message from FTD to CoAP server, the acknowledgement is received but not when sending CON message from NCP to CoAP server.

The address of NCP is `feef:ee::87b1:5246:674d:326e`, of FTD is `feef:ee::f639:87f2:2f77:b48d` and of CoAP server is `2001:db8:1:ffff::a00:1`.

[2020-04-29 22:22] jwhui commented on #413
@tarunsmalviya , IP address discovery is a common problem in any IP network. There are a number of solutions including DNS and application-specific, both of which you've already identified.

To list all IPv6 addresses and associated IEEE EUI-64, your best bet is to use an application-specific mechanism.

You could certainly implement Dynamic DNS (DDNS) [RFC 2136](https://tools.ietf.org/html/rfc213

[2020-04-29 22:24] jwhui commented on #415
@tarunsmalviya , this traffic pattern is not supported. The challenge is that the NCP and wpan0 interface on host side are both part of the same IPv6 interface. When the CoAP response is sent from the RPi host, the destination will match an IPv6 address assigned to its wpan0 interface. As a result, the Linux kernel will attempt to service the packet directly rather than passing it to the NCP.

[2020-04-30 06:01] tarunsmalviya commented on #415
@jwhui Is there any other approach to achieve this because resolving is problem will enable us to perform DFU in NCP.

[2020-04-30 06:26] tarunsmalviya commented on #413
@jwhui Thank you for validating the approaches.

Is there any cli command through which I can retrieve IP address list of Thread network?

[2020-04-30 06:28] jwhui commented on #413
There are cli commands to retrieve state about directly attached children. However, there are no CLI commands to retrieve IPv6 addresses for all devices in a Thread network. Thread intentionally does not require any device in the network to maintain state about all other devices for scalability.

[2020-04-30 08:44] tarunsmalviya commented on #413
@jwhui Okay. Thanks for clarification.

[2020-04-30 15:37] bukepo opened #417 "clean up for for version 0.02.00"
This issue tracks several cleaning up which is incompatible with old versions:

- [x] remove wpantund mode support (#403)
- [x] remove otbr-commissioner(including third_party/libcoap) (#420)
- [x] switch to cmake for otbr-agent and otbr-web (#405)
- [x] add ot-ctl (#422)
- [ ] update document on openthread.io and merge into master branch

[2020-05-01 11:37] wgtdkp opened #419 "[mdns] wrong encoding of extended PAN ID in mDNS response"
**Describe the bug** A clear and concise description of what the bug is.
ot-br-posix encodes extended PAN ID as HEX string in mDNS response, while Thread specification defines it to be binary data.

https://github.com/openthread/ot-br-posix/blob/699aa6a59308f6e913e3efbe57099113c8aaf744/src/agent/border_agent.cpp#L300-L316

**To Reproduce** Information to reproduce the behavior, including:

1. Git

[2020-05-01 15:53] rcrouthamel commented on #324
@tarunsmalviya , I too have seen the NCP uninitialized and uninitialized fault when using the nRF52840's native USB port and NCP firmware provided with Nordic SDK for Thread 3.x.x and 4.x.x.  I have been able to reproduce the problem on Nordic EVKs PCA10056 and PCA10059, and Fanstel USB840F, used with RPi3B+ and RPi4 hardware running Raspian Stretch Lite and Buster. The problem coincides with sysl

[2020-05-01 17:03] gabekassel commented on #398
I'm also trying to build in Yocto and figure out the right components. It looks like wpantund will no longer be necessary and border-agent is moving into OT core. Can anyone suggest the right mixture of components for a posix BR at this point?

[2020-05-01 20:01] gabekassel commented on #398
Looks like ot-daemon is overtaking wpantund. Is that correct?

[2020-05-01 23:02] jwhui commented on #398
Yes, that is the plan. See #403 for the start of that effort.

[2020-05-01 23:03] jwhui commented on #324
@LuDuda, can you provide thoughts on the above comment from @rcrouthamel ?

[2020-05-02 04:40] gabekassel commented on #398
Thanks @jwhui - is otbr-agent still needed for off network commissioning or is that also in core+commissioning daemon?

[2020-05-02 04:47] jwhui commented on #398
@gabekassel, otbr-agent is still required. #417 has a rough list of changes we are planning.

[2020-05-02 09:49] bukepo commented on #419
The official Thread commissioner also recognize the extended pan id as hex. So I think we should be discuss this in Thread group to make it clear about the encoding.

[2020-05-02 12:20] wgtdkp commented on #419
I have created a [JIRA issue](https://threadgroup.atlassian.net/browse/SPEC-936?atlOrigin=eyJpIjoiYWM0NzYzY2M1NGU5NGZhZGEwODI5ZmE0MjVlMTQ1YjIiLCJwIjoiaiJ9) for this but later closed it when found out that it is legal to have binary data.

FYI, [related issue](https://github.com/openthread/ot-commissioner/issues/92) on ot-commissioner.

[2020-05-04 09:19] #413 closed

[2020-05-04 18:51] jwhui commented on #415
@tarunsmalviya , as for other alternatives, how about utilizing a bootloader that supports DFU in the NCP?

[2020-05-05 06:45] tarunsmalviya commented on #415
@jwhui We are using Nordic's OTA DFU example, in which we first add mbr file, then bootloader and then application on NRF52840 chip. In application, we enable the DFU when new firmware version is available at the server.

But in this case CoAP response are not being received.

[2020-05-08 08:54] tarunsmalviya opened #421 "Unable to access 'https://github.com/openthread/wpantund.git/': Couldn't connect to server."
I am trying to install `ot-br-posix` in Raspberry Pi 3B. I am encountering an issue regarding cloning of `wpantund` repository. PFA for reference.

Version which I am trying to build:
[code]

I checked following:
- Internet is working fine.
- When I try to clone `wpantund` repository manually by executing `git clone https://github.com/openthread/wpantund.git` command, it gets cloned successfully.

[2020-05-09 11:30] deimi opened #423 "nRF52840 NCP "uninitialized:fault""
It's not possible to start openthread border router with an nRF52840 USB dongle. Wpantund says "uninitialized:fault".
ot-br is started in a docker container which is build from the dockerfile of the repo.

**To Reproduce**

1. Commit hash
   ot-br-posix: 699aa6a59308f6e913e3efbe57099113c8aaf744 ... current master
   openthread: 417093e247ca467bed947c757495c42753cab374 ... current master
2. IEEE 80

[2020-05-10 07:29] LuDuda commented on #423
Hello @deimi

I noticed that you used `ot-cli-ftd` image which is not correct one. Can you try with `ot-ncp-ftd`?

[2020-05-10 09:59] deimi commented on #423
@LuDuda oh thank you so much, that was the problem
I just did copy-paste for the hex converting line and didn't notice that there are different firmware versions.

[2020-05-10 09:59] #423 closed

[2020-05-11 19:59] LuDuda commented on #324
@rcrouthamel @tarunsmalviya can you provide me a step-by-step instruction on how to reproduce this problem on the PCA10056? Did you try to use Ubuntu as a host or only Raspberry Pi?

Not counting our internal tests, I also tried to stress communication on USB by calling `wpanctl get` in a loop constantly, while sending IP data to the NCP as soon as possible. I couldn't observe this problem yet.

C

[2020-05-12 00:10] gabekassel commented on #417
@bukepo I'm seeing issues building the 0.02.00 branch in Yocto with cmake. I'm able to build openthread repo in Yocto with cmake without issue. Curious if you're interested in feedback or willing to help debug. If this branch is still too much in development, I'm happy to wait.

Overall, I was hoping to base on the "new" stuff rather than wpantund. Also cmake seems to player nicer with Yocto than

[2020-05-12 04:33] bukepo commented on #417
@gabekassel I'm doing some final cleaning up for this branch. Hopefully this can be done within this week.

[2020-05-12 15:07] gabekassel commented on #417
Ok. I'll hold for now then start asking questions. Thanks for getting this completed!

[2020-05-13 04:01] bukepo commented on #421
What is the raspbian version?

[2020-05-13 13:43] tarunsmalviya commented on #421
@bukepo
[code]

[2020-05-13 23:43] #417 closed

[2020-05-19 05:43] bukepo commented on #421
@tarunsmalviya we just removed wpantund support in this project, could you try the latest code?

[2020-05-19 08:09] bukepo opened #426 "[openwrt] add mdns support"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
The current OpenWRT build doesn't publish Thread mDNS.

**Describe the solution you'd like** A clear and concise description of what you want to happen.
Integrate with mdnsd

**Describe alternatives you've considered** A clear and concise description of any alternative solutio

[2020-05-19 08:17] bukepo opened #427 "[openwrt] unable to send network diagnostic to realm-local multicast addresses"
**Describe the bug** A clear and concise description of what the bug is.
We use network diagnostic protocol to build topology of the Thread network, however for unknown reason, the realm-local multicast address `ff03::2` cannot be sent out if the socket is not bound to the Thread interface. This is currently only found in my gl-inet 750m. OpenWRT on x86 doesn't have this issue.

I guess the root c

[2020-05-19 08:25] bukepo commented on #410
I think this is already fixed.

[2020-05-19 08:25] #410 closed

[2020-05-19 08:25] bukepo commented on #362
any plan for this?

[2020-05-19 08:27] bukepo opened #428 "[ci] transition to GitHub actions"
- [ ] Android checks: #430
- [ ] Raspbian checks
- [ ] macOS check
- [ ] Linux checks

[2020-05-19 18:44] JaneFromSilabs opened #431 "Installation isn't working anymore on both Stretch and Buster"
**Describe the bug** A clear and concise description of what the bug is.

1. Installation on Stretch Lite no longer works due to CMake errors (even with apt-get update and apt-get upgrade):
CMake Error at CMakeLists.txt:29 (cmake_minimum_required):
  CMake 3.11.4 or higher is required.  You are running version 3.7.2

2. Installation on Buster is able to get past the CMake issue but fails to instal

[2020-05-20 03:57] bukepo commented on #431
Thanks for reporting this issue. We recently remove wpantund support from this project, and the [openthread.io](https://openthread.io/guides/border-router/build) is also updated. You'll only see otbr-agent and otbr-web. Please reference the latest document.

---

For stretch, you can get a newer cmake by `sudo apt-get install -y python3-pip && sudo pip3 install -U cmake`, and then you can continue

[2020-05-20 18:27] JaneFromSilabs commented on #431
Hi and thank you for your response.

The CMake command does allow me to get past the first problem.  I had tried that previous to this post but I wasn't sure this was still the supported OS at the time.  So, the clarification around the proper OS is helpful also.  I'll continue to use Stretch.  Cheers!

[2020-05-21 01:36] bukepo commented on #431
@JaneFromSilabs could you point out what update you expect in that readme?

[2020-05-21 01:38] bukepo opened #433 "[tests] add fuzzer test for dbus client"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.

fuzzer test is missing in this project.

**Describe the solution you'd like** A clear and concise description of what you want to happen.
add a fuzzer test for dbus interface.

**Describe alternatives you've considered** A clear and concise description of any alternative solu

[2020-05-21 06:15] #428 closed

[2020-05-21 09:57] paulrox commented on #398
Hi,

I tried to install from the 171f0eb483a1fd7cb99d6cfa96dc095e375a7c9e commit (after the cleanup that you mentioned earlier) and now it works like a charm!
Thank you!

Note: In order to use it with the `pyro` branch of Yocto, I had to update the `cmake` recipe because the stock one was too old.

[2020-05-21 10:02] bukepo commented on #398
Glad to hear you made progress!

[2020-05-21 10:02] #398 closed

[2020-05-21 11:41] JaneFromSilabs commented on #431
In my previous post, I pointed to a specific wpantund command.  I wasn't sure if that information was still accurate given that the NCP installation no longer has references to wpantund.

[2020-05-21 16:45] tarunsmalviya commented on #421
@bukepo You mean to say stretch version is not supported. Right?

[2020-05-21 17:16] JaneFromSilabs commented on #431
Additionally, setting up using the NCP installation documentation requests that we configure the file /etc/default/otbr-agent with the following (edited with my tty port):
`
# Default settings for otbr-agent. This file is sourced by systemd

# Options to pass to otbr-agent
OTBR_AGENT_OPTS="-I wpan0 /dev/ttyACM0 115200"
`
However, when I configure as above, I'm getting these error messages:
`May 21

[2020-05-21 21:58] jwhui commented on #421
@tarunsmalviya , with #424, wpantund is no longer used in master branch. As a result, the wpantund issue you are facing should no longer exist. As @bukepo suggested, can you try installing with the latest master branch? Note that the [Border Router Setup Guide](https://openthread.io/guides/border-router/build) has been updated to reflect master's migration to using RCP mode.

[2020-05-21 22:09] gabekassel commented on #431
I'm seeing something potentially similar and was about to post separately, but will post here. I've built ot-daemon/ot-ctl in our posix OS as well as otbr-agent. ot-daemon works great but whenever I launch otbr-agent, ot-daemon exits. i get no output from otbr-agent when running it (even with verbose). curious how to debug and if this matches this post.

[code]

[2020-05-21 23:44] bukepo commented on #431
@JaneFromSilabs the path is the serial device path of the RCP(not NCP). Could you confirm the device path is correct and the serial port configuration is right? For example, some device may require flow control rts/cts, and the baudrate may be different from 115200.

---

@gabekassel Now otbr-agent already manages the the tun device and OpenThread daemon is running inside this otbr-agent. So I thi

[2020-05-22 13:00] JaneFromSilabs commented on #431
@bukepo Thank you, yes, this is working with the RCP now.  I was trying to still use the NCP.  Is NCP still supported with the OTBR?  It is listed here: https://openthread.io/platforms, so I am assuming it is still supported.  Are there instructions for setting that up since it no longer seems to be the main configuration?

[2020-05-22 15:02] jwhui commented on #431
@JaneFromSilabs, we have transitioned OTBR to using RCP and that is reflected in our [Border Router Build and Configuration guide](https://openthread.io/guides/border-router/build).

We have moved wpantund support to the [wpantund/master](https://github.com/openthread/ot-br-posix/tree/wpantund/master) branch for historical reasons. However, we would prefer new work going forward to use the RCP mod

[2020-05-22 16:22] JaneFromSilabs commented on #431
Hi @jwhui ,

Thank you for the response on this.  We are currently investigating whether or not this will be an issue for us.

Can you please tell me if this move away from the NCP Border Router specific or is this a general architecture decision affecting any host application?

Cheers,
Jane

[2020-05-22 18:16] gabekassel commented on #431
Thanks @bukepo - this resolved a lot for me. That being the case, should I change anything about how I'm building openthread core for posix, now? Currently I'm building with daemon mode enabled. Do I even need to build openthread posix separate from otbr agent now?

[2020-05-22 21:30] jwhui commented on #431
@JaneFromSilabs , we have decided to move the ot-br-posix project to use the RCP model moving forward. RCP allows OpenThread core to run on the host side, which provides a number of benefits. Including but not limited to:

1. OpenThread can utilize the significant resources of Linux host.

1. Simplify networking interactions by centralizing all IP-based protocol logic on the host.

1. Simplify deb

[2020-05-22 21:32] jwhui commented on #431
@gabekassel , building otbr-agent should be sufficient, as that links directly to the OpenThread library.

[2020-05-22 21:35] JaneFromSilabs commented on #431
Thank you, @jwhui and @bukepo, I have the RCP working and have confirmed that the lack of NCP support is not an issue for us going forward.  Have a great weekend!

[2020-05-25 22:52] #431 closed

[2020-05-26 06:31] tarunsmalviya commented on #421
@jwhui [#424](https://github.com/openthread/ot-br-posix/pull/424) was merged 12 days ago and I was facing this issue before that.
Also, as per @bukepo's suggestion, I tried installing with latest master branch. I discovered that there are many changes done in the new version.

I have following queries:
- Also, in the [Border Router Setup Guide](https://openthread.io/guides/border-router/build), th

[2020-05-26 08:40] gjc13 commented on #421
‘’‘Also, in the Border Router Setup Guide, there is no mention of NCP. Is this because it does not exists now? RCP came into picture now?

Yes, RCP is now the recommended radio peripheral rather than NCP.

[code]

[2020-05-27 16:25] nealjack opened #439 "ot-ctl fails to add on-mesh prefix for global routing"
**Describe the bug**
Using the new command line interface `ot-ctl`, it is possible to form a network on the border router using the steps listed [here](https://openthread.io/guides/border-router/external-commissioning#manual). However, the command to add a prefix is not successful, and my devices never get a new address with this prefix and are unable to send packets outside the thread network. Th

[2020-05-27 17:21] jwhui commented on #439
@nealjack , we recently updated master branch to use the [RCP model](https://openthread.io/platforms#radio-co-processor-rcp) on ot-br-posix.

By moving OpenThread core from the 15.4 SoC to Linux host, we are able to remove wpantund and utilize the existing [OpenThread CLI](https://github.com/openthread/openthread/tree/master/src/cli).

After making updates to the network data locally, try issuing

[2020-05-27 18:05] nealjack commented on #439
Thanks for the quick response. Yes, it looks like that was the step I was missing. I can confirm that the prefix is added, my device gets an address, and can send messages externally.

I realize these are pretty recent architectural changes, and that documentation is pretty sparse right now, so thank you for the clarity.

To reiterate some changes to documentation that I noticed need to be made:
I

[2020-05-27 19:42] jwhui commented on #439
@nealjack , thanks for identifying these issues. We'll work to update the Border Router guide.

[2020-05-27 23:03] nealjack opened #440 "ot-ctl commands hang indefinitely"
**Describe the bug**
I have noticed that some `ot-ctl` commands do not exit cleanly, and seem to stay in the OpenThread CLI indefinitely. This makes it hard to write startup services that automatically set up the network and add a prefix.

Notably, `ot-ctl reset` hangs at the CLI:
[code]
I have noticed this behavior with `channel` and `factoryreset` commands as well.

1. Git commit id: fdba1c7
2.

[2020-05-28 02:13] gjc13 commented on #440
When `ot-ctl` hang, is `otbr-agent` still running or it crashes?

[2020-05-28 03:37] gjc13 commented on #367
Obsolete since wpantund is removed.

[2020-05-28 03:37] #367 closed

[2020-05-28 04:02] bukepo commented on #440
submitted: https://github.com/openthread/openthread/pull/5011

[2020-05-28 14:25] Vyrastas commented on #439
@bukepo Is sorting this out.

[2020-05-29 10:18] QuincyYoung commented on #225
Hi, I've tried using the "NAT64 option in the beaglebone config and commented out line in the script/_dns64" and whilst I am able to ping 64:ff9b::0808:0808 from the border router (beaglebone), I am still unable to ping the same address from any thread devices. Are there any other changes I must make for the "thread-br-certified-20180819" tag to function correctly?

[2020-05-29 14:59] #440 closed

[2020-05-29 17:13] JaneFromSilabs opened #443 "ot-ctl commands hang indefinitely"
**Describe the bug** A clear and concise description of what the bug is.
Similar/same issue as ot-ctl commands hang indefinitely #440: I stop getting proper responses and the CLI hangs forever.

`Last login: Fri May 29 17:45:00 2020 from 172.16.1.171

pi@rpi2:~ $

pi@rpi2:~ $ sudo ot-ctl state

disabled

Done

\> pi@rpi2:~ $ sudo ot-ctl panid 0xface

Done

pi@rpi2:~ $ sudo ot-ctl extpanid dead00be

[2020-05-30 02:43] bukepo commented on #443
@JaneFromSilabs  I cannot reproduce this issue, could you please try if cherry-pick https://github.com/openthread/openthread/pull/5026 fixes the issue you ran into?

[2020-05-30 02:53] bukepo opened #444 "[radio-url] migrate to radio url"
- [ ] update code in this repo (#445)
- [ ] update openthread.io

[2020-05-30 09:26] bukepo opened #446 "lost code coverage after migration to github actions"
**Describe the bug** A clear and concise description of what the bug is.

code coverage dropped to 10% after migration to github actions.

See the report: https://codecov.io/gh/openthread/ot-br-posix/commits

[2020-06-01 15:23] #444 closed

[2020-06-03 03:40] tttttangTH opened #450 "[web] otbr-web binary command option require unwanted argument"
After setting up ot-br-posix in Docker and start otbr-web, it will give an `option require an arrgument `  error when checking version number.

[code]

We know `-v` option is generally used to print version number which does not need an argument.
So the expected output should be like:

[code]

[2020-06-03 03:45] bukepo commented on #450
I think there is a typo. In this project, we use `-v` for verbose, and `-V` for print version. Would you like to submit a PR to fix this issue?

[2020-06-03 03:48] bukepo commented on #446
fixed by #447

[2020-06-03 03:48] #446 closed

[2020-06-03 03:51] tttttangTH commented on #450
Yeah, will fix it. Do I need to change the behavior in another issue/PR?

[2020-06-03 03:55] bukepo commented on #450
Either way works for me.

[2020-06-03 04:02] wgtdkp commented on #450
@tttttangTH Let's just fix the wrong output of `-v` option of in **`otbr-web`**. We can change `-v` / '-V' of **`otbr-agent`** in another PR.

[2020-06-03 04:36] #450 closed

[2020-06-03 06:02] gjc13 opened #452 "openthread/otbr docker image on docker hub is outdated"
**Describe the bug**
The docker image `otbr` on github is outdated and still uses wpantund.

**To Reproduce**

[code]
The image is outdated.

**Expected behavior**
The image should be linked to `otbr_amd64_linux`.

[2020-06-03 14:35] Vyrastas commented on #452
Maybe OTBR needs to be uploading a new Docker image with each new merge, similar to what OpenThread does.  Can you set it up that way?  I think we didn't do it originally to provide a stable image.

[2020-06-03 19:03] jwhui commented on #452
I agree that we should push a new image with each merge. Maybe we can use a GitHub Action (see [Multi-arch build and images, the simple way](https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/)).

[2020-06-04 04:19] bukepo commented on #443
Is this still an issue? @JaneFromSilabs

[2020-06-04 04:20] bukepo commented on #439
@nealjack Could you help check the latest guide?

[2020-06-04 18:14] JaneFromSilabs commented on #443
Hi @bukepo ,

Sorry for the delay in my response.  I have been out of the office for a few days.  I am back in the office as of this morning.  I was able to test with commit c14ef63c07a788708f135cf5392854b4bc4d5e31 and the problem is no longer reproducible!  I am able to form a Thread network now.  Thank you!

Cheers,
Jane

[2020-06-04 18:25] #443 closed

[2020-06-05 14:59] Vyrastas commented on #452
I would like to try and implement this, but I have so much else going on that I don't know when I'd be able to get to it.  Someone else might have to take this on if it's a priority.

[2020-06-06 00:32] bukepo opened #463 "[dbus] code coverage is low"
The code coverage of `src/dbus` is low.
https://codecov.io/gh/openthread/ot-br-posix/tree/master/src/dbus

[2020-06-07 15:40] nealjack commented on #439
@bukepo It looks like the documentation has been fixed! Thanks!

[2020-06-07 15:40] #439 closed

[2020-06-09 18:05] tarunsmalviya opened #466 "Unable to commission node for some random duration."
I have setup OTBR in Raspberry Pi 3B+. I have been using OpenThread for around 21 months now. There is an issue I face many times, i.e., commissioning of node does not happen for few random hours and then all of sudden it works. Since last two weeks, it is happening every so often.

Following are the details:
1. OS version is stretch
2. `"NCP:Version" => "OPENTHREAD/20180926-01143-g8a1992e2; NRF52

[2020-06-10 06:02] hao-gao opened #467 "Could not setup Rpi3B as otbr"
Could not setup Rpi3B as otbr at ./script/bootstrap, see in https://github.com/openthread/ot-br-posix/commit/0a9ed6ad411314730545ed550873105251c7923d

[2020-06-10 06:23] bukepo commented on #467
It seems there are some network errors. Could you try again or configure your pip to use a different mirror?

[2020-06-10 06:36] hao-gao commented on #467
could you please also add `set -x` in that after_bootstrap.sh, so users like me are able to find out what's going on there, without browsing the source? Thanks

[2020-06-10 19:52] JaneFromSilabs opened #468 "Intermittently, prefix information isn't fully returned from "ot-ctl prefix" CLI command"
### **Describe the bug** A clear and concise description of what the bug is.

When using the CLI command "ot-ctl prefix", I have noticed that intermittently, I am lacking some of the information, as shown in this example where I have 3 prefixes configured.  Intermittently, I lose the first part of the information for the first prefix.  It seems to come and go.

[code]

### **To Reproduce** Informa

[2020-06-11 09:08] stevew817 opened #470 "DHCPv6-PD provisioned prefix does not get added to mesh prefix list"
**Describe the bug**
When a GUA IPv6 prefix is delegated to the wpan0 interface through DHCPv6-PD, the expectation is that this prefix is automatically added to the on-mesh prefix, and that nodes on the mesh learn their GUA from this prefix.
This does not seem to happen. The wpan0 interface gains a GUA address (::1 from the assigned prefix), but does not configure the Thread network to let nodes c

[2020-06-11 09:30] gjc13 commented on #470
Can you paste the `otbr-agent` log? Thanks.

[2020-06-11 09:57] bukepo commented on #470
@stevew817 This is a missing feature. This requires converting the router advertisement to Thread network data. I agree this is very useful but I think it requires some time to add it.

[2020-06-11 10:13] stevew817 commented on #470
@bukepo It's been a while since I last looked at OTBR, but wasn't this implemented in wpantund already?

[2020-06-11 11:15] stevew817 commented on #470
@gjc13 This might be of interest too?
[code]

[2020-06-11 14:59] JaneFromSilabs opened #471 "Ping responses are not reported back in the CLI"
### **Describe the bug** A clear and concise description of what the bug is.

I am able to ping from my ftd soc to the OTBR, but when I try to ping the ftd soc from the OTBR, the packet is never reported as received.  I believe the OTBR is receiving the ping because it showed up in the trace of the wpan0 interface, but the CLI is not reporting the command success.

I send a ping to my soc from the

[2020-06-11 15:37] jwhui commented on #471
@JaneFromSilabs , thanks for raising this issue.

This is currently expected behavior. `ot-ctl` is exiting before the ICMPv6 Echo Reply is received.

Can you try running `ot-ctl` in interactive mode by invoking `ot-ctl` without any arguments?

For example:
[code]

[2020-06-11 16:25] JaneFromSilabs commented on #471
Hi @jwhui ,

Thank you for letting me know that this is intended.  It does work fine in the interactive mode.  Since this is intended behavior, this issue is closed.

Cheers,
Jane

[2020-06-11 16:25] #471 closed

[2020-06-11 18:29] #468 closed

[2020-06-11 18:29] jwhui commented on #468
@JaneFromSilabs @gabekassel , just merged https://github.com/openthread/openthread/pull/5087, which should resolve this issue.

[2020-06-11 23:36] jwhui commented on #415
Closing stale issue.

[2020-06-11 23:36] #415 closed

[2020-06-11 23:38] jwhui commented on #466
@tarunsmalviya , can you try with a more recent build of NCP?

[2020-06-12 02:25] bukepo commented on #470
Yes, but it seems it didn't detect what kind of prefix is added. We'll add the feature soon.

[2020-06-12 19:40] JaneFromSilabs commented on #468
Hi @jwhui ,

I believe this is still failing for me, at least in the non-interactive mode.  The interactive mode is working just fine.  I am at:

`pi@rpi1:~/ot-br-posix $ git show
commit 591cfebbe1a337f84bc2549505e2fc42886ab4a6
Author: Yakun Xu <xyk@google.com>
Date:   Wed Jun 10 01:51:22 2020 +0800
`
Is this expected behavior if you are not interactive?

[2020-06-12 19:59] jwhui commented on #468
@JaneFromSilabs , note that https://github.com/openthread/openthread/pull/5087 is a different repo and is a submodule of this repo. Can you ensure that `third_party/openthread` is up-to-date?
[code]

[2020-06-12 20:29] JaneFromSilabs commented on #468
@jwhui , that worked, thank you!  Have a great weekend.  ~jane

[2020-06-12 20:31] jwhui commented on #468
@JaneFromSilabs , great to hear!

[2020-06-15 08:21] simonlingoogle opened #474 "ot-ctl (interactive mode) exits when executing factoryreset"
**Describe the bug**
ot-ctl (interactive mode) exits when executing CLI command: factoryreset

**Expected behavior**
It should not exit.

[2020-06-15 10:48] tarunsmalviya commented on #466
@jwhui Okay. Will get back to you once done.

[2020-06-15 17:33] #419 closed

[2020-06-16 06:16] grja opened #478 "Set up the Border Router failed"
Setting up the Border Router failed on Pi3B 2019-04-08-raspbian-stretch-lite.

**To Reproduce**
- Download and install the 2019-04-08-raspbian-stretch-lite on SD card, insert the SD card into the Raspberry Pi and power it up.
- install git
- git clone https://github.com/openthread/ot-br-posix
- cd ot-br-posix
- ./script/bootstrap
- ./script/setup
  It fails with message :
  Connection 'BorderRoute

[2020-06-17 05:10] bukepo commented on #478
There is a known unstable issue for setup, could you try run the script again and see if the issue goes away?

[2020-06-17 06:06] simonlingoogle commented on #467
I have had this same issue many times when setting up otbr (in China).
With some investigation, I realized that this might be caused by the GFW. More specifically, because `pip` is trying to download the package from an IPv6 destination address, but failed.
Each time `pip` is invoked, it will either resolve the destination domain as IPv6 address (larger chance) or IPv4 address (smaller chance). It

[2020-06-17 07:34] #467 closed

[2020-06-17 08:42] hao-gao commented on #478
@grja @bukepo
`sudo apt install dnsmasq` before ./script/setup fixes this.
because we can see following in syslog:
` <error> [1592383199.9311] device (wlan0): share: (wlan0) failed to start dnsmasq: Could not find "dnsmasq" binary`
seems we need to install dnsmasq for recent versions of nm in /script/bootstrap?

[2020-06-17 09:50] grja commented on #478
`sudo apt install dnsmasq` before ./script/setup fixed this issue.
Than you for your help.

[2020-06-17 16:10] mhallam281 commented on #478
We had this same issue, and sudo apt install dnsmasq before ./script/setup fixed it foe us as well. Thanks for digging into this.

[2020-06-17 17:30] JaneFromSilabs opened #482 "Upgrade and Downgrade Procedures"
Is your feature request related to a problem? Please describe.
I need to use an older RCP build, so I am attempting to downgrade to an older version of the OTBR right now and having trouble doing so. Here are the steps I am taking:

[code]
After a reboot, I cannot talk to the RCP so I suspect I am either not doing this correctly or perhaps downgrade is not supported and I need to reflash the raspi

[2020-06-18 07:43] bukepo opened #483 "[commissioner] missing on-mesh commissioner d-bus API"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
on-mesh commissioner is available on border router, but currently no d-bus API exposed.

**Describe the solution you'd like** A clear and concise description of what you want to happen.
export commissioner functionality through d-bus.

**Describe alternatives you've considered

[2020-06-18 08:11] brianljt commented on #482
Recently, there is a change which changes Spinel protocol (https://github.com/openthread/openthread/commit/201b7b1a3d337bd1afaa97880f32c3cca77cf283). So a newer host driver requires a newer RCP build. If you are using an older RCP build, you might need to try with some older host driver.

For commit 591cfebbe1a337f84bc2549505e2fc42886ab4a6, its submodule openthread is using b28d7c4a.

[2020-06-18 12:43] JaneFromSilabs commented on #482
I guess I was looking for more procedural information.  I want to make sure that when I upgrade/downgrade that I do things the correct way and that we tell our customers the correct information about how to go about this.

Generally speaking, how do you recommend going about updating the border router?  Is there also a downgrade procedure?

[2020-06-19 02:56] brianljt commented on #482
I think the steps you mentioned is fine for upgrading and downgrading. In general I would suggest to use same OpenThread commit ID for RCP and OTBR. I.E. commit id for repo bt-br-posix/third_party/openthread/repo should be same as the one for RCP image. Each commit to OpenThread repo will trigger github action to do some simulation tests thus ensure a matching host driver and RCP firmware can func

[2020-06-19 06:36] simonlingoogle commented on #478
@grja @hao-gao
Do you mind propose a PR for this fix?

[2020-06-19 16:27] JaneFromSilabs commented on #482
If the downgrading should work, I believe there may be an issue.  When I downgraded, despite having those exact pointers you specified checked out, I could not connect to an older RCP.  I could only connect to a current RCP build.  When I re-etched my raspi, I was able to use those same hash commits for the ot-br-posix and the ot-br-posix/thirdparty/openthread/repo repositories and connect to my o

[2020-06-19 19:06] iDarshan opened #486 "OpenThread daemon is not running"
I am trying to run OpenThread Border Router on Ubuntu 18.04. I cloned latest master branch of ot-br-posix. Followed steps given on https://openthread.io/guides/border-router/build. Installation is successful and I can see otbr-web and otbr-agent services running. Still, when I give `ot-ctl state` command, it says "OpenThread daemon is not running". Guide says that use adapter instead of USB port,

[2020-06-19 22:41] bukepo commented on #486
Did you run ot-ctl with sudo?

[2020-06-19 23:15] #478 closed

[2020-06-20 01:31] iDarshan commented on #486
Yes.

[2020-06-20 03:40] iDarshan commented on #486
I just tried the same steps on Rasperry Pi 4 with Raspbian OS. In that too it gives same error. OpenThread daemon is not running. Something is wrong. Please help here.

[2020-06-20 09:56] bukepo commented on #486
Could you double check if the `otbr-agent` is running? If not, maybe you have to check what's happening by manually run the command:

[code]

[2020-06-20 18:01] iDarshan commented on #486
[code]
Note that NCP device is at /dev/ttyACM0 and not at ttyUSB0.
After that running it manually:
[code]
Still `sudo ot-ctl state` gives "OpenThread daemon is not running"

[2020-06-20 19:43] iDarshan commented on #486
Looked at detailed logs of the otbr-agent service. It seems like its failing and keep restarting.
[code]

[2020-06-20 23:38] bukepo commented on #486
It seems the RCP is not compatible with the daemon. Could you try building the RCP from the latest code?

[2020-06-20 23:56] iDarshan commented on #486
RCP Firmware for nrf52840 is built from latest master branch. I also tried Firmware provided by Nordic SDK. No luck so far. Please try OTBR on Ubuntu 18.04 (64 bit) and nrf52840. You will observe the problem.

[2020-06-22 03:51] brianljt commented on #482
I had a tried on RaspberryPi and found you might be missing one step when using older ot-br-posix. Please check step 5 in https://openthread.io/guides/border-router/build . If the RCP device is not specified, host cannot talk to it. You can have a try on host with command "sudo ot-ctl" and see if command prompt is shown.

BTW, In a recent commit (https://github.com/openthread/ot-br-posix/commit/55

[2020-06-22 08:30] simonlingoogle opened #488 "OTBR is broadcasting MLDv2 messags in the Thread network"
**Describe the bug**
OTBR is broadcasting MLDv2 messags in the Thread network. (see the pcap)

**To Reproduce**

1. Git commit id: master (8a7c53b9faeeef96a8a7c4fb1de364cf00acf365)
2. IEEE 802.15.4 hardware platform: Raspberry Pi3 (otbr-agent) + OT RCP

**Expected behavior**
OTBR should **NOT** broadcast MLDv2 messages in the Thread network.

**Console/log output**

[Pass_OpenThread_9.2.1_Commissi

[2020-06-22 12:43] TaTiTuTeKo commented on #486
@iDarshan, please make sure you are connecting to J3 connector of the PCA10056 board to your Ubuntu, and the SW9 switch is switched to 'USB', but not 'Li-Po or VDD'. That means, you need to use the 'Native' USB port of 52840, but not the USB port of the segger interface MCU at J2.

[2020-06-22 13:38] iDarshan commented on #486
@TaTiTuTeKo I am following the guide in which the information you gave is there. So I am using the right connector.

[2020-06-23 06:43] simonlingoogle opened #491 "OTBR should not send ICMPV6 Destination Unreachable for Child ID Request and Link Accept"
**Describe the bug**
OTBR handles `Child ID Request` and `Link Accept` correctly, but at the same time, it incorrectly sends `ICMPv6 Destination Unreachable` messages.

![image](https://user-images.githubusercontent.com/52448427/85369442-b3b92f80-b55f-11ea-925c-252540c8c7fb.png)

**To Reproduce**
1. Git commit id: master (8a7c53b9faeeef96a8a7c4fb1de364cf00acf365)
2. IEEE 802.15.4 hardware platform

[2020-06-23 17:36] iDarshan commented on #486
I am observing that after build and install I don't see wpantund service running. I see otbr-agent, otbr-web and avadhi daemon running. Is that a cause of failure?
I also saw another issue filed for this problem at https://github.com/openthread/ot-br-posix/issues/214
Point 3 in that issue.

Please let me know what needs to be done here to make this work.

[2020-06-24 00:55] jwhui opened #493 "[build] builds failing on master as of bd8b7fc"
**Describe the bug** A clear and concise description of what the bug is.

Travis and Docker Hub builds are failing as of bd8b7fc.

[2020-06-24 02:14] bukepo commented on #493
The problem is USER is not set on docker hub. And I didn't find the issue trying to address in #489 on my raspberry PI. I'm going to revert the change.

[2020-06-24 05:27] #493 closed

[2020-06-24 05:47] simonlingoogle commented on #493
It's actually a known issue of ninja: https://github.com/ninja-build/ninja/issues/1302
I will seek for a better fix if necessary.

[2020-06-24 15:07] JaneFromSilabs commented on #482
Thanks for the information!  I was able to get this working in the end, and it does work fine, it just wasn't matching up with the OpenThread running on my other devices anymore.

[2020-06-24 15:07] #482 closed

[2020-06-24 20:09] iDarshan commented on #486
@bukepo Do you need more information or logs for this issue?

[2020-06-24 23:45] bukepo commented on #486
From the logs you provided, the root cause is RCP is incompatible with otbr-agent. We just added backward compatibility to it. Could you try rebuild otbr-agent:

git pull origin master
git submodule update --init

[2020-06-25 04:03] iDarshan commented on #486
@bukepo Just rebuilt the ot-br-posix after updating and installed. Rebooted the system. Still the same error. Following is the log of otbr-agent service:

[code]

 I also pulled openthread repo master branch to the latest and built nrf52840 firmware with the following command:
[code]

[2020-06-25 04:54] bukepo commented on #486
Did you flashed RCP or NCP? The otbr-agent only works with RCP. The binary file is ot-rcp. Besides, since you built it with USB=1, you should connect the USB port instead of the jlink port. If it still not working, could you try building with USB=0 and use the jlink port instead?

[2020-06-25 06:59] brianljt commented on #482
Glad to hear that it is working for you now @JaneFromSilabs . BTW, I've committed one PR to make newer host driver compatible with older RCP firmware. Once this commit is included in ot-br-posix submodule, the new host driver can talk to old RCP firmware without the need to downgrade it. https://github.com/openthread/openthread/pull/5139

Although it is done, I would still suggest to use matching

[2020-06-25 14:43] JaneFromSilabs commented on #482
Yes, I tried using that today and it seemed to work for me (I was using it with an RCP built from f411a412).  I was able to bring up connections and ping the interfaces on the BR as well as through the BR using NAT64.  I have not seen any instability yet but I haven't done anything all that stressful with it yet either.  Thanks for this update!

[2020-06-25 14:56] JaneFromSilabs opened #496 "Installation of OTBR using AP/WiFi setup does not create required files in /usr/sbin"
**Describe the bug** A clear and concise description of what the bug is.
Executable files in /usr/sbin do not exist after a clean (fresh etch of the OS) raspi installed with the OTBR if the installation is run using the command "sudo ./script/setup".

However, "sudo NETWORK_MANAGER=0 ./script/setup" does install everything properly.

**To Reproduce** Information to reproduce the behavior, includin

[2020-06-25 16:28] iDarshan commented on #486
@bukepo I cloned the ot-br-posix repo again. Seems like submodule update didn't work. And yes I am using RCP firmware as mentioned in the guide. After new repo build of ot-br-posix, otbr-agent worked for a while and crashed again. Here is the log:
[code]

[2020-06-25 17:59] G-Pereira commented on #486
I am having the same issue and I would like to share te build switches I am using. Maybe that's the culprit.

`make -f examples/Makefile-nrf52840 BORDER_AGENT=1 BORDER_ROUTER=1 COMMISSIONER=1 UDP_FORWARD=1 USB=1 BOOTLOADER=USB LINK_RAW=1`

Is this ok?

[2020-06-25 19:39] G-Pereira commented on #486
By the way I am running the otbr on a orangePi running Armbian Buster (Debian Buster) and the problem is the same

[2020-06-25 22:38] G-Pereira commented on #486
I'm trying to gather as much information as I can, here is a list:
- nrf52840 (E73 module from ebyte) connected via USB and powered by OrangePi Zero LTS pins
- Permissions: `crw-rw---- 1 root dialout 166, 0 Jun 25 22:23 /dev/ttyACM0`
- groups user belongs to: `tty disk dialout sudo audio video plugdev games users systemd-journal input netdev ssh`
- ot-br-posix commit: f93719a08c9ff2aee7295c6297c8d

[2020-06-26 00:03] bukepo commented on #486
From the logs, It seems the RCP crashed. I remember there are some unstable issue in USB=1 mode. Could you try build the RCP according to the link?
https://github.com/openthread/openthread/tree/master/src/posix#nrf52840

Please use USB=0 mode, only connect the jlink port. And could you share the hardware version of your nrf52840?

[2020-06-26 00:18] bukepo commented on #496
Could you try cleaning very thing and run scripts **without sudo**? The scripts calls sudo when necessary. Run the whole script with sudo can be problematic. If it still fails, could you paste the output of those scripts?

[2020-06-26 09:00] G-Pereira commented on #486
Thank you for the suggestion. What are the default UART pins in the Px.xx format?

[2020-06-26 09:30] G-Pereira commented on #486
@iDarshan I don't know the board you're using but maybe you can do the same as me and use a USB to serial converter. It seems that USB as a serial transport is being dropped support... Even in Nordic's Infocenter, they mention that it's preferable to use either UART or SPI.

[2020-06-26 11:05] vijayrao1988 opened #497 "ot-ctl router table loses some information while printing output on the console"
**Description**
There are formatting issues in the output from ot-ctl when it prints out the router table. These seem to be consistent on occasions, but random on some.

**To Reproduce**
1. Form a Thread network with one of the devices on the network being a ot-br.
2. Call ot-ctl to print out the router table as follows:
`sudo ot-ctl router table`
3. The output seems malformed. For instance:
`up-b

[2020-06-26 11:20] G-Pereira commented on #486
Well, I am getting exactly the same issue and the exit code is: `(code=exited, status=6)`

[2020-06-26 20:42] JaneFromSilabs commented on #496
Sure.  Here is that output.  It behaved the same way for me.

[output.txt](https://github.com/openthread/ot-br-posix/files/4839174/output.txt)

[2020-06-26 22:25] jwhui commented on #496
@JaneFromSilabs , from the log, it appears that the process is failing in [`network_manager_install`](https://github.com/openthread/ot-br-posix/blob/f93719a08c9ff2aee7295c6297c8d54b525656ca/script/setup#L60) and not actually progressing to `otbr_install`.

Can you confirm that you are using:

1. Raspberry Pi 3B+ (not 3B or any other version)?

1. The Raspberry Pi is connected via Ethernet and you

[2020-06-26 22:26] jwhui commented on #496
@JaneFromSilabs , for what it's worth, I just tested clean OTBR install with latest master (f93719a) and it worked as expected for me.

[2020-06-27 01:07] jwhui commented on #486
@G-Pereira , are you able to test with a Raspberry Pi 3B+ running Raspbian Stretch Lite and an [nRF52840 USB Dongle](https://www.nordicsemi.com/Software-and-tools/Development-Kits/nRF52840-Dongle)? That configuration seems to work for me. It would be useful to see if some difference in environment is contributing to the issue.

[2020-06-27 01:40] jwhui commented on #486
@iDarshan , can you provide more detail on how you are exercising the Thread network? That would help us reproduce the issue.

[2020-06-27 09:33] G-Pereira commented on #486
I don't have a Raspberry for the time being.

I am trying to configure the border router as the first node on my network so no more devices are involved

[2020-06-27 13:59] G-Pereira commented on #486
What a second @bukepo just said here that USB is unstable at the moment, how come?

[2020-06-27 19:36] jwhui commented on #486
@G-Pereira , FWIW, the nRF52840 USB Dongle seems to work well enough for me for testing. I agree that in a production system, SPI would be preferred.

[2020-06-28 02:16] gjc13 commented on #497
This bug has been fixed in the latest OpenThread. Just verified with an old ot-ctl binary and the cutting-edge building from OpenThread master.

Old binary
[code]

Cutting edge build
[code]

[2020-06-28 12:31] G-Pereira commented on #486
That's nice to know! At the moment I've trashed my custom board because of a design issue I've made. So I will gather what I've learned to the second iteration and will have your SPI suggestion in mind. Thanks for the support.
To sum it up, I would like to ask you to disregard the issues I've reported since I've noticed that I had other problems with my board.
Thank you all for the support!

[2020-06-28 17:22] vijayrao1988 commented on #497
Does that mean this is yet to be implemented in the OpenThread Border Router package?

Because from your snippet, the instance of <ot-ctl>, installed as part of ot-br, still produces the same buggy format but the binary built from the OpenThread source code works fine.

[2020-06-28 21:00] iDarshan opened #498 "OTBR with RPi3 and nrf52840 fails after some time"
I am using RPi3 B and nrf52840 (PCA10056 2.0.1) to run OTBR. As per guide on openthread.io followed all steps. Was able to add new thread device to network. However, OTBR does not seem to stable, it failed after some time. otbr-agent service crashed with following logs:

[code]
nrf52840 firmware is built with USB=1 and I am using USB port besides reset switch to connect to RPi3.

What's causing ot

[2020-06-28 21:03] iDarshan commented on #486
@jwhui The only difference in standard setup mentioned on openthread.io and mine is that I am using a PC running Ubuntu 18.04 (64 bit) instead of RPi3. I have also tried the same steps with RPi4 instead of RPi3. Same results. otbr-agent is starting for some time and then crashes, maybe because PC goes to sleep. Please let me know if you need more information.

[2020-06-29 00:07] bukepo commented on #498
Have you tried USB=0 mode according to https://github.com/openthread/openthread/tree/master/src/posix#nrf52840

I think this is more stable and easier for debugging.

[2020-06-29 02:18] gjc13 commented on #497
The openthread in the code base has just been updated in https://github.com/openthread/ot-br-posix/pull/495. Rebuilding and re-installing will resolve this issue. My `ot-ctl` under the system path is quite outdated.

[2020-06-29 16:55] JaneFromSilabs commented on #496
1.  I am using a Raspberry Pi 3+ v1.2
2.  I am using Ethernet
3.  I am using Stretch Lite

This device that is failing claims a 2014 copyright.  Maybe this is just a simple hardware failure?  I'll try to set up another Pi to test.  I'm thinking that maybe something is going wrong with the WiFi interface itself since the NETWORK_MANAGER=0 installation works just fine on this device.

[2020-06-29 17:02] JaneFromSilabs commented on #496
Here is the device information:
![IMG_3084](https://user-images.githubusercontent.com/58004715/86034525-c07acf00-ba08-11ea-8459-92f1988c4912.jpg)

[2020-06-29 17:40] jwhui commented on #496
@JaneFromSilabs , you are running "Raspberry Pi B+" not "Raspberry Pi 3 B+". Because "Raspberry Pi B+" does not have Wi-Fi, the current Network Manager install will fail.

See https://en.wikipedia.org/wiki/Raspberry_Pi for more information on different Raspberry Pi versions.

[2020-06-29 18:04] JaneFromSilabs commented on #496
Oh, sorry about that.  I guess I just assumed it was a 3.  I can't believe we have any hardware this old to be honest.  I'll swap that out.

The good news is that the regular install worked on this old B+!

[2020-06-29 18:15] #496 closed

[2020-07-01 00:24] rcrouthamel commented on #486
FWIW, I successfully built a fresh system today RPi3B+ Raspbian Buster with an nRF52840 Dongle (v1.2.0). https://github.com/openthread/ot-br-posix/commit/ad268823f2f5a019b93741da462fa74beabea21f
Below is the step-by-step (sorry) written like a hardware engineer.  I used much fewer switches:

@jwhui I couldn't build the latest ot-br-posix on Raspbian Stretch Lite anymore

I second the use of SPI in

[2020-07-01 00:55] jwhui commented on #486
@rcrouthamel , interesting. I just tried building on Raspbian Stretch Lite on latest master (ad26882) and everything worked as expected.

My steps on a fresh Raspbian Stretch Lite image:
[code]

Can you provide any details on what failed for you?

[2020-07-01 02:24] rcrouthamel commented on #486
@jwhui Hmm, I'll try again first thing tomorrow.  Come to think of it, I did run the installation for our cellular manager before ot-br-posix, but I can't see how that would be a problem.  Should I be planning to stick with Stretch for Thread Group compliance reasons?

[2020-07-01 06:01] jwhui commented on #486
@rcrouthamel , Stretch is simply our reference platform and what we have tested in the past and is what we recommend in the Border Router Setup Guide, but there is reason otherwise to stick with Stretch. If something else works for you, feel free to use that.

[2020-07-01 08:57] firehills opened #501 "Pre built Border Router image out of step with documentation"
At time of writing documentation at https://openthread.io/guides/border-router/docker/run suggests starting the docker container with

docker run --sysctl "net.ipv6.conf.all.disable_ipv6=0 \
        net.ipv4.conf.all.forwarding=1 net.ipv6.conf.all.forwarding=1" \
        -p 8080:80 --dns=127.0.0.1 -it --volume \
        /dev/ttyACM0:/dev/ttyACM0 --privileged openthread/otbr \
        --radio-url s

[2020-07-01 09:24] bukepo commented on #501
@jwhui is it possible to automatically update the latest tag automatically?

[2020-07-01 14:06] rcrouthamel commented on #486
@jwhui Sorry, my bad.  I built https://github.com/openthread/ot-br-posix/commit/ad268823f2f5a019b93741da462fa74beabea21f today on Stretch Lite with no issues. I'll stick with Stretch while I work out my SPI issues (at least).

[2020-07-01 15:42] iDarshan commented on #486
@jwhui Raspbian stretch is old. Not getting newer releases of it. Also its not supported on RPi4. So why to stick with old platform and not support the latest one? For broader use of this border router code, it should support various new platforms and build systems. Should be able to build on a custom Linux distro using Yocto as a build system, just an example. That will make porting of this borde

[2020-07-01 15:54] jwhui commented on #486
@iDarshan , the latest versions of Raspbian or Raspberry Pi OS are not stable. One example is the [USB problems on Raspberry Pi 4](https://groups.google.com/d/msg/openthread-users/zXiIQnIZ4Ys/ggTpf2yXCgAJ). Another example is when Buster first came out, there were some incompatibilities between network manager and the Wi-Fi driver.

Like I said in https://github.com/openthread/ot-br-posix/issues/4

[2020-07-01 16:00] iDarshan commented on #486
@jwhui So how to use this border router on Linux machine which does not use aptutils or brew for dependency package installation? In the guide it is said that it can be used on any Linux machine.

[2020-07-01 17:15] jwhui commented on #486
@iDarshan , an arbitrary Linux-based platform has far too much variability. A "getting started" guide needs to rely on some kine of reference platform. For us, that is currently Raspberry Pi 3B+ and Docker. Where the guide mentions "any Linux-based machine" that was in reference to Docker.

That said, this is an open-source, community-based project. We welcome all contributions! If there is a refe

[2020-07-01 17:59] jwhui commented on #501
This is a duplicate of #452. I'll take a look an implementing that.

[2020-07-01 22:10] rcrouthamel opened #502 "otbr-agent won't start with SPI RCP"
**Describe the bug** A clear and concise description of what the bug is.
otbr-agent.service exits with "status=2/INVALIDARGUMENT" when built and configured for SPI

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id
https://github.com/openthread/ot-br-posix/commit/ad268823f2f5a019b93741da462fa74beabea21f
2. IEEE 802.15.4 hardware platform

3. Build steps

NOTE:  s

[2020-07-02 03:43] bukepo commented on #502
@rcrouthamel I'm trying locally, could you upload otbr-agent logs?

otbr-agent -d7 -v -I wpan0 'spinel+spi:///dev/spidev0.1?gpio-int-device=/dev/gpiochip0&gpio-int-line=21&gpio-reset-dev=/dev/gpiochip0&gpio-reset-line=20&no-reset=1&spi-speed=1000000'

[2020-07-02 09:54] bukepo opened #504 "[route] advertisement Thread on-mesh prefixes"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
External network doesn't know Thread's on-mesh prefix.

**Describe the solution you'd like** A clear and concise description of what you want to happen.
Use radvd to advertise Thread's on-mesh prefix to external network.

**Describe alternatives you've considered** A clear and

[2020-07-02 13:51] rcrouthamel commented on #502
Yes!  Editing `gpio-reset-dev` to `gpio-reset-device` per @bukepo changed exit code from 2/INVALIDARGUMENT to 6/NOTCONFIGURED when used with an nRF52840 DK programmed connected as described above.   When same is used on a custom board (Pi HAT) used previously as an RCP with wpantund, otbr-agent starts successfully and Thread is operational.

I must have done something wrong in configuring or conne

[2020-07-02 15:29] rcrouthamel commented on #502
I re-flashed the nRF52840 DK with the same hex I thought I used before and it is working now (I am chalking this up to user error).  It appears the only real problem was with the gpio-reset-device parameter typo.

Suggest the output from '$ sudo otbr-agent --help' should be corrected, both for the parameter typo above and to update the comments related to 'sysfx-exported GPIO' so they refer to cha

[2020-07-04 14:41] vijayrao1988 commented on #497
So a **git fetch** in the ot-br-posix repository, followed by **bootstrap** and **setup** should do it? Or would a separate download and build of the main openthread repository be required?

Secondly, I have observed that **ot-ctl router table** now freezes before and never completes. Attaching a screenshot to show this.
<img width="491" alt="Screenshot 2020-07-04 at 3 35 45 PM" src="https://user-

[2020-07-06 16:59] vijayrao1988 commented on #497
Updated to the latest ot-br-posix code base. The ot-ctl router table output is much better now but it still gets stuck before finishing.

![Screenshot 2020-07-06 at 5 55 34 PM](https://user-images.githubusercontent.com/4222604/86619367-58049280-bfb2-11ea-8fd0-faa09cfca04e.png)

[2020-07-06 19:06] jwhui commented on #497
The openthread/ot-br-posix repo pulls in the openthread/openthread repo
using git submodule.

To grab the latest, you should use `git submodule update --recursive
--depth 1`

--
Jonathan Hui

On Sat, Jul 4, 2020 at 7:41 AM Vijay Rao <notifications@github.com> wrote:

[2020-07-06 19:10] jwhui commented on #497
The default CLI output buffer size is configured via
OPENTHREAD_CONFIG_CLI_UART_TX_BUFFER_SIZE
<https://github.com/openthread/openthread/blob/203774c1811c2b0589ffa67b9664060c5b8dd1b1/src/cli/cli_config.h#L65>
and
is currently 1024 bytes.

Can you try increasing that to something larger?

--
Jonathan Hui

On Mon, Jul 6, 2020 at 9:59 AM Vijay Rao <notifications@github.com> wrote:

[2020-07-14 04:14] wgtdkp opened #520 "[mdns] includes border agent discriminator in mDNS response"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
To uniquely identify a Thread Border Router, a discriminator is required to be advertised in the mDNS response.

**Describe the solution you'd like** A clear and concise description of what you want to happen.
Add Border Agent discriminator to the Border Agent and includes it

[2020-07-14 04:28] wgtdkp commented on #520
A default implementation is to use EUI64 as the discriminator.

[2020-07-14 11:33] #502 closed

[2020-07-14 11:35] rcrouthamel commented on #502
Issue resolved by passing correct parameters into otbr-agent at start-up.

[2020-07-16 18:55] #452 closed

[2020-07-16 18:55] #501 closed

[2020-07-21 18:34] jwhui commented on #289
Resolved by #518

[2020-07-21 18:34] #289 closed

[2020-07-21 18:35] jwhui commented on #421
Closing stale issue.

[2020-07-21 18:35] #421 closed

[2020-07-21 18:36] jwhui commented on #274
Resolved by #518

[2020-07-21 18:36] #274 closed

[2020-07-21 18:36] jwhui commented on #22
Closing stale issue.

[2020-07-21 18:36] #22 closed

[2020-07-27 21:14] JaneFromSilabs opened #527 "Multicast pings to ff03 receive response from OTBR ALOC rather than OTBR RLOC. Is this intended?"
**Describe the bug** A clear and concise description of what the bug is.
Multicast pings to ff03 receive response from OTBR ALOC rather than OTBR RLOC.  Is this intended behavior for some reason?  I expected the BR to use the RLOC as it's source address.

**To Reproduce** Information to reproduce the behavior, including:
Send a ping to ff03::1 where a BR might respond.  Check the source address of

[2020-07-27 23:28] jwhui commented on #527
@JaneFromSilabs , thanks for raising this issue.

ICMPv6 Echo processing is implemented by the Linux kernel. To avoid using the IPv6 anycast address as an IPv6 source address, I think we need to do some extra configuration to tell the Linux kernel as such.

@bukepo , thoughts on marking the address as an anycast address when configuring on Linux network interface?

[2020-07-28 23:20] d1ee opened #529 "Partial table of ot-ctl commands with bigger results"
**Describe the bug** A clear and concise description of what the bug is.
`sudo ot-ctl neighbor table` returns a partial table and the command hangs.
`sudo ot-ctl router table` has the same issue.

[code]

[code]

I had to break the commands with ctrl-c.

Maybe it's just a buffer problem.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id
a69a9d5c82d25b6d3c6ddd5ac

[2020-07-29 04:32] bukepo commented on #529
Hi @d1ee could you try if https://github.com/openthread/openthread/pull/5134 fixes the issue?

[2020-07-29 09:06] d1ee commented on #529
Hi, yes I can test it.

[2020-07-29 10:38] d1ee commented on #529
@bukepo Maybe it's a stupid question, but what does the openthread project have to do with this issue? I mean, this is a border router project and I don't seen any direct connection to the openthread project, so I am clueless how to try out that branch.

[2020-07-29 11:04] bukepo commented on #529
Hi @d1ee openthread is located at `third_party/openthread/repo`. You may cherry-pick that PR into your local openthread source at that path.

[2020-07-29 13:08] d1ee commented on #529
@bukepo Thanks for your help.

It has an effect, but doesn't fix the problem. It prints only 10 devices, but I have more, and it also hangs.

[code]

I think the application stops when the output exceeds 1024 bytes. The first two examples was exactly 1024 bytes when I redirected the output to a file. The third one was 984 bytes, but it would have been exceeded 1024 bytes in the next line.

Maybe t

[2020-07-29 18:49] jwhui commented on #529
@d1ee , the CLI output buffer is specified using [OPENTHREAD_CONFIG_CLI_UART_TX_BUFFER_SIZE](https://github.com/openthread/openthread/blob/b49ee0879ac1c264d947f2dc8c3bbc276f58f868/src/cli/cli_config.h#L65). Can you try increasing that value?

[2020-07-29 20:16] d1ee commented on #529
@jwhui I tried, and it works after increasing the buffer size to 2048. Thanks :+1:

[code]

Thanks for your help @bukepo and @jwhui . I would like to contribute back, but I am not sure whether just increasing the buffer size should be enough.

[2020-07-29 20:33] jwhui commented on #529
@d1ee , great to hear it is working now.

We also welcome your contributions! You can look to adding `OPENTHREAD_CONFIG_CLI_UART_TX_BUFFER_SIZE` to [src/posix/platform/openthread-core-posix-config.h](https://github.com/openthread/openthread/blob/master/src/posix/platform/openthread-core-posix-config.h) with a larger value (maybe even up to 8192 bytes). I think that should be sufficient.

[2020-07-29 21:15] d1ee commented on #529
@jwhui Of course, I'll do it.

[2020-07-30 08:07] bukepo commented on #527
This needs rewrite the mapping address code in netif.cpp with the netlink API. I'll submit PR soon.

[2020-07-30 12:55] JaneFromSilabs commented on #527
Thank you all very much!

[2020-07-30 14:24] JaneFromSilabs opened #530 "Ot-ctl's ping doesn't seem to receive all the ping replies sent to it"
**Describe the bug** A clear and concise description of what the bug is.
While I am able to see the pings making it to the raspi, I don't see the response showing up in the ot-ctl interactive interface.  I am able to ping if I extend the path by using the soc's ping instead.  This is a little difficult to explain so bear with me.  It seems to me as though ot-ctl isn't showing it received a ping re

[2020-07-30 21:35] d1ee commented on #529
Fixed by https://github.com/openthread/openthread/pull/5312

[2020-07-30 21:35] #529 closed

[2020-08-04 07:45] sjlongland commented on #122
Just stumbled on this today digging through the build scripts for OTBR.  It would seem the dangerous change has been reverted.  `6.11.5-1+rpt7` no longer contains this change.

[2020-08-04 08:59] gjc13 commented on #530
This is the expected behavior. The kernel won't forward those packets to otbr-agent if it's sent to the interface's own address.

When the kernel receives an ICMP packet sent to `2001:22::a215:6044:acc9:2a02`, it finds this address belongs to itself. Then it would simply ask for user-space applications to handle it (for instance `ping`). Only when there is a need to further forward this packet wil

[2020-08-04 12:44] JaneFromSilabs commented on #530
Thank you for the response, @gjc13.

I see why this is problematic now.  From this low level analysis this is expected, but I think it might not be expected behavior from a user perspective.  However, since the goal of this application is not to provide ping services, I completely understand the choice not to address the issue.  I'll close this out.

[2020-08-04 12:44] #530 closed

[2020-08-04 20:45] jwhui commented on #122
@sjlongland , thanks for the update. Are you proposing any changes to this repo?

[2020-08-04 21:33] sjlongland commented on #122
I'll try to test and see if the problem can be reproduced, but my hunch is that we may be able to revert commit 9a3406c440c764a9cc19a7d97c4e8f08d56a0b2d.

[2020-08-12 18:36] JaneFromSilabs opened #538 "Attempts to bind a udp port to a multicast address results in the termination of the interactive CLI"
**Describe the bug** A clear and concise description of what the bug is.
Attempts to bind a udp port to a multicast address results in the termination of the interactive CLI.

**To Reproduce** Information to reproduce the behavior, including:
Attempt to bind a port using the udp cli command:

pi@rpi1:~ $
(but the rest of the cli is working fine)

If I open first, I get further, but its still not w

[2020-08-13 15:32] JaneFromSilabs opened #539 "coap documentation seems to be out of date"
**Describe the bug** A clear and concise description of what the bug is.
I'm trying to get coap/coaps wotking with the otbr.  Since the CLI commands weren't there like they are in ot-cli-ftd, I went looking for information.  I located this document:
https://openthread.io/guides/border-router/tools#coap-client

However, the link to configure.ac leads to a 404 error.  So, I went fishing for configur

[2020-08-13 16:00] JaneFromSilabs opened #540 "ff32…::1 and ff33…::1 are working, but not ff32…::2 and ff33…::2"
**Describe the bug** A clear and concise description of what the bug is.
ping to FF32:40:<mesh local prefix>::2 gets no response from OTBR, but ::1 responds

**To Reproduce** Information to reproduce the behavior, including:
From the soc (expecting the otbr to respond) -

fd00:df4:6000:0:0:ff:fe00:d800
2001:22:0:0:7fd6:4697:b366:73f
fdde:ad03:0:0:c282:7967:95a:7ab9
fdde:ad00:dead:beef:ceb9:c649:2c

[2020-08-13 18:14] jwhui commented on #540
I believe this is expected behavior.

The Thread Specification defines an All Thread Nodes multicast address that has group id 1. However, the Thread Specification does not define an All Thread Routers multicast address that has group id 2. To ready all routers, you can try using the realm-local all routers multicast address `ff03::2`.

Hope that helps.

[2020-08-13 18:47] JaneFromSilabs commented on #540
@jwhui Right you are.  We used to support this in our old thread stack but it isn't mandated.  Thanks!

[2020-08-13 18:47] #540 closed

[2020-08-19 14:36] romacdon commented on #474
What would be the fix here?  Would it be to have ot-ctl automatically reconnect to the otbr-agent after sending a "factoryreset" or "reset" command to the otbr-agent when running in interactive mode?

[2020-08-19 14:53] melonchucker opened #545 "Network Key vs Masterkey Naming"
**Describe the bug** A clear and concise description of what the bug is.

Extremely minor, but I think this would improve clarification in the Border Router.  The key name is "masterkey" in the CLI and API and the OpenThread Border Router refers to the same thing as a "Network Key".  These need to match to join the network and adds confusion since they are named differently.  I think the Border Ro

[2020-08-19 23:35] jwhui commented on #498
Closing stale issue.

[2020-08-19 23:35] #498 closed

[2020-08-19 23:35] jwhui commented on #486
Closing stale issue.

[2020-08-19 23:35] #486 closed

[2020-08-19 23:36] jwhui commented on #497
Closing stale issue.

[2020-08-19 23:36] #497 closed

[2020-08-20 03:15] bukepo commented on #538
I don't think `bind()` supports binding to a multicast address. You should firstly subscribe to the multicast address and then bind to the special any address. I think the following commands should work(`ff02::1` is already subscribed by default):
[code]

[2020-08-20 03:23] bukepo commented on #539
Thank you for pointing out this issue. This project doesn't use libcoap any more. I will update the document.

[2020-08-20 03:25] jwhui commented on #538
@bukepo , should we simply return an error here rather than terminating the interactive CLI?

[2020-08-20 04:29] tttttangTH commented on #545
Will fix it soon!

[2020-08-20 07:22] bukepo commented on #538
I tried, but unable to reproduce the crash of interactive CLI. @JaneFromSilabs could you share a full procedure to reproduce the issue?

[2020-08-21 05:48] simonlingoogle commented on #474
Automatically reconnecting sounds promising to me. I will submit a fix lately to address this issue.

Besides, `ot-ctl` exits automatically if `otbr-agent` has exited. From a larger perspective, do you think we should keep `ot-ctl` running despite the status of `otbr-agent` service is a good idea? @bukepo @gjc13 @jwhui

[2020-08-21 07:05] bukepo commented on #539
Removed the outdate document.

[2020-08-21 07:05] #539 closed

[2020-08-24 06:13] sjlongland opened #548 "Package could avoid a useless dependency if ot-ctl not linked against libncurses/libtinfo"
Saw this comment from Debian's build system whilst building OpenThread Border Router (as a `.deb` package):

[code]

Apparently the `ot-ctl` command links against these two libraries, but doesn't use any functions from it.  `-Wl,--as-needed` in `LDFLAGS` can sometimes help with this sort of problem on `binutils`-based platforms (a flag that [Gentoo implemented system-wide](https://wiki.gentoo.org/

[2020-08-26 06:31] #545 closed

[2020-08-28 21:09] romacdon commented on #474
My thought is that if otbr-agent exists then it doesn't really make sense to keep ot-ctl running however in the factoryreset and reset cases otbr-agent isn't really exiting.

[2020-08-29 13:26] simonlingoogle commented on #474
It's difficult for `ot-ctl` to determine why the session was closed. That's why I used a reconnecting timeout in https://github.com/openthread/openthread/pull/5466 and expects ot-daemon to recover before timeout expires if it's `factoryreset` or `reset`.

[2020-08-29 14:29] romacdon commented on #474
I agree and I like your solution.

[2020-09-01 16:11] INTENDRO opened #549 "Increasing the IPv6 MTU"
I'm currently imlementing CoAPs nodes with OpenThread on Zephyr. The server certificate is larger than the 1280-byte MTU, gets fragmented and only the second and significantly smaller fragment is received by the nodes.
I found [this issue](https://github.com/openthread/openthread/issues/3324) about messages larger than 1280. I setup some test application where I could test the MTU modifications us

[2020-09-04 09:19] INTENDRO commented on #549
After some trial and error I finally managed to get it to work. These are the necessary changes that I needed to apply in order for this to work as desired:

**OpenThread nodes (Zephyr)**
- `openthread/src/core/config/ip6.h:72`:
[code]

- `openthread/src/core/config/openthread-core-default-config.h:364`:
[code]

- `zephyr/driver/ieee802154/ieee802154_nrf5.c:566` **Zephyr specific**:
[code]

**RCP

[2020-09-14 09:45] L-Belluomini opened #559 "Ping response get dropped"
**Describe the bug** A clear and concise description of what the bug is.
Sending a ping request from the OT-BR, the message gets delivered, the replay is sent but the BR drop it.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id ea9cd69aa2eed3f320f6a80a4d0b966959c19ff0
2. IEEE 802.15.4 hardware platform
    efr32mg12 BRD4166A
3. Build steps
    flowed guide on (

[2020-09-14 22:28] jwhui commented on #559
@L-Belluomini , from the packet capture, it seems that the ICMPv6 Echo Reply messages do not have IEEE 802.15.4 Frame Security enabled.

Can you provide more detail on how you setup your ot-cli-ftd devices (e.g. git commit id, build commands, etc.)?

[2020-09-14 22:59] JaneFromSilabs opened #560 "Configuring network outside of the interactive mode causes `commissioner start` command to exit interactive mode"
**Describe the bug** A clear and concise description of what the bug is.
If I configure everything  for this thread mesh in the same interactive session, I have no problem.  However, if I configure mostly command line and then enter the interactive mode just to start the commissioner, I exit the interactive mode and I'm returned to the raspi unix prompt.

**To Reproduce** Information to reproduce

[2020-09-15 07:03] gjc13 commented on #560
The header file `include/openthread/ip6.h` says:

[code]

Which means we do not support IP prefix longer than `xxx::/64`. This in turn leads to ioctl error when trying to update the address on the interface.

Modifying `2001:1212::/96` to `2001:1212::/64` resolves the issue. I'll also update the cli interface to reject such prefixes.

[2020-09-15 12:25] JaneFromSilabs commented on #560
@gjc13 Thank you!

You may want to close this as a duplicate of:
https://github.com/openthread/openthread/issues/5527

[2020-09-15 13:28] L-Belluomini commented on #559
@jwhui , Hi thanks for the replay.

commit id of ot-cli-ftd for all devices is
    21b49e2e2b9be05b996ad83fa96e4100746269d0
build command is
    make -f examples/Makefile-efr32mg12 BOARD=BRD4166A COAP=1 JOINER=1 DHCP6_CLIENT=1
to create the network i use the following step
    using the cli interface i setup the thread network, folowing the EFR32MG12 Example.
    then I join the border router usin

[2020-09-15 13:32] JaneFromSilabs commented on #474
I have one question about this.  Right now, factoryreset and reset seem to be the only clean ways of exiting the interactive mode.  The 'exit' command seems to exit the otbr-agent all together.  Control-c seems to exit but this is not obvious to the user and it seems to mess up the terminal window (at least in putty).  I can end the entire telnet session, I suppose.  Is there a good way to exit th

[2020-09-15 14:36] JaneFromSilabs commented on #538
If there is anything I can do to help find this, please let me know.  This exiting behavior is still happening to me on the latest code, at least on these 2:
[code]
[code]
[code]
[code]

[2020-09-15 16:26] simonlingoogle commented on #474
Agree with you. I actually think we should not exit `ot-daemon` when we issue the `exit` command on `ot-ctl`, but only exit `ot-ctl`. Currently, the only thing `ot-ctl` does is passing the commands to `ot-daemon`. Maybe we need to enhance `ot-ctl` upon that.

[2020-09-15 17:03] romacdon commented on #474
Maybe `exit` in interactive mode exits `ot-ctl` but in non interactive mode sends it to `ot-daemon`?

[2020-09-16 03:52] #560 closed

[2020-09-16 19:05] JaneFromSilabs opened #561 "ot-br-posix as an on-mesh commissioner fails to accept client hello packets"
OOB connections are still working for me, as are DTLS connections soc-to-soc, however the case of soc to BR using DTLS psk is giving me problems.  I did have this working previously so this did work before.  Originally we had thought this was a thread 1.2/1.1 incompatibility issue but we found that 1.1 images also aren't connecting properly.

Here is my BR console for one of the various tests I ra

[2020-09-21 03:08] gjc13 commented on #561
The command line output showed that the joiner has been removed. This can caused by timeout or another joiner already joined. You need to launch the joiner before you see the line  `Commissioner: Joiner remove`.

[2020-09-21 12:43] JaneFromSilabs commented on #561
There are no other joiners and you can see I'm factory resetting prior.  This addition is happening very quick and should not be timing out.  This used to work previously (in automation) and is now failing (in automation as well as manually).  Did the timeout value change?

[2020-09-22 02:44] #474 closed

[2020-09-22 15:40] JaneFromSilabs commented on #561
Looking at this again today and it is clear to me that this is not a timeout issue.  Something here has changed and is no longer working as it should.

[2020-09-23 02:25] gjc13 commented on #561
I cannot reproduce this issue. Can you provide the cmake options you're using and the otbr log?

You can acquire the log by `cat /var/log/syslog | grep otbr`

[2020-09-23 15:31] jwhui commented on #559
@L-Belluomini , unfortunately, I was unable to reproduce this issue.

Can you point to the exact steps you used to setup your network?

@JaneFromeSilabs, have you experienced this issue before?

[2020-09-27 03:56] simonlingoogle opened #569 "dbus-client test failed frequently"
**Describe the bug**
dbus-client test failed frequently in Github Actions.

**Expected behavior**

dbus-client test passes.

**Console/log output**

[logs_1429.zip](https://github.com/openthread/ot-br-posix/files/5287708/logs_1429.zip)

[2020-09-27 20:40] krbvroc1 opened #570 "Docker install does not work"
Not really a docker expert, but running

[code]
fails with error messages about

[code]

Maybe certificates have been updated recently? My solution was to add 'ca-certificates' to the Dockerfile as follows and the build completed. Otherwise, none of the github repos  are downloaded and nothing builds.

[code]

[2020-09-28 02:54] gjc13 commented on #569
From the log it looks like the `sleep` command is not correctly run. Still investigating what caused this.

[2020-09-28 03:29] gjc13 commented on #570
Thanks for pointing out. PR submitted in https://github.com/openthread/ot-br-posix/pull/572 .

[2020-09-28 05:16] #570 closed

[2020-09-28 13:10] L-Belluomini commented on #559
Hi thanks for the support.
I have to find possible causes for this issue, but I don't have a lot of experience so it wasn't very fruitful.
I noticed that when the ot-br pings the cli device, as previously noted, the reply is not encrypted at the MAC level but when the cli makes the request it is encrypted. so even if I don't know exactly how, I don't think it is a problem with commisiong.
I have a

[2020-09-29 13:11] JaneFromSilabs commented on #559
@L-Belluomini @jwhui Is this the same issue?

https://github.com/openthread/ot-br-posix/issues/471

[2020-09-29 13:19] L-Belluomini commented on #559
Hi, I don't think so.
The ot-br log the message says the message gets dropped, and so i would not by a problem of the interface.
The problem seems caused by the fact that the icmp replay message at the mac level is not encrypted. while the request is.

[2020-09-29 13:46] jwhui commented on #559
@JaneFromSilabs , I do not think these issues are related. In this issue, the message is actually dropped by the MAC because the ICMPv6 Echo Reply is being sent with MAC security disabled. Unfortunately, I do not have a EFR32MG12 BRD4166A on hand to try this out.

[2020-09-29 13:51] JaneFromSilabs commented on #559
I'll try this with the EFR32MG12 I have (brd4161a) with me, but I might need a couple of days to procure this exact board.

[2020-09-29 14:53] JaneFromSilabs commented on #559
This was successful on my current set up with brd4161a.  I'll try this again once I have a pair of brd4166a at home.  I'll place an order which should get filled in a day or 2.

`PING fd00:df4:6000:0:b0cf:452e:cf7a:c842(fd00:df4:6000:0:b0cf:452e:cf7a:c842) from fd00:df4:6000::ff:fe00:fc00 wpan0: 56 data bytes
64 bytes from fd00:df4:6000:0:b0cf:452e:cf7a:c842: icmp_seq=1 ttl=64 time=101 ms
64 bytes

[2020-09-29 14:56] jwhui commented on #559
@JaneFromSilabs , thanks for testing and reporting back.

@L-Belluomini , can you list the exact steps you used to setup your devices to help use reproduce your issue?

[2020-09-29 19:59] #569 closed

[2020-09-30 14:12] JaneFromSilabs commented on #559
@L-Belluomini If you could, please provide a list of the CLI commands you are using, that would be most helpful.  It might make this easier to reproduce.

[2020-09-30 15:06] L-Belluomini commented on #559
thanks @jwhui and @JaneFromSilabs for the support,
I set up the CLI device like this:

dataset init new
dataset masterkey 00112233445566778899aabbccddeeff
dataset channel 15
dataset commit active
ifconfig up
thread start

then from the web interface of the ot-br I select the Join tab, I click on the join button relative to the CLI device.
the default masterkey is the same for the CLI device
I leav

[2020-09-30 16:04] vijayrao1988 commented on #413
If all you are looking for is a terminal command (this is possible on an Ubuntu machine on the Thread network through a RCP), you could try:
``ping -r -I wpan0 -t 16 -c 2 ff03::1``

This should gather 1 set of responses from all the devices on the network and then you can use that point of contact to gather a confirmation by communicating to some sort of server on them.
You will need to substitute

[2020-09-30 16:17] vijayrao1988 commented on #497
Sorry to ask another question on this closed issue. From what you suggest, the solution lies in modifying the firmware of the RCP and not anything with the otbr itself?

[2020-09-30 17:23] jwhui commented on #497
@vijayrao1988 , the `OPENTHREAD_CONFIG_CLI_UART_TX_BUFFER_SIZE ` config option applies to the OpenThread process that runs on the RPi and should not require any affect your RCP firmware.

[2020-09-30 17:49] jwhui opened #578 "[web-service] escape network name when forming network"
Not caused by this PR, but here we didn't escape whitespaces in the network name.

_Originally posted by @simonlingoogle in https://github.com/openthread/ot-br-posix/pull/577#discussion_r497268232_

[2020-10-05 20:12] JaneFromSilabs commented on #561
Sorry for the delay.  I updated to the latest available and now I can get this working manually, but for some reason (timing?) the automated case that used to work, now consistently fails.

These are the commands sent both in automation and manually (201 is the otbr, 221 is the soc):
[code]

Here are the syslog messages I get when this fails in automation:

[code]

[2020-10-06 15:21] JaneFromSilabs commented on #559
@L-Belluomini I just wanted to let you know that I did receive these boards and I was able to reproduce this behavior.  I'll get back to you with more details as soon as I have more information.

[2020-10-06 16:34] jwhui commented on #559
@JaneFromSilabs , thanks for digging into this!

[2020-10-09 05:02] librasungirl commented on #561
The log shows that the DTLS client hello packet is always dropped due to `error:ReassemblyTimeout` and finally the commissioner will remove the joiner after the default timeout (~120s).
[code]

We know that the large DTLS client hello packet is fragmented during transmission over 15.4 radio, and the default reassembly timeout between fragments is 2s.
[```#define OPENTHREAD_CONFIG_6LOWPAN_REASSEMBL

[2020-10-09 11:34] bukepo commented on #527
I couldn't add anycast address to an interface. `sudo strace ip addr add anycast fdde:ad00:beef::ff:fe00:fc11 dev wpan0` gives invalid argument error. I didn't find anycast examples on Linux. I need more time to investigate the support of anycast on Linux.

[2020-10-09 17:19] JaneFromSilabs commented on #561
Thank you for that information.  This is the same test bed in all of these test runs.  It is a test bed in my home, so I wouldn't think there would be a lot of interference.  Since this is working for me manually, I'm closing this.  If I find the cause of the automated test failure, I will reopen.  Thanks again, @gjc13 and @librasungirl

[2020-10-10 09:53] librasungirl commented on #561
@JaneFromSilabs
Fyi, there is one similar `error:ReassemblyTimeout` issue on nRF platform which could be resolved by improving the baudrate (see https://groups.google.com/g/openthread-users/c/t08i-B6Iqwo/m/ZCMQtc34DAAJ)

Not sure but I am thinking you may have a try to see if it helps.

[2020-10-12 10:16] Irving-cl commented on #549
Hi @INTENDRO, sorry for replying so late. Correct me if I'm wrong since I'm no expert for this part.

I think we can send a large message by using fragmentation. Current workaround seems to increase the max size of IP packets in order to send the entire UDP packet into one IP packet. Have you enabled the option `OPENTHREAD_CONFIG_IP6_FRAGMENTATION_ENABLE` in both of your build as referred in [PR#3

[2020-10-12 12:34] JaneFromSilabs commented on #561
@librasungirl Thanks, I'll look into it!

[2020-10-13 12:30] INTENDRO commented on #549
No problem. I was able to continue on my project as I was able to increase the MTU. So I wasn't completely stuck with this.

Just to give you some context why I wanted to increase the MTU instead of making use of the fragmentation:
The person that gave me my current project told me to first get it to run with an increased MTU because they didn't get it to run with fragmentation. At this point it i

[2020-10-14 02:15] Irving-cl commented on #549
@INTENDRO

Thanks for sharing the background. I think we can make the maximum Ip6 length configurable.

Besides, I'd like to know a little bit more about your test application. Is your test application something like a standalone udp server that listens on some address (maybe `INADDR_ANY`)? And the Ip6 packet would be forwarded to it through `otbr-agent`? Or it's integrated in `otbr-agent`?
* If i

[2020-10-14 03:58] jwhui commented on #549
Note that [RFC 4944](https://tools.ietf.org/html/rfc4944) specifies the IPv6 MTU as 1280 octets. Increasing `kMinimalMtu` can work if all devices within a given Thread network supports the larger `kMinimalMtu` value. However, if some devices do not support the larger MTU value, then your message may not be delivered.

[2020-10-14 04:51] Irving-cl commented on #549
@jwhui

I think the purpose of this issue is to have some workaround to support a larger Ip6 packet, of course within a network where all devices support the larger size. To do this, currently it needs making small changes in the code instead of by simply providing a different configuration when building. Shall we provide a way to do this? I think this could exist as something 'non-official'. In r

[2020-10-14 07:47] markus-becker-tridonic-com opened #587 "OTBR_REST=ON: compile error in hash table of status codes"
**Describe the bug**

When compiling ot-br-posix on an older OpenWrt toolchain and enabling `-DOTBR_REST=ON` I am getting the following compile error:

[code]

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: 7a53c4c186672fd0a6810e82636f310225bba6bf
2. IEEE 802.15.4 hardware platform: N/A
3. Build steps
4. Network topology: RCP

**Expected behavior** A clear an

[2020-10-14 08:56] nicho2 opened #588 "command networkdiagnostic is blocking when destination not in line"
When i send command:
sudo ot-ctl networkdiagnostic get fdbb:ddbd:7576:8ac9:0000:00ff:fe00:8400 0 1 5 6 16

and my product with ip fdbb:ddbd:7576:8ac9:0000:00ff:fe00:8400 is just power off, (so my product can't answer)

the command is blocked for infinite time.

is it the normal situation ?
is it possible to have a timeout?

I have only a br (with dongle nrf52840 as RCP)  and a sdk nrf52840

[2020-10-14 09:04] wgtdkp commented on #587
@tttttangTH Any ideas?

[2020-10-14 09:17] nicho2 opened #589 "source ipv6 to send a Coap command not correct from BR"
I send a get coap to a product and the destination address of answer is not with the ipv6 address of sender

I have a border router with this ipv6:
        inet6 fd11:22::bf58:afb5:d0ad:fece  prefixlen 64  scopeid 0x0<global>
        inet6 **fdbb:ddbd:7576:8ac9:3d9a:4e09:9924:d8ea**  prefixlen 64  scopeid 0x0<global>
        inet6 **fdbb:ddbd:7576:8ac9:0:ff:fe00:5800**  prefixlen 64  scopeid 0x0<g

[2020-10-14 14:14] jwhui commented on #587
This appears to be a gcc bug: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60970

I think the only fixes are:
1. Avoid use of `std::hash`.
2. Use a newer version of gcc.

[2020-10-14 14:16] markus-becker-tridonic-com commented on #587
I was fearing 2, since this is a vendored-OpenWrt toolchain.

[2020-10-14 14:23] tttttangTH commented on #587
Will fix it soon.

[2020-10-14 16:22] tttttangTH commented on #587
This issue has been fixed in second PR #537 for OTBR-REST, my solution is to specialize `std::hash` for `HttpStatusCode`.  I'm not sure whether it is a better practice compared to avoiding using `std::hash` for `HttpStatusCode`. @wgtdkp

I will now create a PR to fix this.

[2020-10-14 17:16] tttttangTH commented on #587
Yes, if we need to define another hash function for this, it does bring more complexity compared to just use `switch`.

[2020-10-14 18:29] jwhui commented on #589
@nicho2 , how are you generating the CoAP ACK/Response? The APIs allow passing a `otMessageInfo` struct that should specify both socket and peer addresses. In most cases, this should be the same `otMessageInfo` struct that was received as part of the request.

[2020-10-15 09:00] vijayrao1988 commented on #497
Next hop information seems to be incorrect, as does the LQ In and LQ Out. Is there a flag that can be checked for reliability of this output.

![Screenshot 2020-10-15 at 09 58 22](https://user-images.githubusercontent.com/4222604/96101075-f7e48d00-0ecc-11eb-8ddc-408042dd84f5.png)

[2020-10-15 09:16] wgtdkp commented on #588
Hi @nicho2 , Thanks for raising this issue! Indeed this is a bug and PR#https://github.com/openthread/openthread/pull/5653 is created to fix this.

[2020-10-15 09:20] vijayrao1988 commented on #497
This returns back with seemingly no effect.

<img width="579" alt="Screenshot 2020-10-15 at 10 20 14" src="https://user-images.githubusercontent.com/4222604/96103792-05e7dd00-0ed0-11eb-83a8-7e58cc969e06.png">

[2020-10-15 11:11] nicho2 commented on #589
For the coap client, I am using CoapThon library.
But indeed, on the product side when creating the response message, the local address is not filled with the address of the sender so the product decides on the source address itself.
Thanks

[2020-10-15 14:15] #587 closed

[2020-10-15 14:19] jwhui commented on #588
@nicho2 , can you help confirm whether https://github.com/openthread/openthread/pull/5653 addresses your issue?

[2020-10-15 15:43] jwhui commented on #497
If no output, then your submodule is already consistent with the git commit hash that it is pointing to. You can check the submodule status by using `git submodule status`.

Also remember to fetch updates from the upstream repo, where the updates may change the git commit of a given submodule.

[2020-10-15 15:47] jwhui commented on #497
It appears that your device is not able to establish neighbor links.
- A Next Hop of 63 indicates that there is no valid route to the given device.
- A LQ In and LQ Out of zero indicates that there is no direct link established to the given device.

Can you provide more information on your setup?
- Are you using physical devices or simulation?
- If physical, what hardware are you using?
- Can you

[2020-10-15 21:12] vijayrao1988 commented on #497
We are using physical devices. These are deployed in an area of 250m x 250m in an urban area. We are using a custom board built using the Silicon Labs MGM12P321024GA. This is very similar to BRD4304A. It might be worth mentioning that these devices run the Silicon Labs Thread implementation, while the output I am posting is from a OpenThread RCP attached to a Ubuntu 64-bit Border Router.

Addition

[2020-10-16 07:26] #589 closed

[2020-10-16 07:39] INTENDRO commented on #549
@Irving-cl More info about my project:

Distributed nodes (built with Zephyr using OpenThread) send CoAP packets to a californium server. The border router receives the packets from the nodes and forwards them to a separate server (within our companies network) which hosts the californium server. Everything is encrypted using DTLS (therefore I should say that we use CoAPs instead of CoAP) and the

[2020-10-16 14:24] JaneFromSilabs commented on #561
I need to reopen this and I have a bit more information.  This problem seems to be intermittent.  I can both pass and fail DTLS authentication manually as well as in my automated test.  Increasing the baud rate definitely helps but the problem can still be replicated with enough repetition.  Additionally, I went back to test against older builds from a few months back and the problem exists there

[2020-10-16 20:06] jwhui commented on #497
@vijayrao1988 It is odd that the route table shows no routes/links but you are able to communicate with devices.

Do you experience the same behavior when only a few devices are active? Are you able to provide a pcap file from a sniffer capture?

[2020-10-16 20:45] vijayrao1988 commented on #497
Yes, we experience the same issue with smaller networks where route table has no Next Hop information. The other odd thing is that ot-ctl networkdiagnostic is able to retrieve all network information.

We had Next Hop information earlier with the same version of ot-br-posix though.

Here are 2 pcap files captured during:

1. normal operation
2. router table query and some other router queries
[Pac

[2020-10-19 13:40] JaneFromSilabs commented on #561
Also, 2 other people here have reported the same problem.  I'm not sure where this problem lives but it is definitely not limited to my test bed.

[2020-10-20 07:08] librasungirl commented on #561
Hi Jane

May I know the baudrate you are using when the issue still exists with `enough repetition`?

Would you please check whether or not adjusting spinel frame buffer size for rcp could help?
e.x.,
`typedef Hdlc::MultiFrameBuffer<kMaxFrameSize> RxFrameBuffer;`
->
`typedef Hdlc::MultiFrameBuffer<4096> RxFrameBuffer;`

[2020-10-20 11:40] suveshpratapa commented on #561
Hi @librasungirl, I'm an engineer at SiLabs also looking into this issue along with @JaneFromSilabs .

We tried upping the baud rate to 460800 as follows in `/etc/default/otbr-agent`:
`OTBR_AGENT_OPTS="-I wpan0 spinel+hdlc+uart:///dev/ttyACM0?uart-baudrate=460800"`

We verified the baud rate by running the following command:
[code]

Additionally, I changed `kMaxSize` to `4096` in `third_party/open

[2020-10-21 01:46] librasungirl commented on #561
Hi @suveshpratapa

Yes, it looks like the unsecure port`:MJ` is not added.

Would you please help to share the full syslog since `factoryreset` is issued?

[2020-10-21 05:07] jwhui commented on #497
@vijayrao1988 , can you tell whether the devices in the router table are actually operating in the router role? Can you also provide the child table output? I'm wondering if the devices were routers at one point then dropped back to the child role.

[2020-10-21 09:41] suveshpratapa commented on #561
Attached a text file with the full log capturing behavior of successful DTLS, followed by failure after factoryreset. The log corresponds to the test procedure on OTBR console as follows.  We are basically repeating the test after factoryreset.

[code]

In the attached log, the factoryreset above is issued around the time:
[code]

For the successful case, when the joiner is added, we see:
[code]

[2020-10-22 05:41] librasungirl commented on #561
Hi @suveshpratapa
Thanks for the details. I can see the device catches the `NetData` change event, in theory the conditions for below `if` in [`JoinerRouter::Start()`](https://github.com/openthread/openthread/blob/ff76aac3db99c815045a549666137ee6a0723b2f/src/core/meshcop/joiner_router.cpp#L79-L88) should be satisfied already (otherwise there should be no further discover response or DTLS fragments

[2020-10-22 12:22] JaneFromSilabs commented on #561
@librasungirl Could you please tell use whether or not you can reproduce this?  I don't think this should be a device specific issue but it would definitely be good information to know.  Thank you!

[2020-10-22 13:43] markus-becker-tridonic-com commented on #587
Confirmed that it works. Thanks!

[2020-10-22 23:12] suveshpratapa commented on #561
Hi @librasungirl I have discovered the root cause of this issue.

After a successful DTLS join, i.e., after finishing Joiner Finalization, the commissioner removes the joiner / joiner UDP connection after a certain timeout.  However, if a factoryreset (or instance reset) is issued before this timeout, then, while closing the connection, the UDP socket has its socket handle cleared (because the DTL

[2020-10-23 02:56] librasungirl commented on #561
Hi @suveshpratapa
Agree with your findings! Thanks for your investigation and your proposal looks good to me.  👍

An equivalent patch is submitted to OpenThread Repo https://github.com/openthread/openthread/pull/5690. Please take a review.

[2020-10-23 11:33] suveshpratapa commented on #561
@librasungirl @jwhui

Thank you for the prompt update and PR!

- The bug fix requires an ot-br-posix submodule pointer update for openthread as well.  I notice the pointer has not been updated for some time.  We can have our tests use the latest stack with this fix for now.

- Additionally, to resolve the timeout portion of this bug, we also had to increase the uart baud rate to 460800 and kMaxSiz

[2020-10-23 18:07] #491 closed

[2020-10-26 04:06] #561 closed

[2020-10-26 04:07] jwhui commented on #561
@JaneFromSilabs @suveshpratapa , thanks for raising this issue and working towards a fix!

[2020-10-26 14:51] suveshpratapa commented on #561
@jwhui Can you please update the ot-br-posix pointer again?  It looks like it was updated to openthread/master, but the fix on the stack seems to have gone in after this pointer update.

[2020-10-26 15:13] jwhui commented on #561
@suveshpratapa , see #596.

[2020-10-29 18:35] #578 closed

[2020-11-02 17:28] JaneFromSilabs commented on #559
Hi @L-Belluomini,

After changing a few things, this is now working correctly.  Most of the changes are documented in this issue: https://github.com/openthread/ot-br-posix/issues/561.  These changes boil down to:

1. Changing the baud rate to 460800 in /etc/default/otbr-agent as follows:
`OTBR_AGENT_OPTS="-I wpan0 spinel+hdlc+uart:///dev/ttyACM0?uart-baudrate=460800"`
(which can be verified using

[2020-11-04 17:44] L-Belluomini commented on #559
Hi @JaneFromSilabs  thank a lot I relay appreciate your help.
I will do so testing with this changes, and lat you know the result.
thanks again

[2020-11-04 21:23] dougleaf commented on #559
We had a similar issue in our setup, though in ours we would only see large packets being dropped. It seems the RCP baud rate is the final culprit, but you may also find it helpful to change the RCP communication buffers. See patch below. It worked for us.

[code]

[2020-11-11 14:50] rodrigobrochado opened #609 "Persist ccathreshold after daemon restart"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
Sometimes when the ot-br container restart, I need to manually restart the dbus and otbr-agente services. In doing so, the ccathreshold comes back to the default (-74).

**Describe the solution you'd like** A clear and concise description of what you want to happen.
The ccathr

[2020-11-11 22:36] bukepo commented on #609
Does a startup option work for you? We just added an option to set fem-lnagain, we can do the similar for cca threshold. See https://github.com/openthread/openthread/pull/5788

[2020-11-12 03:29] bukepo commented on #549
@INTENDRO did you make any progress of this issue?

[2020-11-12 09:17] IHIDCHAOS opened #610 "Topology cannot show childdata"
**Describe the bug**

We have a border router and three devices (2X FTD and 1X MTD). After we connect the three devices to OTBR, we find that the Thread topology diagram can only show the topological relationship between Leader (OTBR) and Router (FTD), which doesn't display any Child (MTD) information.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id : ea8fe65f

[2020-11-12 13:54] rodrigobrochado commented on #609
Do you mean adding an argument like the typical  "--radio-url" that is passed to docker? That would be helpful!

[2020-11-14 21:06] romacdon commented on #527
Hi @bukepo, just curious, any progress on this issue?

[2020-11-14 22:46] bukepo commented on #527
Sorry to update. This issue was fixed. Could you try it out?

[2020-11-17 07:25] nicho2 opened #611 "router table cli command with not complete answer"
i do this command:

sudo ot-ctl router table

and the response is not complete:
| ID | RLOC16 | Next Hop | Path Cost | LQ In | LQ Out | Age | Extended MAC     |
+----+--------+----------+-----------+-------+--------+-----+------------------+
|  3 | 0x0c00 |       63 |         0 |     0 |      0 | 125 | 0000000000000000 |
| 17 | 0x4400 |       63 |         0 |     0 |      0 | 125 | 000000000000000

[2020-11-17 09:19] IHIDCHAOS opened #612 "OpenWrt OTBR ping no response"
**Describe the bug** A clear and concise description of what the bug is.

I use openwrt 19.07 as my otbr. I use Tayga with the following configuration to do NAT64.

/etc/config/network
[code]
 /etc/config/firewall
[code]
and then I run command to apply that.
[code]
then ping the google dns ip.
[code]
it seems ok.
but when i use **ot-ctl** ping this ip,i can not see the output,and no packet found a

[2020-11-17 12:21] IHIDCHAOS commented on #612
packet on **wpan0** shows no response:
![image](https://user-images.githubusercontent.com/20263334/99389520-158f8280-28cf-11eb-9df9-c6db09da3d15.png)
no packet on **tayga-nat64**:
![image](https://user-images.githubusercontent.com/20263334/99389708-5a1b1e00-28cf-11eb-90ca-f46ba4ff1208.png)

[2020-11-17 20:24] wade-p opened #613 "ARM docker images do not contain otbr binaries"
Docker images for armv7 do not contain the otbr binaries otbr-web or otbr-agent

From amd64:
[code]

From a RPi 4:

[code]

**To Reproduce** Information to reproduce the behavior, including:

1. ssh into a raspberry pi (or substitute arm device)
1. docker pull openthread/otbr
1. docker run --entrypoint find openthread/otbr / -name otbr-web

**Expected behavior** A clear and concise description of

[2020-11-18 01:19] jwhui commented on #611
@nicho2 , thanks for raising this issue. Can you provide more information on your setup?

1. Git commit id
2. IEEE 802.15.4 hardware platform
3. Build steps

[2020-11-18 05:20] wade-p commented on #613
It seems that the cmake compile is failing, in particular:

[code]

I checked out f10bdbd466becacdaf47f0437764b8dcecdd8349 which is just before the switch to ubuntu 20.04 in a85fd12b16faa28ac69ebc91381d24b8925f6b59. The docker file built successfully:

[code]

This is using Boost 1.65

git checkout a85fd12b16faa28ac69ebc91381d24b8925f6b59... Build.....

[code]

[2020-11-18 05:26] jwhui commented on #613
@wade-p , thanks for raising this issue and working to track it down.

@gjc13 , any thoughts on #595 relative to the issue above?

[2020-11-19 14:17] romacdon commented on #527
@JaneFromSilabs is going to try this out an let you know @bukepo

[2020-11-19 15:14] rodrigobrochado opened #616 "otbr-agent not present in latest armv7 docker image"
**Describe the bug** A clear and concise description of what the bug is.

The latest openthread/otbr image for armv7 doesn't have otbr-agent service installed.
It's a bug, right? Or the latest ot-br-posix is not stable-likely?

**To Reproduce** Information to reproduce the behavior, including:
[code]
1. Git commit id  39ccbb43
2. IEEE 802.15.4 hardware platform
3. Build steps
4. Network topology

[2020-11-19 15:17] jwhui commented on #616
@rodrigobrochado , thank you for raising this issue. This is a duplicate of #613.

We have submitted #614 to address this issue and is under review.

[2020-11-19 15:20] rodrigobrochado commented on #616
OMG. I have't refreshed the issues page, sorry.

[2020-11-19 15:20] #616 closed

[2020-11-19 16:07] #613 closed

[2020-11-19 17:05] jwhui commented on #613
@wade-p , #614 has been merged and new docker images pushed. Thanks again for raising this issue.

[2020-11-19 17:05] jwhui commented on #616
@rodrigobrochado , #614 has been merged and new docker images pushed. Thanks again for raising this issue.

[2020-11-19 17:10] rodrigobrochado commented on #616
Thanks!!!

[2020-11-20 13:04] bukepo commented on #612
@IHIDCHAOS have you enabled IPv6 forwarding on wpan0 interface? I think you can verify this by the following command:

[code]

If it outputs 1, then the forwarding is on, if not, could you try enable it by echo `1` to that file?

[2020-11-20 13:56] bukepo commented on #610
just submitted fix to the mismatch issue. Need more time for child table issue. @wgtdkp not sure if you have any idea about this issue.

[2020-11-20 14:32] IHIDCHAOS commented on #612
I will check it on weekdays, thx!

[2020-11-20 15:56] jwhui opened #620 "[travis] macOS check is failing on master"
**Describe the bug**

macOS check is failing on master

**Console/log output** If applicable, add console/log output to help explain your problem.

- https://travis-ci.org/github/openthread/ot-br-posix/builds/744262800
- https://travis-ci.org/github/openthread/ot-br-posix/builds/744693699
- https://travis-ci.org/github/openthread/ot-br-posix/builds/744825402

[2020-11-21 00:01] #609 closed

[2020-11-22 02:15] #620 closed

[2020-11-22 15:01] bukepo commented on #610
This issue was introduced by openthread/openthread#5660. @simonlingoogle why is disabling multicast loop necessary for backbone router?

[2020-11-23 01:58] simonlingoogle commented on #610
We turned `IPV6_MULTICAST_LOOP` off so that a node does not need to receive and handle backbone link-local multicast messages it has sent. For example, a node does not receive and handle Backbone Query it sent for DAD process.

Another consideration is that a node does not send multicast messages to the itself on the Thread stack. So, I intended to keep the behavior consistent on the Backbone link

[2020-11-23 02:05] IHIDCHAOS commented on #612
Hi,I created a network using Luci.
![image](https://user-images.githubusercontent.com/20263334/99923967-32b2ce00-2d73-11eb-82da-9b0edb2d5d72.png)
And test result:
![image](https://user-images.githubusercontent.com/20263334/99923962-2b8bc000-2d73-11eb-8521-27a5a36a0baa.png)
Forwarding is turned on automatically.

[2020-11-23 05:28] IHIDCHAOS commented on #612
Hi bukepo,

I upload this Raspberry Pi 3B openwrt firmware at [google drive](https://drive.google.com/drive/folders/1l_YCz5UbiafaOsCTmsWYh_gV-Ou1lra1?usp=sharing).

Could you please help me locate the reason of this "no response" problem?

Thanks in advance!

Best,
Guo

[2020-11-23 16:12] L-Belluomini commented on #559
Hi @JaneFromSilabs,
unfortunately even after the upgrade you suggested the bug persist.
For ease of view I post the screenshot from the sniffer, from this you can se the ICMP reply is not secure, while the request is.
The bug is present when the reply is sent by the CLI device. (other type of message, eg coap and udp, do not have this kind of anomaly and all messages are secure)

thanks for your h

[2020-11-23 16:37] dougleaf commented on #559
Hi @JaneFromSilabs @L-Belluomini I am seeing a similar issue of ping packets being dropped on standard FTD devices. I wonder whether this happens on other RCP vendors? I want to rule out this is a PAL issue

Moreover, we don't face the same issue with our essentials bulbs, which is odd. We don't diverge too much from the FTD on the OpenThread layer

[2020-11-24 17:33] dougleaf commented on #559
I just tested with Nordic RCP and it shows the same problem

[2020-11-24 17:37] jwhui commented on #559
@dougleaf , thanks for looking into this issue. Are you seeing the same problem as above, where the ICMPv6 Echo Reply is being sent with MAC frame security disabled? Can you provide more detail on your setup so I can reproduce?

[2020-11-24 18:31] dougleaf commented on #559
thanks @jwhui

I have ot-daemon running at 460800bps at head on a RPi. RCP is also built at head on Silabs EFR32MG21 (also tried Nordic). I commission a sample FTD device running on EFR32MG21 built from OpenThread repo w/o modifications. It joins the network and `DEVICE->BR` pinging works. `BR->DEVICE` pinging does not work

[code]

And in the opposite direction
[code]

[2020-11-24 18:36] dougleaf commented on #559
I tried to pinpoint the function that was failing on host. I got to the line
[code]
on `ip6_filter.cpp`. However, even commenting that line, it would fail on something else later. That led me to believe this isn’t a problem with the packet decoding logic, but rather we still have corruption of data between RCP and Host. I also noticed that successful pings starting from the device would have the s

[2020-11-24 18:41] dougleaf commented on #559
**RCP SIDE**

[code]

[code]

I could not enable it to show the data in/out on this side, is that possible to log it through JLink RTT?

[2020-11-24 18:59] dougleaf commented on #559
In the screenshots below, I sniffed ICMP packets and it shows that 802.15.4 security is in fact dropped on the ICMP Reply only on the case BR->DEVICE. It doesn't happen in DEVICE->BR

_Request_
![Screen Shot 2020-11-24 at 1 50 06 PM](https://user-images.githubusercontent.com/59100387/100138777-85b48000-2e5c-11eb-8b25-106f11fd6ad2.png)

_Reply_
![Screen Shot 2020-11-24 at 1 50 18 PM](https://user-i

[2020-11-24 19:19] jwhui commented on #559
I also noticed that successful pings starting from the device would have the same first two bytes 69 98 on the ip header

@dougleaf , the first two bytes form the IEEE 802.15.4 MAC Header FCF field - they differ in the FCF Security Enabled bit.

[2020-11-24 19:28] jwhui commented on #559
@dougleaf , your findings seems to indicate that this is an issue on the FTD device - it is the response from the FTD device that has the MAC header Security Enabled field set to zero. Are you able to test with the Nordic device configured as the FTD?

[2020-11-24 19:31] dougleaf commented on #559
Ah, ok. I wasn't sure whether those printed bytes were the IP header or IEE802.15.4. Coincidence one was parsable...

Yes. I'll try with the Nordic FTD

[2020-11-25 15:57] dougleaf commented on #559
Nordic FTD works fine. Security is not dropped

@JaneFromSilabs @rerasool maybe this is a regression on GSDK 3.0?

[code]

[2020-11-25 19:08] jwhui opened #627 "[script] script/setup fails on fresh install"
**Describe the bug**

`./script/setup` fails on a fresh Raspberry Pi OS 2020-08-20 image.

**To Reproduce**

[code]

**Console/log output**

Fails with:
[code]

[full_log.txt](https://github.com/openthread/ot-br-posix/files/5598777/log.txt)

**Additional context**

It seems to work with reboot after `./script/bootstrap` but before `./script/setup`

[2020-11-30 02:19] simonlingoogle opened #631 "reset command not work if DBUS server is not enabled"
**Describe the bug**
OT CLI `reset` command not effective if `OTBR_ENABLE_DBUS_SERVER` is not enabled.

[code]

`reset` is not effective and output `Done`.

**To Reproduce** Information to reproduce the behavior, including:
1. Build otbr-agent without OTBR_ENABLE_DBUS_SERVER
2. Input reset command in `ot-ctl`

**Expected behavior**

`otbr-agent` should reset the Thread stack (preferably restart th

[2020-11-30 15:38] #627 closed

[2020-12-01 05:59] IHIDCHAOS commented on #631
Hi Simon,

I noticed that this problem also occurred in the OpenWrt platform with [UBUS](https://openwrt.org/docs/techref/ubus).

[code]

Because the OpenWrt uses ubus instead of dbus, so we should also check "#if OTBR_ENABLE_OPENWRT".

https://github.com/openthread/ot-br-posix/blob/32e0914508f43e4991fee71efc46db69b5e2211c/src/agent/main.cpp#L62

Thanks.

Best,
Guo

[2020-12-01 06:15] simonlingoogle commented on #631
@IHIDCHAOS
Thanks for the info. I think we need to support reset no matter `otbr-agent` is using `ubus`  or `dbus` or none.

Per my understanding, otbr-agent tries to avoid **real** reset (via `execvp(argv[0], argv);`), which I believe is unsafe.
Should we always reset the program by `execvp` ? @bukepo @jwhui

[2020-12-01 09:24] eujean commented on #559
I can confirm I see a similar thing with the TI CC1352 Platform.

Ping from DEVICE -> BR works fine, but ping from BR -> DEVICE fails with dropped frame.

Pretty sure this used to work fine at some point in the past though.

[2020-12-01 14:38] JaneFromSilabs commented on #559
Hi @L-Belluomini and @dougleaf,

We have the issue reproduced internally and are close to understanding the source of the problem.  When I have more information, I'll update.

Cheers,
Jane

[2020-12-01 17:35] lmnotran commented on #559
Hi everyone,

I think I've found the problem. https://github.com/openthread/openthread/pull/4977 changed `Ip6::NewMessage()` to make the Message::Settings argument optional [link to specific line](https://github.com/openthread/openthread/pull/4977/files#diff-9d4280793d259dd1e27f19a724af7c0bee36824be2bd72e697595ec938065464R125). The default value for this arg is `Message::Settings::kDefault`.

At f

[2020-12-01 22:23] abtink commented on #559
Thanks @lmnotran  for investigating this.

Seems like somehow the constructor is not being called to init the `kDefault` static member variable (and it is just zero initialized). It is interesting when it is scoped in a method in your fix, it seems to work fine.

Can you please share which toolchain you are using? Thanks.

I cannot explain this, but if there happens to be a limitation on some tool

[2020-12-02 01:41] IHIDCHAOS opened #636 "The tayga service does not start automatically"
**Describe the bug** A clear and concise description of what the bug is.
The tayga service does not start automatically, so NAT64 is not available by default.
**To Reproduce** Information to reproduce the behavior, including:
follow [OpenThread Border Router Build and Configuration](https://openthread.io/guides/border-router/build?hl=en)
1. Git commit id 089271cbf530239072fa426af9896efd21019b73
2.

[2020-12-02 02:54] IHIDCHAOS opened #637 "BorderRouter-AP unable to connect"
**Describe the bug** A clear and concise description of what the bug is.
pc cannot connect to RPI3 BorderRouter-AP with default password 12345678
**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id https://github.com/openthread/ot-br-posix/commit/089271cbf530239072fa426af9896efd21019b73
2. IEEE 802.15.4 hardware platform nRF52840
3. Build steps
4. Network topology

[2020-12-02 06:15] jwhui commented on #559
@lmnotran , thanks for looking into this issue!

Does your platform perform C++ runtime initialization before calling `main()`? For example:
https://github.com/openthread/openthread/blob/8630547d106daeaff64c6c960ff316036222e4db/examples/platforms/cc2538/startup-gcc.c#L201-L210

[2020-12-02 15:04] dougleaf commented on #559
@Jonathan Hui<mailto:jonhui@google.com> I believe in case of SiLabs this is handled inside newlib init. @lmnotran I’m also interested on the specifics of C++ runtime init on SiLabs platform

From: Jonathan Hui <notifications@github.com>
Reply-To: openthread/ot-br-posix <reply@reply.github.com>
Date: Wednesday, December 2, 2020 at 1:16 AM
To: openthread/ot-br-posix <ot-br-posix@noreply.github.com>

[2020-12-02 16:09] lmnotran commented on #559
@jwhui We don't do any C++ runtime init in our startup code. I can't link to it because it's not in git, but for the `efr32mg12` platform, you can find the startup file at `third_party/silabs/gecko_sdk_suite/v3.0/platform/Device/SiliconLabs/EFR32MG12P/Source/GCC/startup_efr32mg12p.c`

We believe the issue is that the our Makefile is setup to not link the standard initialization code for the C++ ru

[2020-12-02 16:12] lmnotran commented on #559
CC: @srickardti

[2020-12-02 16:50] jwhui commented on #631
I think it is desirable to use `execvp`.

[2020-12-02 18:51] lmnotran commented on #559
@srickardti Here's a patch with the same changes applied for TI's ccXXXX platform. Note that the changes are untested as we don't have any TI hardware to test with.

[ti-ccXXXX-remove-nostartfiles.diff.zip](https://github.com/openthread/ot-br-posix/files/5631428/ti-ccXXXX-remove-nostartfiles.diff.zip)

[2020-12-02 19:39] srickardti commented on #559
@lmnotran Thanks for the patch, but this issue looks a bit more complicated than just removing those flags. The startfiles being included isn't real useful if the code is not called.

In the past we've gotten around these issues by forbidding globally initialized C++ objects. IMO, that's a good way to do it, but it does produce more cluttered code.

We have two options to initialize the global C++

[2020-12-02 23:04] srickardti commented on #559
I was able to get the object initialized by copying the constructor loop from the CC2538 startup code. I'll ping one of our compiler people to see if there is a better way with a built-in c library.

[2020-12-03 02:38] simonlingoogle opened #641 "OTBR sends Multicast Listener Report Message V2 to the Thread network"
**Describe the bug**

OTBR sends `Multicast Listener Report Message V2` multicast to the Thread network when it attaches, bringing significant and unnecessary network traffic.

**To Reproduce**

It happens when a OTBR device joins a Thread network.

**Expected behavior**

OTBR should not send this message to the Thread network

**Console/log output**

Packet frame:

[code]

Some other packets to `

[2020-12-03 02:46] simonlingoogle commented on #641
I think we can fix it by one these solutions:

1. Parse the IP6 header in `processTransmit` of `posix/platform/netif.cpp` and skip such messages
2. Ip6::SendRaw drop multicast packets with link local scope (very simple to implement, but not sure if it's proper)
3. Use ip6tables rules to drop such packets in the wpan0 interface.

Thoughts? @librasungirl @bukepo @jwhui

[2020-12-03 05:30] msandstedt opened #642 "otbr-agent erroneously reports RadioSpinelIncompatible"
Confirmed both RCP and otbr are using spinel version 4.3, but otbr-agent erroneously reports a mismatch:

[code]

This appears to be a regression with at this recent commit:

[code]

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: 9ef7480b90e135137a38eb9ca2f0d3ad8ff24e8f
2. RCP hardware: nrf52840
3. otbr build: ./script/bootstrap; ./script/setup

[2020-12-03 06:29] jwhui commented on #642
@msandstedt , the error indicates that your nRF52840 is not running RCP firmware.

Can you provide details on how you built and setup your nRF52840 RCP?

[2020-12-03 07:55] ihidchaos opened #643 "OTBR add "On-Mesh Prefix" on OpenWRT Luci"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
The Form function of the native OT Border Router WEB GUI can directly set the default ON-Mesh Prefix, while OpenWrt's Luci Form does not have this option.
This results in devices connected to the OpenWrt Thread network being unable to get the Mesh Local IP from the OTBR.
![ima

[2020-12-03 08:54] bukepo commented on #641
Yes, I prefer filtering unsupported packets inside OpenThread's IPv6 stack(src/core/ip6.cpp), which helps all platforms.

[2020-12-03 11:45] vijayrao1988 commented on #611
The fix for this is to update the source-code. In the file `/ot-br-posix/third_party/openthread/repo/src/cli/cli_config.h`, change the size of the serial buffer, by modifying this line `#define OPENTHREAD_CONFIG_CLI_UART_TX_BUFFER_SIZE 1024`, from a buffer of 1024 to a buffer of an appropriate size for your router table.

For example for a buffer size of 10240, which should support about 100 nodes

[2020-12-03 15:19] msandstedt commented on #642
This is how I'm building firmware for the nRF52840:

[code]

All revs of ot-br-posix at and after 9ef7480 exhibited the problem.  All revs I've tried at and before 9ef7480^ did not show the problem.  That is, the RCP flashed with openthread at the above works for me with ot-br-posix 9ef7480^ and before, and does not work with ot-br-posix 9ef7480 and after.

[2020-12-03 16:16] jwhui commented on #642
@msandstedt , it appears you are flashing the NCP image. You should be using the RCP image (`output/nrf52840/bin/ot-rcp`). We recently fixed a bug that did not properly check for the RCP image in https://github.com/openthread/openthread/pull/5822. Now that the bug is fixed, you are now properly seeing this error.

[2020-12-03 16:52] msandstedt commented on #642
Ah, I see.  Thank you!

[2020-12-03 17:34] jwhui commented on #559
Resolved by:
- https://github.com/openthread/openthread/pull/5905
- https://github.com/openthread/openthread/pull/5907

Thanks @lmnotran @srickardti @dougleaf @JaneFromSilabs @L-Belluomini @eujean !

[2020-12-03 17:34] #559 closed

[2020-12-05 02:56] bukepo commented on #643
@IHIDCHAOS In fact, Thread can have multiple prefixes. Instead of adding setonmeshprefix, I think it better to add UI support full functionality of https://github.com/openthread/openthread/tree/master/src/cli#prefix. That is, OpenWRT should be able to manage multiple prefixes with different flags. Thoughts?

[2020-12-05 02:59] bukepo commented on #637
@IHIDCHAOS Could you provide logs on RPI3? Also could you make sure the RPI's Wi-Fi is set to China's regulatory domain?

[2020-12-05 03:02] bukepo commented on #636
It seems this is an intended behavior. `nat64_start` is only called in `script/server`.

[2020-12-05 03:10] bukepo commented on #612
@IHIDCHAOS After another look at this issue, I think this is an expected behavior. The echo-request seen in wireshark is actually a packet comes into openwrt from OpenThread's IP stack. I guess the packet is correctly forward to the nat64 interface and the echo-response may also reached its destination, the IP stack of OpenWRT's linux kernel. The response is not delivered to OpenThread's IP stack

[2020-12-05 03:11] bukepo commented on #610
@IHIDCHAOS could you try whether the issue still exists in the latest OpenThread?

[2020-12-05 03:14] bukepo commented on #527
any update?

[2020-12-05 04:49] IHIDCHAOS commented on #610
Hi, bukepo, the latest version shows nothing.
[code]
The OTBR WEB GUI Topology(not luci web) can show childdata, but no routerdata.
I will pull more logs here later.

[2020-12-05 04:53] IHIDCHAOS commented on #612
@bukepo Thanks! It seems true. When I use zephyr client with openthread, I can ping with `net ping 64:ff9b::8.8.8.8` and get network response, while `ot ping 64:ff9b::8.8.8.8` just shows `Done`.
So

is Right.

[2020-12-07 01:57] #636 closed

[2020-12-07 02:19] IHIDCHAOS commented on #610
Hi @bukepo,
Here are the details.
**MTD and FTD in thread network:**
![image](https://user-images.githubusercontent.com/20263334/101301853-0455e800-3875-11eb-9cf9-bc3f57f7df60.png)
**Ubus shows nothing:**
![image](https://user-images.githubusercontent.com/20263334/101301876-10da4080-3875-11eb-9770-8a7ccfcac50c.png)
**OTBR WEB GUI Topology:**
just childdata
![image](https://user-images.githubuserco

[2020-12-07 06:05] IHIDCHAOS commented on #637
Hi @bukepo
I clean build the otbr with fresh install 2020-08-20-raspios-buster-armhf-lite.img.
[code]
and then [set up AP manually](https://openthread.io/guides/border-router/access-point?hl=en), without changing the Wi-Fi region, it works.
So I guess the NETWORK_MANAGER script has something not work properly.

To automatically set up the Wi-Fi AP using Network Manager:
[setup.log](https://github.

[2020-12-07 09:31] ethanlyc commented on #643
Hi @bukepo,

Thanks for your reply.

I noticed that in your link there are some Prefix flag features only work on Thread 1.2. But right now on the official OTBR Web GUI there is only one box for setonmeshprefix. I wonder is this a preparation for the new Thread version? If so, may be it would be better to start with Raspberry Pi? If not, then add setonmeshprefix input box on OpenWrt platform is gr

[2020-12-07 09:51] #612 closed

[2020-12-07 11:36] MarcelloDavis opened #644 "Setting up a RCP Borderrouter via ot-ctl: No such file or directory"
**Describe the bug** As I am quite new to openthread and setting up thread-mesh-networks, I thought you might help me on an issue I just ran into. I tried to set up a Openthread Borderrouter via Raspberry Pi3B and a nrf52840 USB Dongle as RCP. I essentially followed this tutorial https://github.com/openthread/openthread/issues/5311 and came to the point where the three services

- `avahi-daemon.se

[2020-12-07 14:35] JaneFromSilabs commented on #527
@bukepo Yep, this works fine now.  Thank you!

[2020-12-07 14:35] #527 closed

[2020-12-07 14:42] JaneFromSilabs commented on #538
This doesn't seem to be a problem anymore.  I can no longer reproduce this on recent code.

[2020-12-07 14:43] #538 closed

[2020-12-08 00:42] jwhui commented on #643
I agree that Raspberry Pi should also allow configuration of multiple on-mesh prefixes.

[2020-12-09 21:41] vijayrao1988 opened #647 "RCP / ot-ctl crashes frequently and ot-ctl returns "OpenThread daemon not working""
**Description of the bug**
Background - On an ubuntu-20.04 based Border Router, we have a Silabs MGM12P32 based RCP. The setup works fine on booting up, connects well as the wpan0 interface with the Thread network and we are able to get stable operation for days together.
Bug - Occasionally, the OpenThread daemon stops running resulting in the wpan0 interface dropping off. All commands to ot-ctl t

[2020-12-09 23:31] jwhui commented on #644
@MarcelloDavis , the "connect session failed: No such file or directory" error indicates that otbr-agent process is not actually running. You can validate whether the otbr-agent process is running by doing something like this:
[code]

The most common reason why otbr-agent is not running is because the RCP is not configured with the correct firmware image.

You can find otbr-agent logs in `/var/log

[2020-12-09 23:35] jwhui commented on #647
The logs are sent to syslog (i.e. `/var/log/messages`). Can you provide those logs?

Are you using the same firmware image for the RCP? In other words, is the only change the commit of ot-br-posix you are using? Can you provide which commit of ot-br-posix provides better stability?

[2020-12-10 22:18] vijayrao1988 opened #648 "Can OTBR Web Agent Port Number be Modifiable?"
**Is your feature request related to a problem? Please describe.**
I have some other web services running on a ubuntu based gateway (border router). The 2nd web service seems to take precedence over the OTBR Web Agent, but any links from the home page seem to get redirected to unavailable resources - which is a clear indication of a conflict.

**Describe the solution you'd like**
I would like to m

[2020-12-11 00:41] bukepo commented on #648
You may try starting `otbr-web -p PORT`.

[2020-12-15 20:37] melonchucker opened #652 "Example Docker-Compose Network Routing With OTBR"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is.
I had a difficult time getting a docker-compose network up and running without using `network_mode: host`.  I and many others use docker-compose as an easy way of sharing "portable" networks with others and for prototyping.  Having a section in the OTBR documentation showing h

[2020-12-16 09:02] bukepo opened #653 "code coverage drop"
**Describe the bug** A clear and concise description of what the bug is.
code coverage dropped from ~76% to ~26% after #640.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: https://github.com/openthread/ot-br-posix/commit/1afaf59d8e120b9db7933b3f9e3845e5949644d3

[2020-12-18 08:07] tarunsmalviya opened #655 "Unable to receive packet when NCP state is end-device."
Continuation of #251 issue.

I am using RaspberryPi 3B as border router. Around 88 nodes are there in the OpenThread network spread across 42000 sq ft. I have noticed that when NCP enters into `end-device` state, no packet reaches at `wpan0` interface of border router. The NCP stays in `end-state` for more than 30 minutes.

I have reported this issue earlier whose link is mentioned above. Because

[2020-12-18 19:22] jwhui commented on #655
@tarunsmalviya , thanks for raising this issue.

It appears you are using a commit that's just over a year old: https://github.com/openthread/openthread/commit/8a1992e2

Is it possible for you to test with a newer version of OpenThread on the NCP? For example, I'm thinking (https://github.com/openthread/openthread/pull/4783) may help address this situation.

[2020-12-24 09:13] ihidchaos opened #660 "Question on how to build openthread library to use its API on OTBR"
I have an ARM OpenWrt-based OTBR that uses RCP, and I want to operate the Thread network by writing a program that calls the corresponding API, such as setting panid, channel, and so on.
After building ot-br-posix, I get the following libraries:

[code]

On the one hand, I put these libs in the cross-compile toolchain, and add the following configs to my CMakeLists.txt:

[code]

And when I start b

[2020-12-25 13:26] IHIDCHAOS commented on #660
I also tyied with option "BUILD_SHARED_LIBS=ON" from [link](https://github.com/openthread/ot-br-posix/pull/522) when building ot-br-posix, but useless.

[2020-12-31 17:24] #653 closed

[2021-01-21 09:47] tarunsmalviya commented on #655
@jwhui Okay. Give me some time.

[2021-01-21 22:32] martinzi opened #684 "[otbr-web] Empty status page"
Status page remains empty due to missing "Mesh Local Prefix" in active dataset.

[2021-01-24 15:11] stevew817 commented on #470
@bukepo I'm circling back to this issue here. Is there any update re. adding support for auto-assigning delegated prefixes?

Upon re-reading your comments and the linked PR, I think we might've been talking about different things. Your PR was about doing RA across the router, but my issue is rather with DHCPv6-PD.

The current `otbr` dhcpcd.conf [specifically requests a prefix to be delegated to t

[2021-01-28 15:57] mmcharfi-bluegriot opened #689 "ot-ctl don't retrieve networkdiagnostic get response"
**Describe the bug**
I try to get some information about the network topology by sending the standard Thread diagnostic messages with ot-ctl command networkdiagnostic. I see with the log of otbr-agent that I receive a response from my router but nothing appear in ot-ctl "interface". (the command work with CLI but i need it with ot-ctl).

**To Reproduce**
Start a network.  With ot-ctl send:
 networ

[2021-01-29 04:45] bukepo commented on #689
Could you try the latest build? I think we fixed this issue before.

[2021-01-29 11:04] mmcharfi-bluegriot commented on #689
I try the latest build. Is look to have the same behaviour. Do i need to update the RCP firmware as well ?
I communicate with the RCP with SPI.

[2021-02-01 22:03] martinzi commented on #689
I have similar observations with missing networkdiagnostic responses while using the topology view of otbr-web or the diagnostics REST interface. After some unknown time or events network topology view tends to degrade and remains incomplete.
A reset helps to receive networkdiagnostic get responses as expected with ot-ctl - not on the web interfaces though.
[code]

[2021-02-03 17:00] mmcharfi-bluegriot commented on #689
I update the rcp software with the latest build and also the ot-br-posix:
`> rcp version
OPENTHREAD/20191113-01682-gad91ac3b9; NRF52840; Feb  3 2021 16:37:13

OPENTHREAD/0.01.00; POSIX; Jan 29 2021 10:12:30
`
 But i have nearly the same behaviour. The difference is that now in the log of otbr-agent i didnt see the "processReceive: OK".
I communicate with my  rcp true SPI maybe this feature is not

[2021-02-04 07:32] wgtdkp commented on #689
@mmcharfi-bluegriot I tried the latest otbr with both simulation and UART+nordic devices, both are working for me. Is it possible for you to try simulation or UART devices? So that we can be sure if it is issue with SPI or not.

[2021-02-04 09:34] neye-zhaw opened #694 "nat64 setup script broken on Raspberry Pi OS"
The automatic setup of tayga did not work for me.

The tayga initscript that comes with the current tayga package (Version: 0.9.2-8) looks like this:

[code]

Which means at least [script/_nat64#L50](https://github.com/openthread/ot-br-posix/blob/83babaf236cad8471be28185d8d4351d37564919/script/_nat64#L50) has no effect. I did not check the other lines.

[2021-02-04 10:01] bukepo commented on #689
@mmcharfi-bluegriot What's the platform your otbr-agent running on?

[2021-02-04 10:11] mmcharfi-bluegriot commented on #689
@bukepo I a run on Raspberry pi 3b+, and my rcp is a nrf52840 package in a fanstel module (bt840X). @wgtdkp Thanks, i will try with uart rcp later in the day and keep you in touch.

[2021-02-04 10:14] wgtdkp commented on #689
@mmcharfi-bluegriot Are you building with `OTBR_REST`?

[2021-02-04 11:06] mmcharfi-bluegriot commented on #689
@wgtdkp ha ok, I didnt build with OTBR_REST isn't set to 1 by default ? there is my compilation step:
[code]

[2021-02-05 07:36] martinzi commented on #122
Current dhcpcd version 8.1.2 installed from apt repository works fine. Changes introduced with #123 should be reverted as they cause PD to fail on RaspiOS Buster.

[2021-02-05 12:08] wgtdkp commented on #689
@mmcharfi-bluegriot

You should not use `OTBR_REST` and CLI at the same time, it is expected that the CLI will not receive diagnostic response if OTBR_REST is enabled.

[2021-02-05 23:09] krbvroc1 opened #696 "Default ot-ctl not equivalent to wpanctl"
I built the latest OTBR to run on a RaspPi and I was previously using the deprecated wpanctl. wpanctl allowed me to add-service and remove-service which is not available on the default OTBR build.

1) It would be nice if the same behavior was supported with a default build.

2) Regardless, what is the proper way to enable this. I am lost on all the cmake files and scripts. Looking at the source co

[2021-02-05 23:57] jwhui commented on #696
@krbvroc1 , you can enable ability to add service entries into the Thread Network Data using the [`OT_SERVICE`](https://github.com/openthread/openthread/blob/31746000e85cc733f5c0627a4332244e992192ad/etc/cmake/options.cmake#L270) CMake build option.

You can add the build option to one of the following flies:
- [script/_otbr](https://github.com/openthread/ot-br-posix/blob/master/script/_otbr)
- [th

[2021-02-06 00:18] krbvroc1 commented on #696
@jwhui Thank you very much for the help...  I was close...

I had tried setting SERVICE=1 in  ./third_party/openthread/repo/examples/common-switches.mk
And I tried executing NETWORK_MANAGER=0 SERVICE=1 ./script/setup

I had looked the openthread build page https://openthread.io/guides/build, but it seems your suggestion prefixes the option with OT_ - using the OT_SERVICE version does work.

One ot

[2021-02-06 01:11] jwhui commented on #696
Currently, OTBR does not provide a mechanism to statically configure the on-mesh prefix. One thing you could do is configure the on-mesh prefix as part of a startup script.

Going forward, OTBR needs to provide a mechanism to automatically configure the on-mesh prefix. Note that this does not imply the prefix should be statically configured. There is existing work to enable this:
- openthread/open

[2021-02-06 01:23] #696 closed

[2021-02-06 22:53] krbvroc1 opened #697 "ot-ctl returns incorrectly formatted output"
When using ot-ctl, it returns lines that are terminated with a 'mysterious' 0xd at the end of each line.

I am extracting the mleid of a border router from a script and this illegal character had tripped me up. It appears to be on all ot-ctl output. I am not aware that '\d' is a legal escape code.

Example:
[code]

[2021-02-10 17:35] leonardmgh commented on #660
Did you ever solve your problem?

[2021-02-11 18:44] jwhui commented on #697
The `0d` is the ASCII carriage return (CR) (i.e. `\r`).

[2021-02-11 19:21] krbvroc1 commented on #697
Ok, sorry, I am working on too many things at once.  Now sure how I missed that.. not used to seeing that on Linux since that is more a Windows line terminator.

[2021-02-11 19:21] #697 closed

[2021-02-11 19:34] jwhui commented on #697
Since the OpenThread CLI is often used with a terminal emulator, the inclusion of carriage return is to handle terminal emulation that expect it to move the cursor to the beginning of the line.

[2021-02-15 12:00] nikita-s-wrk opened #698 "No IPv6 address given to wlan0 AP clients"
Is it expected that Border router access point only provides IPv4 addresses to clients via DHCP?

[2021-02-16 03:51] jwhui commented on #698
This is currently expected. For now, you could add the `radvd` service to advertise a prefix and default route:
[code]
Create /etc/radvd.conf with the following contents:
[code]
The start the radvd service:
[code]

As FYI - we are currently working on some enhancements that will automatically manage prefix generation and routing:
- https://github.com/openthread/openthread/pull/5856
- https://githu

[2021-02-18 15:19] mikhail-pridushchenko opened #702 "mDNS announce is missing necessary fields"
**Description:**
otbr-agent doesn't announce on mDNS the information required by the Thread 1.2 specification.
Particular fields missing:
* rv - record format.
* sb - state bitmap.

Fields missing in case of BBR function enabled (not required in non-CCM case, though looking sane):
* dn -Thread Domain Name.
* sq - BBR sequence number.
* bb - BBR port.

**To Reproduce:**

1. Git commit id: 35e9327b8

[2021-02-19 02:14] wgtdkp commented on #702
I can confirm this is a known issue.

[2021-02-20 03:34] IHIDCHAOS commented on #660
I haven't solved it yet. Could you @jwhui  please give us some guidance and help?

[2021-02-21 10:12] wgtdkp commented on #689
@mmcharfi-bluegriot Any updates?

[2021-02-21 23:44] mberg22 opened #705 "Anything Needed in addition to a Raspberry Pi 3B?"
I've compiled both ot-br-posix and the example for nrf52840 with no errors.  I've also been all over the openthread.io site and can't seem to find a statement on this.  Does the Pi 3B have everything it needs to run this?  I see a reference to hooking up a serial cable, which I assume is to an additional board, as It wasn't clear just what or how to "flash" the nrf52840. Again, perhaps in error I

[2021-02-22 05:51] bukepo commented on #705
You need an 802.15.4 dongle which supports OpenThread. You may find many them in https://openthread.io/vendors.

[2021-02-22 07:26] IHIDCHAOS commented on #689
Hi @wgtdkp
I have the same prbolem.
I am running a OTBR on the OpenWrt platform, and I have an nRF52840DK board as a thread end device.
![image](https://user-images.githubusercontent.com/20263334/108672610-5ece1e80-751d-11eb-8aa7-f7129c08fee6.png)
As the picture shows, I can get **child table** and **router table** from ot-ctl,and also I can get **TLV_CHILD_TABLE** and **TLV_NETWORK_DATA** from ne

[2021-02-22 07:56] wgtdkp commented on #689
@IHIDCHAOS
I think this is because `ubus` and `OT CLI` are both setting the network diagnostic callback and `OT CLI` wins:
[code]

I will create a quick fix that sets the callback every time the `otThreadSendDiagnosticGet` is called.

[2021-02-22 07:58] mmcharfi-bluegriot commented on #689
Hi @wgtdkp,
Sorry for the late response. I try with uart devices (NRF52840DK) + RPi but I have the same issues. There is my step:
[code]
Did i set the flag wrong ? I also test without OTBR_REST=0 option but nothing change. I will try with the simulation device, but I am not sure that I am compiling in the good.

[2021-02-22 08:03] wgtdkp commented on #689
@mmcharfi-bluegriot Sorry I didn't make this clear. the options to disable `OTBR_REST` should be:
[code]

[2021-02-22 08:18] wgtdkp commented on #689
@IHIDCHAOS @mmcharfi-bluegriot @martinzi
I submitted two PRs (#707 and https://github.com/openthread/openthread/pull/6192) for this issue, please let me know if this works for you.

[2021-02-23 00:59] IHIDCHAOS commented on #689
It solves my problem.
I can get data from both **ubus** and **OTBR-REST** now.
Thanks!
![image](https://user-images.githubusercontent.com/20263334/108789473-4c9fbf00-75b5-11eb-924b-e6252a8bf667.png)

[2021-02-24 06:33] #689 closed

[2021-02-24 13:33] mmcharfi-bluegriot commented on #689
working for me too. Thanks

[2021-02-25 06:20] #520 closed

[2021-03-01 10:46] mikhail-pridushchenko opened #714 "Thread 1.2 non-CCM OTBR must report 2 bytes of operational dataset security policy flags"
**Describe the bug** In Thread 1.2 non-CCM case OT BR reports security policy flags as defined by Thread 1.1 specification.

**To Reproduce** Information to reproduce the behavior, including:

1. OT BR commit: 3d6ce344a73f58d8dcec2caefa07c205f1484a01
    `openthread` module commit: e49d20ff02aa85a11f3a15d34a7a389516b79472
2. IEEE 802.15.4 hardware platform: nRF52840 dongle
3. Build steps:
    OTBR

[2021-03-01 11:26] EskoDijk commented on #714
Yes, it needs to be 2 bytes of flags.  I did not build this OT BR yet so cannot comment if the build steps / commands are okay or not.

[2021-03-01 16:21] #705 closed

[2021-03-08 08:38] wgtdkp commented on #702
@mikhail-pridushchenko created PR https://github.com/openthread/ot-br-posix/pull/721 for this issue.

[2021-03-12 03:57] jwhui opened #728 "[github-actions] raspbian-check is failing"
**Console/log output**

[logs_5500.zip](https://github.com/openthread/ot-br-posix/files/6127522/logs_5500.zip)

[2021-03-15 03:55] #728 closed

[2021-03-16 06:28] wgtdkp opened #735 "[border-agent] use vendor and product name as MeshCop service instance name"
Current Border Agent implementation is using the Thread network name as the `_meshcop._udp` service instance name.
The Thread network name is not a proper service instance name because we need to publish a new service instance when
the Thread network name changes.

Actually, the Thread network name is advertised as a mDNS TXT entry (`"nn"`) of the `_meshcop._udp` service and only the TXT entry nee

[2021-03-16 06:33] wgtdkp opened #736 "[border-agent] advertise the meshcop service even when the Thread If is disabled."
Current implementation stops advertising the `_meshcop._udp` service when the BR is detached or commissioning with `SPKc` is disabled.

While the Thread specification requires the `_meshcop._udp` service being published when the BR is detached but update the State Bitmap (`sb`) TXT entry to reflect the Thread interface status.

[2021-03-16 11:27] mikhail-pridushchenko opened #737 "DHCPCD breaks OTBR IPv6 connectivity via Ethernet"
**Describe the bug**
OTBR is inaccessible via IPv6 with `dhcpcd.conf` installed by setup script.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id: 083fb6921903441bf44f46c263c123eb4af6e4a9
2. IEEE 802.15.4 hardware platform: nRF52840 (formal, unrelated)
3. Build steps:
[code]
4. Network topology:
OTBR and PC connected to the ethernet switch. Both of them obtain

[2021-03-16 11:33] mikhail-pridushchenko commented on #737
`dhcpcd.conf` variants attached in the archive: [dhcp-ip6-no-ping.tar.gz](https://github.com/openthread/ot-br-posix/files/6148543/dhcp-ip6-no-ping.tar.gz)

* `dhcpcd.conf.orig` - original file.
* `dhcpcd.conf.otbr` - the one installed by setup script.

[2021-03-16 12:03] wgtdkp commented on #737
@mikhail-pridushchenko Can you try with:
[code]

The `DHCPV6_PD` option will change `dhcpcd.conf`.

Another option is to work on the latest OTBR master commit (2f566d8f2b7335a58c05e9616e40fcf3fc1cc919):
[code]

(you will still need to restore the original dhcpcd.conf first because the changes by `DHCPv6_PD` is not easy to be undo.)

This commit has `NETWORK_MANAGER` and `DHCPV6_PD` disabled by def

[2021-03-16 13:03] mikhail-pridushchenko commented on #737
Thank you for the instruction. Everything works fine with the latest comment.

[2021-03-16 13:03] #737 closed

[2021-03-16 13:38] mikhail-pridushchenko opened #739 "Commissioner must send "c/cs" to the Leader via UDP_TX.ntf at least when petitioning 1.2.1 routers"
**Is your feature request related to a problem? Please describe.**
When petitioning a BR, the Commissioner sends "c/cs" directly to its border agent. Thread specification 1.2.1 section 8.7.3.4 requires that message must be sent to the Leader by using UDP_TX.ntf, even though BA is actually the Leader.

**Describe the solution you'd like**
Commissioner should send "c/cs" through UDP_TX.ntf.
Rational

[2021-03-16 13:39] mikhail-pridushchenko commented on #739
Wrong project.

[2021-03-16 13:39] #739 closed

[2021-03-18 00:42] purvisb opened #741 "otbr-agent.service does not start upon reboot sometimes"
**Describe the bug**
otbr-agent.service does not start upon reboot sometimes. I believe as a result of this - ot-ctl is not able to run commands.

Sometimes it does work. I can't identify the pattern.

**To Reproduce**

Git commit id: 2e347449994a90e9082dc3c56f0a0d9004922201

hardware platform: nRF 52840-mdk from maker diary (not a dongle). Border router is running on raspberry pi.

[I followed th

[2021-03-18 02:14] simonlingoogle commented on #741
This happens when `otbr-agent` can not create the TUN device `wpan0`. You can try remove the zombie wpan0 device:
[code]

The `wpan0` device may not be properly removed when otbr-agent crashes. But I am not aware of any other case that it might happen.

Could you give more information on when this issue can happen? Thanks.

[2021-03-18 06:09] #702 closed

[2021-03-18 10:05] jensstruemper opened #742 "OTBR-Agent doesn't start up"
**Describe the bug** A clear and concise description of what the bug is.
I've installed the most recent version of OTBR on a fresh RPI3b debian buster but otbr-agent fails starting

**To Reproduce** Information to reproduce the behavior, including:
./script/bootstrap
INFRA_IF_NAME=eth0 ./script/setup

1. Git commit id
cf3a67383e9e25ca89208234d8efd8bee6b92f25

2. IEEE 802.15.4 hardware platform
nrf

[2021-03-18 12:14] wgtdkp commented on #742
@jensstruemper Thanks for raising this issue, can you help provide the otbr-agent log? you can get the log with:
[code]

[2021-03-18 12:24] jensstruemper commented on #742
Of course!

This is repeatedly showing up in syslog:

Mar 18 12:22:08 raspberrypi systemd[1]: otbr-agent.service: Main process exited, code=exited, status=3/NOTIMPLEMENTED
Mar 18 12:22:08 raspberrypi systemd[1]: otbr-agent.service: Failed with result 'exit-code'.
Mar 18 12:22:13 raspberrypi systemd[1]: otbr-agent.service: Service RestartSec=5s expired, scheduling restart.
Mar 18 12:22:13 raspberry

[2021-03-18 12:45] wgtdkp commented on #742
@jensstruemper You need to rebuild your RCP firmware with one additional option:
1. `THREAD_VERSION=1.2` for automake
2. `-DOT_THREAD_VERSION=1.2` for CMake.

Better to clear the build directory and starts a fresh build.

[2021-03-18 15:02] jwhui commented on #742
@jensstruemper , in openthread/openthread, we just switched the default Thread Version to 1.2 - see https://github.com/openthread/openthread/pull/6281. So if you use the latest from openthread/openthread, you should be able to build an RCP without needing to specify Thread Version 1.2 explicitly.

[2021-03-18 17:53] jensstruemper commented on #742
Thanks @wgtdkp & @jwhui I was indeed using an outdated RCP firmware. I realized it when I copied the syslog.

[2021-03-18 18:28] jensstruemper commented on #742
mhhh, I just tried to build the RPC but it failed:

 make -f examples/Makefile-nrf52840 USB=1 BOOTLOADER=USB
  MKDIR    build/nrf52840
  CONFIG   nrf52840...
(cd build/nrf52840 && /Users/jens/Development/openthread/examples/../configure INSTALL="/usr/bin/install -p" CPP="arm-none-eabi-cpp" CC=" arm-none-eabi-gcc" CXX=" arm-none-eabi-g++" CCAS=" arm-none-eabi-gcc" OBJC="" OBJCXX="" AR="arm-none-eab

[2021-03-18 18:38] jwhui commented on #742
Did you run `./bootstrap` first?

[2021-03-18 19:51] jensstruemper commented on #742
Argh. Yes, but the one in /script. Working fine now.
Thanks!

[2021-03-19 03:46] #742 closed

[2021-03-20 03:09] purvisb commented on #741
This seems to resolve the problem. I'm fine with this being closed

I'm sorry, but I failed to identify a pattern for this issue. It may or may not happen on a reboot. Thats all I can say that seems relevant. let me know if there's some other specific details that are needed.

[2021-03-21 18:14] jwhui opened #748 "[github-actions] meshcop check fails frequently"
**Console/log output**

[logs_6102.zip](https://github.com/openthread/ot-br-posix/files/6178055/logs_6102.zip)

[2021-03-22 01:23] simonlingoogle commented on #741
We are considering a fix for otbr-agent to always take over the `wpan0` TUN interface even if the TUN interface already exists.
This should make otbr-agent more robustness, despite the fact that it's unclear why `wpan0` was not removed.

We can close this issue after the fix is merged.

[2021-03-22 02:58] wgtdkp commented on #748
The log shows that running command `ot-ctl thread start` gives `InvalidArgs` error:
[code]

We have seen such issues in `external commissioner` tests in openthread/openthread github actions. I suspect that OT CLI doesn't receive the whole command `thread start`.

[2021-03-23 00:18] bukepo commented on #748
trying reproduce this issue in https://github.com/openthread/ot-br-posix/pull/753

[2021-03-24 02:57] erjiaqing opened #755 "Add Detach command in DBus API"
**Is your feature request related to a problem? Please describe.** Currently, we have a Reset() command, however, it will restart the whole process and cannot wait for its status. We should have a API for disable thread without reset the whole program.

**Describe the solution you'd like** Add Detach() command.

**Describe alternatives you've considered** A clear and concise description of any alt

[2021-03-25 14:52] #610 closed

[2021-03-29 05:17] 99002507 opened #759 "Unable to connect to BorderRouter-AP"
Hi,
**I have a problem where I'm able to see BorderRouter-AP SSID and when I tried to connect through my mobile it is not connecting, but just showing as saved.**

I'm using Raspberry Pi 3B with nrf52840 dongle for  BorderRouter setup in NCP design and did all the configuration correctly and could able to see the required services running, but facing issue on connecting to Wi-Fi AP. Tried with dif

[2021-03-30 01:27] jwhui commented on #759
There seems to be a regression with the latest Raspberry Pi OS image.

Can you try using a separate Wi-Fi AP? You can try building with:

[code]

Then use raspi-config to connect the RPi to your Wi-Fi AP.

[2021-04-01 13:42] hansdeweerd opened #769 "udp message from ipv4 to ipv6"
is it possible to send a udp message to a node in a thread network?

i can send a udp message from a node on my computer, this computer is connect to a ipv4 only network. this is done by using tayga. but how can i responde to this?

[2021-04-02 09:55] paulrox opened #771 "otbr-agent init failure when increasing rx frame buffer size in OpenThread POSIX"
Hi,

I was facing the "NoBufs" problem when running my border router with OpenThread in RCP configuration and I've tried to increase the OPENTHREAD_CONFIG_PLATFORM_RADIO_SPINEL_RX_FRAME_BUFFER_SIZE value as suggested [here](https://github.com/openthread/openthread/issues/5678).
However, when I increase this value (I've tried 16384 and 32768) I'm no more able to launch the otbr-agent daemon because

[2021-04-02 15:36] jwhui commented on #771
Failing in `RadioSpinel::Init()` typically indicates something even more fundamental than not having enough buffers. If you want to root cause this issue, I suggest trying to determine where `error` is being set to something other than `OT_ERROR_NONE` in `RadioSpinel::Init()`.

[2021-04-05 16:28] #755 closed

[2021-04-06 00:25] jwhui opened #773 "[github-actions] avahi/mdnsresponder check hangs intermittently"
**Describe the bug**

`check (avahi)` hangs intermittently.

[code]

**Console/log output**

[logs_6678.zip](https://github.com/openthread/ot-br-posix/files/6261212/logs_6678.zip)

[2021-04-06 20:37] jwhui commented on #773
It appears that `check (mDNSResponder)` also hangs intermittently.

- [logs_6739.zip](https://github.com/openthread/ot-br-posix/files/6267440/logs_6739.zip)

[2021-04-07 13:07] krbvroc1 opened #778 "Binary build question"
Is there a process or some suggestions on how to build the ot-br-posix (for RaspPi) from source and create some sort of package of installable files or a debian package? I am a novice with CMake.

I'd like to build on either a RaspPi or perhaps docker (assuming it produces ARM executables) and be able to install on another RaspPi without having to repeat the lengthy process or duplicating SD cards

[2021-04-08 02:28] simonlingoogle commented on #741
Hi @purvisb ,

We have a draft fix for this issue: https://github.com/openthread/openthread/pull/6406.
We couldn't verify it because we can't reproduce this exact issue locally.
Could you help verify if the fix works if you come across the issue again?

Thanks.

[2021-04-08 12:34] cahty82008 opened #780 "commissioner in the web ui doesn't work"
**Describe the bug**
**Border router:**
I set up a border router on Raspberry Pi 3B, in the Border Router web UI "Commission" page, i set up two parameters and start the commissioner, and got the information "Commission operation is success":
_Network Passphrase: 12345678
Joiner Pskd: J01NMM_
![image](https://user-images.githubusercontent.com/24818980/114027422-9ef02300-9877-11eb-8ddd-1b2caefee92a

[2021-04-08 19:22] themzlab commented on #780
I have the same question.  Network Passphrase is a confusing term and I didn't see a related term in the command line instructions.

[2021-04-09 03:07] jwhui commented on #780
@cahty82008 , thanks for raising this issue.

"Network Passphrase" should be removed from the Commission page.

I have submitted #780 to fix the issues you have raised.

[2021-04-12 14:12] jwhui opened #786 "[github-actions] script check fails frequently"
[logs_6926.zip](https://github.com/openthread/ot-br-posix/files/6297333/logs_6926.zip)

[2021-04-12 14:35] ChauhanPD opened #787 "Compile Ot-br-posix and RCP image"
My Query is about guide to compile ot-br-posix with web-service and to compile RCP image to which ot-ctl can communicate.

I have taken ot-br-posix and openthread of below commit ids:
ot-br-posix:
#Master branch Commits till Apr 06, 2021
SRCREV = "b9565b4c44c9ccb413748d82905c8ef741768f57"

openthread:
#Apr 7, 2021
OPEN_THREAD_COMMIT_HASH="83cecbb8e3f9418e3953e3ce65c269561b3f947b"

I have compiled

[2021-04-12 15:07] jwhui commented on #787
@ChauhanPD , have you taken a look at:

1. [Border Router Build and Configuration Guide](https://openthread.io/guides/border-router/build)
2. [Border Router Codelab](https://openthread.io/codelabs/openthread-border-router#0)

[2021-04-12 19:37] purvisb commented on #741
@simonlingoogle Apologies for the delay. I am aware of this - I'm aiming to get back to you next weekend.

[2021-04-13 02:52] simonlingoogle commented on #786
This issue seems to happen a lot recently.

[code]
`otbr-agent` just exit unexpectedly without further information.
Currently, I don't have any clue on this issue.

[2021-04-13 09:26] luyou-tuya opened #790 "otbr-agent can not running"
**Describe the bug** A clear and concise description of what the bug is.
  I git clone https://github.com/openthread/ot-br-posix.git  Latest code
The compilation steps are as follows：
cd ot-br-posix
./script/bootstrap
INFRA_IF_NAME=eth0 ./script/setup
After the compilation is successful, restart the device, but otbr does not run
~# ot-ctl
connect session failed: No such file or directory
I manuall

[2021-04-13 09:37] wgtdkp commented on #790
Upgrade your RCP firmware to Thread 1.2. You can rebuild it with the `THREAD_VERSION=1.2` option for makefile or `OT_THREAD_VERSION=1.2` option for CMake (remember to clean the build directory before rebuilding). Another option is to update the RCP to the latest openthread main branch.

[2021-04-13 09:39] luyou-tuya commented on #790
Thank you！

[2021-04-13 14:47] #790 closed

[2021-04-13 23:01] jwhui commented on #644
Closing stale issue.

[2021-04-13 23:01] #644 closed

[2021-04-13 23:05] jwhui commented on #29
Closing stale issue.

[2021-04-13 23:05] #29 closed

[2021-04-13 23:05] jwhui commented on #103
Closing stale issue.

[2021-04-13 23:05] #103 closed

[2021-04-13 23:06] jwhui commented on #104
Closing stale issue.

[2021-04-13 23:06] #104 closed

[2021-04-13 23:06] jwhui commented on #324
Closing stale issue.

[2021-04-13 23:06] #324 closed

[2021-04-13 23:07] jwhui commented on #611
Closing stale issue.

[2021-04-13 23:07] #611 closed

[2021-04-13 23:07] jwhui commented on #333
Closing stale issue.

[2021-04-13 23:07] #333 closed

[2021-04-13 23:07] jwhui commented on #466
Closing stale issue.

[2021-04-13 23:07] #466 closed

[2021-04-13 23:09] jwhui commented on #647
Closing stale issue.

[2021-04-13 23:09] #647 closed

[2021-04-13 23:09] jwhui commented on #648
Closing stale issue.

[2021-04-13 23:09] #648 closed

[2021-04-13 23:11] jwhui commented on #684
Resolved by #685

[2021-04-13 23:11] #684 closed

[2021-04-13 23:12] jwhui commented on #23
Closing stale issue.

[2021-04-13 23:12] #23 closed

[2021-04-13 23:13] jwhui commented on #28
Closing stale issue.

[2021-04-13 23:13] #28 closed

[2021-04-14 00:20] jwhui commented on #349
Closing stale issue.

[2021-04-14 00:20] #349 closed

[2021-04-14 00:20] jwhui commented on #362
Closing stale issue.

[2021-04-14 00:20] #362 closed

[2021-04-14 00:21] jwhui commented on #483
Closing stale issue.

[2021-04-14 00:21] #483 closed

[2021-04-14 00:21] jwhui commented on #504
Closing stale issue.

[2021-04-14 00:21] #504 closed

[2021-04-14 01:11] krbvroc1 commented on #787
@jwhui Those guides lack reproducibility. I am struggling with this myself (once again).

For example, if I want to create an OTBR using docker, how do I specify which git commit to use so I can create the same version next week as now? The docker process just fetches the latest, builds, and then deletes/uninstalls all the source tree it used! So how to even change build options?

And since someon

[2021-04-14 01:16] jwhui commented on #787
The Border Router Build and Configuration Guide includes a section on how to build the Docker image [Build the Dockerfile](https://openthread.io/guides/border-router/docker#build_the_dockerfile).

To build using a specific commit, just use:
[code]

1. `git checkout <commit>`
2. `git submodule

[2021-04-14 01:22] krbvroc1 commented on #787
But where to issue those commands? I used the Dockerfile and I am confused if it actually builds based on the git tree it is run from, or it actually downloads the otbr-latest docker image from dockerhub and uses that. I have a feeling it does the later which means it is not reproducible.

[2021-04-14 01:30] jwhui commented on #787
Dockerfile builds directly from the local source tree - see [etc/docker/Dockerfile](https://github.com/openthread/ot-br-posix/blob/main/etc/docker/Dockerfile).

So just make sure your source tree is checked out to the commit you want (including submodules) before calling `docker build`.

[2021-04-14 01:34] krbvroc1 commented on #787
Ok, pardon my ignorance then, I thought I had to build with the Dockerfile, get a bash shell and rebuild inside the container. I was ignorant of the fact that it uses the source tree. So I guess I just modify the source tree locally (such as script/_otbr) to enable features. I thought I had to pass them as environment variables or something.

And if I look at the OTBR git history...
submodule: bum

[2021-04-14 01:37] jwhui commented on #787
While the serial interface between RCP and `ot-daemon` is relatively stable, it does change on occasion - like the recent switch to Thread 1.2.

Probably a good idea to stay in sync between the repos. `git submodule update` should do that for you. You can even go `third_party/openthread/repo` and build from there.

[2021-04-14 02:11] krbvroc1 commented on #787
That sounds convenient, but doesn't the Dockerfile delete that directory? Or there something obvious I am missing on how to do that?

Also, rather than modify source code, I tried `docker build --build-arg OTBR_OPTIONS="-DOT_SERVICE=ON"`, but it doesn't appear that enables the SERVICE option. Is there some other magic to do this via the command line?

[2021-04-14 03:14] jwhui commented on #787
Dockerfile doesn't touch your local source tree. When building Docker, your local source tree is copied into Docker.

When building the RCP, just stay in your local source tree.

That should enable the SERVICE build feature.  How did you determine that the SERVICE feature is not enabled?

[2021-04-15 05:25] #780 closed

[2021-04-15 07:43] simonlingoogle commented on #786
Not sure if I reproduced the exact same issue, but I got this core dump when running `script-check` in ubuntu focal docker:

[code]

note that this crash is of `otbr-web` problem, not `otbr-agent`.

Is it possible any recent change has caused this crash? @jwhui @bukepo

[2021-04-15 08:44] simonlingoogle commented on #786
This issue may have been caused by #782. See #794.

[2021-04-15 16:29] #786 closed

[2021-04-15 21:03] krbvroc1 commented on #787
What I think is confusing the issue here is that I also used Docker to build the RCP, so I wasn't clear on how to reuse that local source tree. I guess it doesn't apply since I am not cross compiling on the native host.

You are correct, after finally getting things running, the service commands are present. I was looking at the build process which was scrolling by and I did not see the '-DOT_SERV

[2021-04-15 21:09] jwhui commented on #787
I cannot locate commit `aad6518ee`, but Thread 1.2 should be fully backward compatible with Thread 1.1.

Can you provide the steps/commands you are using so that we can reproduce the issues you are seeing?

[2021-04-15 21:27] krbvroc1 commented on #787
I have tried so many things that I have forgotten what/where I am to be honest... Thinking about reverting to the OTBR commit on my RaspPi from Feb 2 and reverting the RCP that same date.

Just as an example,
Docker OTBR:
[code]
And on the single FTD:
[code]
I don't understand it, the OTBR has a higher activetimestamp yet they do not sync up and they have different Mesh Local Prefix. It has been s

[2021-04-16 01:15] jwhui commented on #787
@krbvroc1 , thanks for sharing more details. Unfortunately, I am not yet able to reproduce this behavior locally.

Can you also provide the output of `ipaddr` command on both devices?

If there's any chance you can share steps/commands to reproduce this behavior, that would help a lot.

[2021-04-16 03:35] krbvroc1 commented on #787
I went back to an earlier version of OTBR (running on RaspPi instead of Docker) and RCP and factory reset everything so both BR and FTD had the same dataset. What I have found so far is that even though I set a prefix and netdata register it, while the prefix does make it to the FTD, it does not show up under ipaddr on the FTD. The FTD is not adding/create a ip addr based on  the prefix. I am star

[2021-04-16 04:13] jwhui commented on #787
Can you tell whether the Zephyr build enables OpenThread's `SLAAC` feature? OpenThread requires this feature to autoconfigure an IPv6 address.

Otherwise, this might be something specific to Zephyr. Maybe @LuDuda can provide some input.

[2021-04-16 17:11] krbvroc1 commented on #787
I spent so many hours trying to figure this out and trace where the problems were among so many things... Why in the world would Nordic not set this option in their coap_client sample (or any sample for that matter). Enabling it has gotten routing working on the RaspPi. Now, I will try Docker again.

[2021-04-19 04:51] purvisb commented on #741
I cloned [superwhd/openthread](https://github.com/superwhd/openthread/tree/otbr-takeover-tun) and switched to the otbr-takeover-tun branch. I Built the RCP firmware from that repo and burned it into the chip.

I commented out the temporary fix from my bootscript: `sudo ip link del wpan0`

After a couple of reboots, the issue came up again. Let me know if I'm implementing the drafted fix correctly.

[2021-04-19 06:34] simonlingoogle commented on #741
Hi @purvisb

Thanks for the feedback.

In the case if the issue, when there is a zombie `wpan0` interface, what is the output of running otbr-agent manually?

e.g.
[code]

[2021-04-20 14:28] #637 closed

[2021-04-20 16:48] purvisb commented on #741
@simonlingoogle
[code]

[2021-04-21 02:54] simonlingoogle commented on #741
@purvisb

I noticed that your program still crashed at `src/posix/platform/netif.cpp:1299`, however in @superwhd 's fix branch, there is no longer a `VerifyOrDie` statement at line 1299:
[code]

Can you verify if you are using the correct openthread repo?

One thing to note is that `script/bootstrap` will reset the submodules. You change to openthread submodule may be reverted.

[2021-04-22 05:22] #787 closed

[2021-04-22 05:42] bukepo commented on #778
you may build a package through `script/test clean package`.

[2021-04-22 11:43] mikhail-pridushchenko opened #809 "OTBR must announce non-local IPv6 address if available"
**Describe the bug**
Under some circumstances the OTBR creates mDNS announce with link-local IPv6 address. As result commissioner is unable to connect to the BR with discovered address. The issue has stochastic nature. That is: only one of 3 BRs with same software reproduces the issue.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id a362436119261c7ea8f74a778b0

[2021-04-23 02:27] bukepo opened #810 "[github-actions] test_dua_dad.py fails intermittently"
[thread-1-2-backbone-results.zip](https://github.com/openthread/ot-br-posix/files/6362273/thread-1-2-backbone-results.zip)
[logs_7548.zip](https://github.com/openthread/ot-br-posix/files/6362274/logs_7548.zip)

[2021-04-25 10:25] wgtdkp commented on #809
@mikhail-pridushchenko Thanks for the issue!
We are using `mDNSResponder` for advertising the `_meshcop._udp` service and
it is the mdns deamon that decides not preferring addresses with larger scope. I didn't find a to control this
behavior.

The OTBR is advertising in both IPv4 and IPv6 address spaces and the commissioner is discovering in only IPv4
space. I submitted https://github.com/openthre

[2021-04-27 04:31] ChauhanPD commented on #787
One more query:
script/setup modifies and/or adds files to the file-system along with compilation. Right? So, in my case of Yocto compilation, it actually modifies files of my PC and compiles code of the yocto build folder.
Is it okay to set up after compilation? Is there any dependency of set-up before compilation? Can we do only compilation and then set-up? If yes, kindly guide me to do the only

[2021-04-27 10:11] ChauhanPD commented on #787
https://openthread.io/platforms/co-processor/ot-daemon
is it necessary to run ot-daemon before ot-ctl?

git clone --recursive https://github.com/openthread/ot-nrf528xx.git
$ cd ot-nrf528xx
$ script/build nrf52840 USB_trans

Is this the correct source? or https://github.com/openthread/openthread is correct? for RCP image

[2021-04-27 17:29] jwhui commented on #787
We are currently transitioning platform-specific code from https://github.com/openthread/openthread to https://github.com/openthread/ot-nrf528xx

[2021-04-28 04:58] jwhui opened #817 "[github-actions] meshcop test fails intermittently"
[logs_7747.zip](https://github.com/openthread/ot-br-posix/files/6389182/logs_7747.zip)

[code]

[2021-04-28 05:35] ChauhanPD opened #818 "Compile ot-br-posix for i.mx6ull in Yocto build system."
I need to compile the ot-br-posix source code for i.mx6ull processor as host and in yocto build system in my PC having Ubuntu 18.04 OS.
I am using ot-br-posix code of below commit id
#Master branch Commits till Apr 06, 2021
SRCREV = "b9565b4c44c9ccb413748d82905c8ef741768f57"

Kindly have an answer to each query

1. in my recipe file (.bb), I have called script/setup file.
This script/setup modifie

[2021-04-29 02:55] #817 closed

[2021-04-29 08:14] LanderN opened #823 "Building DBus client separately (as a library)"
**Is your feature request related to a problem? Please describe.**
For our C++ application, we need to issue commands to the running otbr-agent instance. The DBus API seems like a good way (the only way?) to do this. The provided DBus client code is easy-to-use and can save a lot of time writing our own wrapper. Unfortunately, it doesn't seem possible to build the dbus client for use by our applic

[2021-04-30 05:55] ChauhanPD commented on #818
hello All,

Kindly give your valuable inputs.

Regards.

[2021-04-30 14:58] jwhui commented on #694
Resolved by #782

[2021-04-30 14:58] #694 closed

[2021-04-30 23:46] gabekassel opened #826 "MeshCoP Service does not have conflict resolution with Avahi daemon"
**Describe the bug**
When multiple BRs exist on the same infrastructure network with the same network name, OTBR does not conduct conflict resolution to allow all services to coexist.

**To Reproduce**
Place two BRs on same wifi/ethernet network with same network name

**Expected behavior**
Append integer or some unique identifier to resolve conflict. Believe Avahi has something built-in for this.

[2021-05-01 01:00] jwhui commented on #748
Resolved by https://github.com/openthread/openthread/pull/6333

[2021-05-01 01:00] #748 closed

[2021-05-01 01:03] jwhui commented on #769
OTBR implements NAT64 using TAYGA. As is typical with stateful NAT, communications must be initiated by Thread devices so that the NAT can setup the network translation mapping. An IPv4 host responding to a UDP/IPv4 message initiated by a Thread device should be able to respond to the packet's IPv4 source address and UDP source port.

[2021-05-01 01:03] jwhui commented on #771
Closing stale issue.

[2021-05-01 01:03] #771 closed

[2021-05-03 09:44] hansdeweerd commented on #769
ok, thanks. but the source address from the ping and the upd message are from raspberry pi.

what am I doing wrong then? Tayga gives the node in the thread network an ipv4 address from the dynamic pool. but the source address is still from the raspberry pi.

[2021-05-03 12:48] ChauhanPD commented on #818
Hello @jwhui @abtink @wgtdkp

Do you have any suggestions?

[2021-05-03 15:46] jwhui commented on #769
That is how stateful NAT is typically configured. The NAT uses the IPv4 address assigned to its external interface as the external IPv4 address and uses the external UDP port to map to an internal IPv6 address an UDP port.

[2021-05-05 05:44] ChauhanPD commented on #818
Hello @jwhui @abtink @wgtdkp

https://openthread.io/platforms/co-processor
As per the above link:
"Radio Co-Processor (RCP) — Application layer and OpenThread core on the host processor, minimal OpenThread MAC on the 802.15.4 SoC. Communication between the RCP and the host processor is managed by OpenThread Daemon through an **SPI interface** over the Spinel protocol."

So, where do we give the in

[2021-05-05 21:32] abtink commented on #818
@ChauhanPD ,

 - RCP requires a OpenThread POSIX app (see [link](https://github.com/openthread/openthread/tree/main/src/posix) process to run on host (which implements the Thread protocol)
   - When running posix app, you specify the radio as radio URL link.
   - You can see all options (which include SPI) here: https://github.com/openthread/openthread/blob/main/src/posix/platform/radio_url.cpp#L3

[2021-05-06 06:51] saurabhst opened #832 "Build errors on latest Master for ot-br-posix on Ubuntu 20.10"
Build errors on latest Master for ot-br-posix on Ubuntu 20.10

Followed the build instructions at (https://openthread.io/guides/border-router/build)

Platform used : Ubuntu 20.10 VM

Build Error logs -
[code]

Other set of errors -
[code]

[2021-05-06 08:02] wgtdkp commented on #832
Did you run "script/bootstrap"?

BRs,
Kangping

On Thu, May 6, 2021 at 2:51 PM saurabhst ***@***.***> wrote:

[2021-05-07 06:03] saurabhst commented on #832
@wgtdkp  yes I ran `script/bootstrap`.

I got the build working after I uninstalled `libavahi-compat-libdnssd-dev` on my Ubuntu VM . I did have a previous version of ot-br-posix installed before though.  Maybe that was the reason . Thanks for the help .I'll go ahead and close the issue.

[2021-05-07 06:04] #832 closed

[2021-05-08 21:28] gabekassel commented on #818
Here is a sample of a known working Yocto recipe for otbr-agent. As @abtink notes, you'll need an RCP/NCP running OT firmware. I would recommend invoking otbr-agent using whatever system manager in your system (example shown packages a systemd service that itself calls otbr-agent with the radio URL as specified when running otbr-agent --help).

ot-ctl is the interface to ot-daemon and otbr-agent.

[2021-05-10 04:02] wgtdkp commented on #736
@gabekassel  aha, that could be a workaround but there are service parameters that varies depending that the Border Router state and configuration (e.g. the `discriminator` value and `ConnectionMode`).

The expected solution is to advertise the meshcop service once the OTBR process is started and update the service parameters when the Border Router formed a Thread network by itself or is attached

[2021-05-10 06:29] Vandoul opened #835 "otbr hw is raspberrypi+rcp(nrf52840 USB). bind9.service, logrotate.service and man-db.service didn't work usually, when they work with several hours."
**Describe the bug** A clear and concise description of what the bug is.
The wpan0 interface disappeared when bind9, logrotate and man-db service run error. End devices can not work with otbr.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id :
    master branch
2. IEEE 802.15.4 hardware platform :
    NRF52840
3. Build steps
`
./script/bootstrap
INFRA_IF_NAME=e

[2021-05-10 16:18] jwhui opened #837 "[github-actions] meshcop test fails"
[logs_8188.zip](https://github.com/openthread/ot-br-posix/files/6453513/logs_8188.zip)

[code]

[2021-05-10 16:20] jwhui opened #838 "[github-actions] docker-check (UART) fails"
[logs_8187.zip](https://github.com/openthread/ot-br-posix/files/6453530/logs_8187.zip)

[2021-05-10 16:25] jwhui commented on #769
Closing stale issue.

[2021-05-10 16:25] #769 closed

[2021-05-10 16:25] jwhui commented on #778
Closing stale issue.

[2021-05-10 16:25] #778 closed

[2021-05-10 16:25] jwhui commented on #655
Closing stale issue.

[2021-05-10 16:25] #655 closed

[2021-05-11 06:24] #837 closed

[2021-05-11 06:24] jwhui commented on #838
Resolved by #839

[2021-05-11 06:24] #838 closed

[2021-05-12 16:13] wgtdkp commented on #809
@mikhail-pridushchenko can you help confirm if the PR resolves your issue?

[2021-05-12 16:15] mikhail-pridushchenko commented on #809
I confirm it solves the issue. Thanks for the fix.

[2021-05-12 17:19] jwhui commented on #809
Resolved by https://github.com/openthread/ot-commissioner/pull/198

[2021-05-12 17:19] #809 closed

[2021-05-18 21:21] jwhui commented on #549
Closing stale issue.

[2021-05-18 21:21] #549 closed

[2021-05-18 21:22] #642 closed

[2021-05-18 21:23] jwhui commented on #759
Closing stale issue.

[2021-05-18 21:23] #759 closed

[2021-05-18 21:24] jwhui commented on #818
Closing stale issue.

[2021-05-18 21:24] #818 closed

[2021-05-19 22:02] vijayrao1988 opened #854 "RCP has disconnected from a network and now fails to connect to that network"
**Description**
I have a RCP + SBC device operating as a Border Router (OTBR) in a network of 18 devices. This network has been stable since the past 3 weeks. Since this morning, the Border Router device has been disconnected from the network. I can see all 17 devices on scan.

I have rebuilt otbr-posix on the SBC and done several resets and factory resets on the RCP through CLI (ot-ctl) but nothi

[2021-05-20 02:23] erjiaqing opened #855 "Add DBus API for register SRP service"

[2021-05-20 02:24] erjiaqing commented on #855
@jinran-google

[2021-05-20 02:28] jwhui commented on #854
@vijayrao1988 , can you provide more detail on your setup?

Are the other devices Full Thread Devices (FTDs) or Minimal Thread Devices (MTDs)?

I would look into [MleRouter::HandleParentRequest()](https://github.com/openthread/openthread/blob/178ac739389a296246e53c8e38108dd6bc79dbc1/src/core/thread/mle_router.cpp#L1550) to see which of the conditions that result in `kErrorDrop` are occuring.

[2021-05-20 08:57] vijayrao1988 commented on #854
The setup consists of 18 devices: 17 Full Thread Devices running a Thread stack off a Silicon Labs SDK and 1 RCP running a OpenThread Thread stack.
Physically, they are put on frame with 4 rows of 4 devices each and a 5th row with 1 device. The OpenThread RCP sits below this frame. The txpower on the devices is 0dBm as is the case with the RCP.
They were working fine for 3 weeks.
I must add that i

[2021-05-20 12:07] vijayrao1988 commented on #854
How do I look for more details from MleRouter::HandleParentRequest() in the logs?

[2021-05-20 19:00] jwhui commented on #854
You would either need to add additional logging or use a debugger to inspect which condition is failing.

If all the devices are FTDs, then I'm surprised as to why devices would be sending Parent Request messages to the RCP? The FTDs should already have formed a network among themselves and the RCP should be joining that network.

[2021-05-20 21:10] vijayrao1988 commented on #854
Fair point. I think the devices entered some sort of an error state, in this case, where they weren't joining a network with matching parameters nor letting any other device join their network.

Update: We introduced 2 new devices to the network; 1 device running the same firmware as the Silicon Labs FTDs and another OpenThread RCP. This seemed to cause some sort of a brokering which unblocked the

[2021-05-21 15:29] vijayrao1988 commented on #854
The error has reoccured. I'm attaching the syslog output for otbr. Any observations that can help to resolve this issue?

In this log file, the initial part shows the presence of the devices through a scan. There are several Frame RX errors as well in the log. Could this be the problem?

[syslog-IsolatedBorderRouter.txt](https://github.com/openthread/ot-br-posix/files/6523532/syslog-IsolatedBorder

[2021-05-21 15:35] jwhui commented on #854
From the logs, it appears that OTBR is not able to join the existing partition. It sends MLE Parent Request messages, without receiving any MLE Parent Response.

From the logs, it's not clear why the other nodes are not responding to OTBR's MLE Parent Request message. Perhaps this is an issue with the legacy Thread implementation that you are using on the other devices?

[2021-05-21 15:36] deimi opened #859 "libdns is missing in focal docker image"
**Describe the bug**
The focal docker image is missing libdns.
![image](https://user-images.githubusercontent.com/8256985/119162522-c3384580-ba5a-11eb-869c-5f5ed850c6ee.png)

Relevant apt package is not installed:
![image](https://user-images.githubusercontent.com/8256985/119162129-5329bf80-ba5a-11eb-98a7-96bffed16c5e.png)

**Expected behavior**

Same as for the bionic image:
![image](https://user

[2021-05-21 15:41] jwhui commented on #859
@deimi , are you using the Docker Hub images?

https://openthread.io/guides/border-router/docker#get_the_otbr_docker_image

[2021-05-21 15:43] deimi commented on #859
@jwhui yes

[2021-05-21 15:50] vijayrao1988 commented on #854
Could someone help me with this please?

[code]

[2021-05-21 15:51] deimi commented on #859
hmmm ok, it seems that libdns_sd.so is in the focal image, despite the apt package is not installed. So the problem probably is somewhere in our own image.

I will update this issue as soon as I found out more

[2021-05-21 17:20] abtink commented on #854
@vijayrao1988 the log line `Frame rx failed, error:UnknownNeighbor, ...` simply shows that device received a secure frame from an unknown neighbor/device (a device not yet in neighbor table) and therefore it is dropping it. This log line itself is not bad and not necessarily a bug or issue. It's just a notification to show what's happening. That's expected when you have devices/neighbors in anothe

[2021-05-24 15:21] vijayrao1988 opened #864 "mDNS service for OTBR"
**Possible Use Case**
Thread mesh networks typically result in dynamic router tables and the intention of the self-forming and self-healing routing algorithm allows devices to pick up IP addresses as per availability. Border Routers being gateways, usually host important end-points and would benefit from publishing and discovering RCPs. For instance, I have a network with multiple RCP+OTBR and wou

[2021-05-24 15:50] wgtdkp commented on #864
@vijayrao1988 Do you want to ping from Thread end devices or Wi-Fi/ethernet hosts?

For ping from Thread end devices, @abtink @simonlingoogle I believe the "ping otbr1.local (otbr1.default.service.arpa)" function can be implemented with the OpenThread DNS client and server.

[2021-05-24 16:44] vijayrao1988 commented on #864
I would like to ping from Thread end devices.

The Thread network is completely made up of [_RCP + OTBR (Single Board Computer)_] devices.

[2021-05-24 22:13] jwhui opened #865 "[github-actions] meshcop test fails intermittently"
[logs_8923.zip](https://github.com/openthread/ot-br-posix/files/6535242/logs_8923.zip)

[code]

[2021-05-25 09:18] deimi commented on #859
@jwhui Sorry for the inconvenience, it was basically a fault in our image

[2021-05-25 09:18] #859 closed

[2021-05-28 10:42] caipiblack opened #872 "The `On-Mesh Prefix` is not transmit to thread devices"
**Describe the bug**

When I create a new network using the WebClient or command line client (`ot-ctl`), the `On-Mesh Prefix` is configured, but when I connect a board into the Thread network, the board doesn't receive the `On-Mesh` IPV6. **So, I can't ping the Thread board from the border router or the RPI because it didn't have any accessible IPV6**

**To Reproduce**:

- Commit ID: 18b34dac9aef6

[2021-05-28 14:44] jwhui commented on #864
@vijayrao1988 , take a look at our [Thread Border Router - Bidirectional IPv6 Connectivity and DNS-Based Service Discovery](https://openthread.io/codelabs/openthread-border-router#0) Codelab.

[2021-05-29 02:49] simonlingoogle commented on #864
To ping otbr from thread devices using domain names, I would suggest to use SRP instead of mDNS.
- Each otbr should register a SRP service
[code]
- Now, you can browse or resolve the services from any thread device:
[code]

[2021-05-29 08:33] wgtdkp commented on #872
The Thread end device and the Thread Border Router (the Raspberry Pi) are not in the same Thread Network.

To join the Thread end device to the Network formed by the OTBR:
1. Get the Active Operational Dataset on the OTBR:
[code]
2. Copy the HEX string
3. connect to your Thread end device and set the same Active Operational Dataset:
[code]

Wait a minute and make sure the end device goes to state

[2021-05-31 07:51] caipiblack commented on #872
Hello,
I tried what you write, but doing this I am still unable to ping my thread device from the border router or the RaspberryPI.

This is the result of `sudo ot-ctl ipaddr` on the BR:

[code]

Configuration of the thread device:

[code]

A few moments later, the `ipaddr` command, return this:

[code]

I try to ping all of these addresses without success from the raspberry PI (using `ping` and `

[2021-05-31 08:10] wgtdkp commented on #872
Can you confirm this on the end device?

[2021-05-31 10:27] caipiblack commented on #872
It's strange when the end device enter in the thread network it became leader.

The configuration of the BR:

![image](https://user-images.githubusercontent.com/29680146/120179462-e7d6af00-c20a-11eb-9cfd-a6abf7cea67a.png)

The configuration of the end device (to join thread network):

![image](https://user-images.githubusercontent.com/29680146/120179826-587dcb80-c20b-11eb-9752-e3111274b4bd.png)

[2021-05-31 11:59] caipiblack commented on #872
Every time I enter the command that you gave me previously (`dataset set active ....`) the 'end device' become a leader ! And if he was previously connected to the Border Router, he is disconnected.

Exemple:

[code]

Then I enter the command on the end-device, and it is disconnected.

[code]

Proof:

[code]

[2021-05-31 12:56] caipiblack commented on #872
Note that when I connect the "end device" to the thread network without using your command. The "end device" state change to "detached".

[code]

[2021-06-01 01:45] wgtdkp commented on #872
@caipiblack This seems not reasonable to me. Is it possible for you to try with two new boards?

[2021-06-01 05:44] senthil-nag commented on #229
Hi Jonathan
   Sorry for replying old case.
   I have used this raspian stretch lite, but it is giving CMake an error for need a higher version of CMake and here cmake only available for version 3.7.2-1 but needs a minimum of 3.10.2 above version.
How to make updates for the CMake version.
When I run the .script/bootstrap it gave an error (CMake required minimum 3.10.2 and above version).

When I

[2021-06-01 05:48] jwhui commented on #229
@senthil-nag , the above instructions are old. Can you try using the latest documentation available?

1. [OpenThread Border Router Build and Configuration](https://openthread.io/guides/border-router/build)
2. [Thread Border Router Codelab](https://openthread.io/codelabs/openthread-border-router#0)

[2021-06-01 06:39] senthil-nag commented on #229
Thanks Jonathan, I will try this thing right now.
 I think after installation definitely I'll get output.
Thanks &Regards
Senthil

[2021-06-01 07:25] caipiblack commented on #872
What i know is that if i use another border router from another raspberry pi image, it works with the same end device:

- The end device get the `fd11:...` IPV6 automatically.
- It can be ping from the BR using this IPV6

But it's a pre-mounted border router and from another manufacturer: Qorvo.

That's why I think the problem is with the border router configuration or HW but not around the "end d

[2021-06-01 14:02] senthil-nag commented on #229
Hi Jonathan
Here when I enabling Network Manager to create a Wi-Fi AP, in the terminal I gave this command  to Enable
Network Manager "BORDER_ROUTING=0 NETWORK_MANAGER=1 ./script/setup".
But I can't enable the Network Manager still.
And one more thing in "sudo systemctl status", here "otbr-agent.service" is not running.
But I have enabled these services.
otbr-agent.service                     enab

[2021-06-01 20:26] jwhui commented on #229
@senthil-nag , you can take a look at the logs in `/var/log/messages` to see if there are any errors generated by `otbr-agent`. Please create a new GitHub Issue if you want to discuss further.

[2021-06-02 09:08] caipiblack commented on #872
After some debugging using another ot-rcp board (NRF52840), I just realized that the manufacturers implementation of ot-rcp is not up-to-date, and makes troubles with last versions of ot-br-posix.

When I use the implementations from `openthread` repository, it works perfectly!

**Conclusion:**

1. Use this to build ot-rcp firmware:

[code]

2. Do not use this: [AN1256](https://www.silabs.com/docu

[2021-06-02 09:08] #872 closed

[2021-06-03 14:30] silabs-sebastien commented on #872
For your RCP and OTBR to be compatible, you would need to use compatible sources. In the case of EFR32-based radio boards (Silicon Labs), you would need to either use RCP and OTBR code from the same GSDK version _or_ RCP and OTBR code from the public repos (ex: [ot-efr32](https://github.com/openthread/ot-efr32) for the EFR32 radio boards). Mixing and matching the two code sources will most certain

[2021-06-03 14:33] suveshpratapa commented on #872
@caipiblack AN1256 is meant for use with stable ot-br-posix and openthread commits that we test and link against our Silicon Labs GSDK releases.  If you are using ot-rcp that comes with Simplicity Studio for a given release, it is compatible with the version of ot-br-posix that also comes with that release.

If you do want to use the latest openthread code, you're right, please build your applicat

[2021-06-04 06:54] rohithanayady commented on #109
Why Thread Commissioning App takes more time to add the new devices into the Thread network after scanned the QR code

[2021-06-04 07:25] rohithanayady commented on #176
It take long time ,5-10 minutes for adding a new device to the thread network using Thread Commissioning app.What will be the reason and how it rectify?

[2021-06-04 19:20] jwhui opened #879 "Why Thread Commissioning App takes more time to add the new devices into the Thread network after scanned the QR code"
Why Thread Commissioning App takes more time to add the new devices into the Thread network after scanned the QR code

_Originally posted by @rohithanayady in https://github.com/openthread/ot-br-posix/issues/109#issuecomment-854412659_